﻿@model Accounting.Web.Models.DBModels.CostCentreModel

    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Add Cost Centre</h4>
        </div>
        <div class="modal-body">
            @*<div class="form-group">
                <select id="ddl_LegalEntity" class="form-control">
                    
                    <option value="0">Legal Entity</option>
                    @foreach (var item in @ViewBag.AllMajorCategory)
                    {
                        <option value="@item.MajorCostCentreID">@item.MajorCostCentreName</option>
                    }
                </select>
                <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
            </div>*@
                <div class="form-group">
                    @*<span>District name</span><span class="form-error-msg">*</span>*@
                    @Html.TextBoxFor(m => m.CostCentreName, new { @class = "form-control", tabindex = 2,  placeholder = "Cost Centre name" })
                    <span style="color:red;display:none;" id="spn_CostCentreName">Please enter Cost Centre name</span>
                    <input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    <script type="text/javascript">
    $("#btn_Submit").click(function () {
        if (fnValidate()) {
              var hidLegalEntity = $("#hidLegalEntity"),
                CostCentreName = $("#CostCentreName"),
                data = {};
            data["LegalEntityID"] = parseInt(hidLegalEntity.val());
            data["CostCentreName"] = CostCentreName.val();
            $.ajax({
                url: "/CostCentre/InsertCostCentre",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/CostCentre/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
      function fnValidate() {
            
        event.preventDefault();
          var CostCentreName = $("#CostCentreName"),
              // ddl_LegalEntity = $("#ddl_LegalEntity"),
              isValid = true,
              spn_CostCentreName = $("#spn_CostCentreName");
              //  spn_LegalEntity = $("#spn_LegalEntity");
            //spn_LegalEntity.hide();
            spn_CostCentreName.hide();
            //if (ddl_LegalEntity.val() == 0) {
            //    spn_LegalEntity.show();
            //    isvalid = false;
            //}
            if (CostCentreName.val() == "") {
                spn_CostCentreName.show();
                isValid = false;
            }
        
        return isValid;
    }
    </script>



