﻿@model Accounting.Web.Models.DBModels.CostCentreModel


    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Edit Cost Centre</h4>
        </div>
        <div class="modal-body">
            @*<div class="form-group">
                <select id="hidLegalEntity" class="form-control" disabled="disabled">
                   
                    <option value="0">Legal Entity</option>
                    @foreach (var item in @ViewBag.AllMajorCategory)
                    {
                        if (Convert.ToInt32(Model.LegalEntityID) == item.MajorCostCentreID)
                        {
                            <option value="@item.MajorCostCentreID" selected>@item.MajorCostCentreName</option>
                        }
                        else
                        {
                            <option value="@item.MajorCostCentreID">@item.MajorCostCentreName</option>
                        }
                    }
                </select>
                <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
            </div>*@
            <div class="form-group">
                @Html.HiddenFor(m => m.CostCentreID)
                @Html.HiddenFor(m => m.LegalEntityID)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.CreatedOn)
                @Html.HiddenFor(m => m.IsActive)
                @Html.TextBoxFor(m => m.CostCentreName, new { @class = "form-control", tabindex = 1, placeholder = "Cost Centre name" })
                <span style="color:red;display:none;" id="spn_CostCentreName">Please enter Cost Centre name</span>
                <input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
        </div>
    </div>

    <script type="text/javascript">

        function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split(' ')[0].split('-');
            return (dat[1] + "/" + dat[0] + "/" + dat[2] + " " + str.split(' ')[1]);
        }

         $("#btn_Submit").click(function () {
             if (fnValidate()) {

                var hidLegalEntity = $("#hidLegalEntity"),
                CostCentreID = $("#CostCentreID"),
                CostCentreName = $("#CostCentreName"),
                CreatedBy = $("#CreatedBy"),
                CreatedOn = $("#CreatedOn"),
                IsActive = $("#IsActive"),
                     data = {};
               //  alert(getdate(CreatedOn.val()));
                 //alert(CreatedOn.val());
                 //var d = new Date(CreatedOn.val());
                 //alert(d);
                // alert(formatDate(CreatedOn.val()));
                 data["CostCentreID"] = parseInt(CostCentreID.val());
                 data["CostCentreName"] = CostCentreName.val();
                 data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                data["CreatedBy"] = parseInt(CreatedBy.val());
                 data["CreatedOn"] = getdate(CreatedOn.val());
            data["IsActive"] = IsActive.val();
            $.ajax({
                url: "/CostCentre/InsertCostCentre",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/CostCentre/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
    //$("#btn_Submit").click(function () {
    //    if (fnValidate()) {
            
    //        var CostCentreID = $("#CostCentreID"),
    //            CostCentreName = $("#CostCentreName"),
    //            LegalEntityID = $("#LegalEntityID"),
    //            CreatedBy = $("#CreatedBy"),
    //            CreatedOn = $("#CreatedOn"),
    //            IsActive = $("#IsActive"),
    //            data = {};
    //        alert(CostCentreID.val());
    //        data["CostCentreID"] = parseInt(CostCentreID.val());
    //        data["CostCentreName"] = CostCentreName.val();
    //        data["LegalEntityID"] = parseInt(LegalEntityID.val());
    //        data["CreatedBy"] = parseInt(CreatedBy.val());
    //        data["CreatedOn"] = CreatedOn.val();
    //        data["IsActive"] = IsActive.val();
            
    //        $.ajax({
    //            url: "/CostCentre/InsertCostCentre",
    //            type: "POST",
    //            data: JSON.stringify(data),
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: function (msg) {
    //                //$('#DistrictModule').modal('hide');
    //                //$("#div_tableView").empty();
    //                //$("#div_tableView").load("/District/ShowDistrictTableView/" + StateID.val());
    //                window.location.href = "/CostCentre/Index";
    //            },
    //            error: function (msg) {

    //            }
    //        });
    //    }
    //    else {
    //        return false;
    //    }
    //});
        function fnValidate() {
            
        event.preventDefault();
            var CostCentreName = $("#CostCentreName"),
            hidLegalEntity = $("#hidLegalEntity"),
            isValid = true,
            spn_CostCentreName = $("#spn_CostCentreName"),
                spn_LegalEntity = $("#spn_LegalEntity");
            spn_LegalEntity.hide();
            spn_CostCentreName.hide();
            if (hidLegalEntity.val() == 0) {
                spn_LegalEntity.show();
                isValid = false;
            }
            if (CostCentreName.val() == "") {
                spn_CostCentreName.show();
                isValid = false;
            }
        
        return isValid;
    }
    </script>