﻿@model Accounting.Web.Models.DBModels.ChartofAccountsModel

    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Add Account</h4>
        </div>
        <div class="modal-body">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />
                        @Html.HiddenFor(m => m.AccountID)
                        @Html.HiddenFor(m => m.CreatedBy)
                        @Html.HiddenFor(m => m.CreatedOn)
                        @Html.HiddenFor(m => m.IsActive)
                        @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control", tabindex = 2, @rows = "6", placeholder = "Account name" })
                        <span style="color:red;display:none;" id="spn_AccountName">Please enter account name</span>
                    </div>
                </div>
                @*<div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AccountCode, new { @class = "form-control", tabindex = 3, @rows = "6", placeholder = "Account code" })
                        <span style="color:red;display:none;" id="spn_AccountCode">Please enter account code</span>
                    </div>
                </div>*@
                <div class="col-lg-4">
                    <div class="form-group">
                        <select id="ddl_AccountType" class="form-control" tabindex="4">
                            @*onchange="fnBindChartofAccounts()"*@
                            <option value="0">Account type</option>
                            @foreach (var item in @ViewBag.GetAllAccountType)
                            {
                                if (Convert.ToInt32(Model.AccountTypeID) == item.AccountTypeID)
                                {
                                    <option value="@item.AccountTypeID" selected>@item.AccountTypeName</option>
                                }
                                else
                                {
                                    <option value="@item.AccountTypeID">@item.AccountTypeName</option>
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_AccountType">Please select account type</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <select id="ddl_MajorCategory" onchange="fnBindSubCategory()" class="form-control" tabindex="4">
                            @*onchange="fnBindChartofAccounts()"*@
                            <option value="0">Major Category</option>
                            @foreach (var item in @ViewBag.GetAllMajorCategory)
                            {
                                if (Convert.ToInt32(Model.ParentCategoryID) == item.MajorCategoryID)
                                {
                                    <option value="@item.MajorCategoryID" selected>@item.MajorCategoryName</option>
                                }
                                else
                                {
                                     <option value="@item.MajorCategoryID">@item.MajorCategoryName</option>
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_MajorCategory">Please select major category</span>
                    </div>
                </div>
                <div class="col-lg-4" id="div_SubCategory"  style='@(Model.ParentCategoryID>0 ? "display:block" : "display:none");'>
                    <div class="form-group">
                        <select id="ddl_SubCategory" class="form-control" >
                            <option value="0">Select Category</option>
                            @foreach (var item in @ViewBag.GetAllSubCategory)
                            {
                                if (Convert.ToInt32(Model.CategoryID) == item.CategoryID)
                                {
                                    <option value="@item.CategoryID" selected>@item.CategoryName</option>
                                }
                                else
                                {
                                     <option value="@item.CategoryID">@item.CategoryName</option>
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_SubCategory">Please select category</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <select id="ddlMajorGroupID" onchange="fnBindgroup()" class="form-control">
                            <option value="0">Select Major Group</option>
                            @foreach (var item in @ViewBag.GetAllMajorGroupID)
                            {
                                if (Convert.ToInt32(Model.MajorGroupID) == item.LedgerGroupID)
                                {
                                    <option value="@item.LedgerGroupID" selected>@item.LedgerGroupName</option>
                                }
                                else
                                {
                                    <option value="@item.LedgerGroupID">@item.LedgerGroupName</option>
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_MajorGroupID">Please select major group</span>
                    </div>
                </div>
                <div class="col-lg-4" id="div_GroupID" onchange="fnBindsubgroup()" style='@(Model.MajorGroupID>0 ? "display:block" : "display:none");'>
                    <div class="form-group">
                        <select id="ddlGroupID" class="form-control">
                            <option value="0">Select group</option>
                            @foreach (var item in @ViewBag.GetAllGroupID)
                            {
                                if (Convert.ToInt32(Model.GroupID) == item.LedgerGroupID)
                                {
                                    <option value="@item.LedgerGroupID" selected>@item.LedgerGroupName</option>
                                }
                                else
                                {
                                    <option value="@item.LedgerGroupID">@item.LedgerGroupName</option>
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_GroupID">Please select group</span>
                    </div>
                </div>
                <div class="col-lg-4" id="div_SubGroupID" style='@(Model.GroupID>0 ? "display:block" : "display:none");'>
                    <div class="form-group">
                        <select id="ddlSubGroupID" class="form-control">
                            <option value="0">Select sub group</option>
                            @foreach (var item in @ViewBag.GetAllSubGroupID)
                            {
                                if (Convert.ToInt32(Model.SubGroupID) == item.LedgerGroupID)
                                {
                                    <option value="@item.LedgerGroupID" selected>@item.LedgerGroupName</option>
                                }
                                else
                                {
                                    <option value="@item.LedgerGroupID">@item.LedgerGroupName</option>
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_SubGroupID">Please select sub group</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input id="IsCostcenter" type="checkbox" checked='@(Model.IsCostcenter == true ? true : false)' />
                            <span>Cost center</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input id="IsBudgetary" type="checkbox" checked='@(Model.IsBudgetary == true ? true : false)' />
                            <span>Budgetary control</span>
                        </label>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input id="IsAnalytics" type="checkbox" checked='@(Model.IsAnalytics== true ? true : false)' />
                            <span>Analytics</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input id="IsStatutory" type="checkbox" checked='@(Model.IsStatutory == true ? true : false)' />
                            <span>Statutory</span>
                        </label>
                    </div>

                </div>
                @*<div class="col-lg-4">
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input id="IsParty" type="checkbox" checked='@(Model.IsParty == true ? true : false)' />
                            <span>Party</span>
                        </label>
                    </div>
                </div>*@
                <div class="col-lg-12">
                    <div class="form-group mt-3" style="display:none;">
                        <textarea rows="4" id="txtDescription" class="form-control no-resize" placeholder="Description...">@Model.Description</textarea>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            
            <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
        </div>
            </div>
            <script type="text/javascript">
                 function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split(' ')[0].split('-');
            return (dat[1] + "/" + dat[0] + "/" + dat[2] + " " + str.split(' ')[1]);
        }
    function fnBindgroup() {
                        $("#ddlGroupID").html('');
                        $("#ddlGroupID").append($('<option></option>').val(0).html("Select group"));
                        $("#div_GroupID").hide();
                        $("#ddlSubGroupID").html('');
                        $("#ddlSubGroupID").append($('<option></option>').val(0).html("Select sub group"));
                        $("#div_SubGroupID").hide();
                    var ddlMajorGroupID = $("#ddlMajorGroupID");
                    if (Number(ddlMajorGroupID.val()) != 0) {
                        var MajorGroupID = Number(ddlMajorGroupID.val());
                        //alert(GroupType);
                        $("#div_GroupID").show();
                        $("#ddlGroupID").html('');
                         $("#ddlGroupID").append($('<option></option>').val(0).html("Select group"));
                        $.ajax({
                            url: "/ChartofAccounts/BindGroupByParentCategoryID?TypeID=2&ParentID="+ MajorGroupID,
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                $.each(msg, function (x, v) {
                                    //  alert(v.ledgerGroupID);
                                    //  alert(x.ledgerGroupName);
                                    $("#ddlGroupID").append($('<option></option>').val(v.ledgerGroupID).html(v.ledgerGroupName));
                                })
                            },

                            failure: function (response) {

                            },
                            error: function (response) {

                            }
                        });
                    }
                    //else {
                    //    $("#ddlGroupID").html('');
                    //    $("#ddlGroupID").append($('<option></option>').val(0).html("Select group"));
                    //    $("#div_GroupID").hide();
                    //}

            }
    function fnBindsubgroup() {
                $("#ddlSubGroupID").html('');
                        $("#ddlSubGroupID").append($('<option></option>').val(0).html("Select sub group"));
                        $("#div_SubGroupID").hide();
                    var ddlGroupID = $("#ddlGroupID");
                    if (Number(ddlGroupID.val()) != 0) {
                        var GroupID = Number(ddlGroupID.val());
                        //alert(GroupType);
                        $("#div_SubGroupID").show();
                        $("#ddlSubGroupID").html('');
                         $("#ddlSubGroupID").append($('<option></option>').val(0).html("Select sub group"));
                        $.ajax({
                            url: "/ChartofAccounts/BindGroupByParentCategoryID?TypeID=3&ParentID="+ GroupID,
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                $.each(msg, function (x, v) {
                                    //  alert(v.ledgerGroupID);
                                    //  alert(x.ledgerGroupName);
                                    $("#ddlSubGroupID").append($('<option></option>').val(v.ledgerGroupID).html(v.ledgerGroupName));
                                })
                            },

                            failure: function (response) {

                            },
                            error: function (response) {

                            }
                        });
                    }
                    //else {
                    //    $("#ddlSubGroupID").html('');
                    //    $("#ddlSubGroupID").append($('<option></option>').val(0).html("Select sub group"));
                    //    $("#div_SubGroupID").hide();
                    //}

                }
    function fnBindSubCategory() {
                     $("#ddl_SubCategory").html('');
                        $("#ddl_SubCategory").append($('<option></option>').val(0).html("Select Category"));
                        $("#div_SubCategory").hide();
                    var ddl_MajorCategory = $("#ddl_MajorCategory");
                    if (Number(ddl_MajorCategory.val()) != 0) {
                        var MajorCategory = Number(ddl_MajorCategory.val());
                        //alert(GroupType);
                        $("#div_SubCategory").show();
                        $("#ddl_SubCategory").html('');
                         $("#ddl_SubCategory").append($('<option></option>').val(0).html("Select Category"));
                        $.ajax({
                            url: "/ChartofAccounts/BindCategoryByParentCategoryID/" + MajorCategory,
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                $.each(msg, function (x, v) {
                                    //  alert(v.ledgerGroupID);
                                    //  alert(x.ledgerGroupName);
                                    $("#ddl_SubCategory").append($('<option></option>').val(v.categoryID).html(v.categoryName));
                                })
                            },

                            failure: function (response) {

                            },
                            error: function (response) {

                            }
                        });
                    }
                    //else {
                    //    $("#ddl_SubCategory").html('');
                    //    $("#ddl_SubCategory").append($('<option></option>').val(0).html("Select Category"));
                    //    $("#div_SubCategory").hide();
                    //}

                }
                $("#btn_Submit").click(function () {

                    if (fnValidate()) {
                        var hidLegalEntity = $("#hidLegalEntity"),
                            AccountName = $("#AccountName"),
                            //AccountCode = $("#AccountCode"),
                            ddl_AccountType = $("#ddl_AccountType"),
                            ddl_MajorCategory = $("#ddl_MajorCategory"),
                            ddl_SubCategory = $("#ddl_SubCategory"),
                            ddlMajorGroupID = $("#ddlMajorGroupID"),
                            ddlGroupID = $("#ddlGroupID"),
                            ddlSubGroupID = $("#ddlSubGroupID"),
                            IsCostcenter = $('#IsCostcenter').is(':checked'),
                            IsBudgetary = $('#IsBudgetary').is(':checked'),
                            IsAnalytics = $('#IsAnalytics').is(':checked'),
                            IsStatutory = $('#IsStatutory').is(':checked'),
                            IsParty = $('#IsParty').is(':checked'),
                            txtDescription = $("#txtDescription"),
                            AccountID = $("#AccountID"),
                            CreatedBy = $("#CreatedBy"),
                            CreatedOn = $("#CreatedOn"),
                            IsActive = $("#IsActive"),
                            data = {};
                        data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                        //alert(ddl_GroupType.val());
                        //alert(LedgerGroupName.val());
                        data["AccountID"] = AccountID.val();
                        data["CreatedBy"] = CreatedBy.val();
                        data["CreatedOn"] = getdate(CreatedOn.val());
                        data["IsActive"] = IsActive.val();

                        data["AccountName"] = AccountName.val();
                       // data["AccountCode"] = AccountCode.val();
                        data["AccountTypeID"] = parseInt(ddl_AccountType.val());
                        data["ParentCategoryID"] = parseInt(ddl_MajorCategory.val());
                        data["CategoryID"] = parseInt(ddl_SubCategory.val());
                        data["MajorGroupID"] = parseInt(ddlMajorGroupID.val());
                        data["GroupID"] = parseInt(ddlGroupID.val());
                        data["SubGroupID"] = parseInt(ddlSubGroupID.val());
                        data["IsCostcenter"] = IsCostcenter;
                        data["IsBudgetary"] = IsBudgetary;
                        data["IsAnalytics"] = IsAnalytics;
                        data["IsStatutory"] = IsStatutory;
                        data["IsParty"] = IsParty;
                        data["Description"] = txtDescription.val();
                        //alert(txtDescription.val());
                        $.ajax({
                            url: "/ChartofAccounts/InsertChartofAccounts",
                            type: "POST",
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                window.location.href = "/ChartofAccounts/Index";
                            },
                            error: function (msg) {

                            }
                        });
                    }
                    else {
                        return false;
                    }
                });
                function fnValidate() {

                    event.preventDefault();
                    var AccountName = $("#AccountName"),
                       // AccountCode = $("#AccountCode"),
                        ddl_AccountType = $("#ddl_AccountType"),
                        ddl_MajorCategory = $("#ddl_MajorCategory"),
                        ddl_SubCategory = $("#ddl_SubCategory"),
                        ddlMajorGroupID = $("#ddlMajorGroupID"),
                        isValid = true,
                        spn_AccountName = $("#spn_AccountName"),
                        //spn_AccountCode = $("#spn_AccountCode"),
                        spn_AccountType = $("#spn_AccountType"),
                        spn_MajorCategory = $("#spn_MajorCategory"),
                        spn_SubCategory = $("#spn_SubCategory");
                    spn_MajorGroupID = $("#spn_MajorGroupID");
                    spn_AccountName.hide();
                   // spn_AccountCode.hide();
                    spn_AccountType.hide();
                    spn_MajorCategory.hide();
                    spn_SubCategory.hide();
                    spn_MajorGroupID.hide();
                    if (AccountName.val() == "") {
                        spn_AccountName.show();
                        isValid = false;
                    }
                    //if (AccountCode.val() == "") {
                    //    spn_AccountCode.show();
                    //    isValid = false;
                    //}
                    if (ddl_AccountType.val() == 0) {
                        spn_AccountType.show();
                        isvalid = false;
                    }
                    if (ddl_MajorCategory.val() == 0) {
                        spn_MajorCategory.show();
                        isValid = false;
                    }
                    if (ddlMajorGroupID.val() == 0) {
                        spn_MajorGroupID.show();
                        isValid = false;
                    }
                    //if (spn_ParentGroup.val() == 0) {
                    //     spn_ParentGroup.show();
                    //       isvalid = false;
                    //   }
                    // if (Number(ddl_GroupType.val()) > 1) {
                    //      if (ddlParentLedgerGroupID.val() == 0) {
                    //     spn_ParentGroup.show();
                    //       isvalid = false;
                    //   }
                    // }
                    // alert(isValid);
                    return isValid;
                }
            </script>



