﻿@model IEnumerable<Accounting.Web.Models.DBModels.ChartofAccountsModel>

@{
    ViewData["Title"] = "GetMembers";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>GetMembers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalEntityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorGroupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubGroupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCostcenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBudgetary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnalytics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStatutory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalEntityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCostcenter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBudgetary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnalytics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStatutory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
