﻿@*@model IEnumerable<Accounting.Web.Models.DBModels.ChartofAccountsModel>*@
@model Accounting.Web.Models.ViewModels.ChartofAccountsViewModel
@{
    ViewData["Title"] = "Chart of Accounts";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div id="main-content" >
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Chart of Accounts</h2>
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Payments</li>
                            <li class="breadcrumb-item active">Payment Invoice</li>
                        </ul>*@
                </div>

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Account List</h2>
                        <ul class="header-dropdown">
                            @*<li><a class="tab_btn" href="javascript:void(0);" title="Weekly">W</a></li>
                                <li><a class="tab_btn" href="javascript:void(0);" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" href="javascript:void(0);" title="Yearly">Y</a></li>*@
                            <li>
                                @*<button class="btn btn-primary float-right" onclick="fnLoadProductAdd()" data-toggle="modal" data-target="#ProductManagementModel"><i class="fa fa-plus-square"></i> <span>New Product</span></button>*@
                                <button class="btn btn-primary" id="btn_addnew" style="float:right;" onclick="fnAddChartofAccounts()" data-toggle="modal" data-target="#ChartofAccountsModule"><i class="fa fa-plus-square"></i> <span>New Account</span></button>
                            </li>
                            <li class="dropdown" style="display:none;">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Add New</a></li>
                                    @*<li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable" id="datatable1">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Account name</th>
                                        <th>Account Type</th>
                                        <th style="display:none">Legal Entity</th>
                                        <th>Major Category</th>
                                        <th>Category</th>
                                        <th>Major Group</th>
                                        <th>Group</th>
                                        <th>Sub Group</th>
                                        @*<th>Account code</th>*@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.GetAllChartofAccounts)
                                    {
                                        <tr>
                                            <td>@item.AccountName</td>
                                            <td>@item.AccountTypeName</td>
                                            <td style="display:none">@item.LegalEntityName</td>
                                            <td>@item.ParentCategoryName</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.MajorGroupName</td>
                                            <td>@item.GroupName</td>
                                            <td>@item.SubGroupName</td>
                                            @*<td>@Html.DisplayFor(modelItem => item.AccountCode)</td>*@
                                            <td>
                                                <div class="btn-group-sm">
                                                    <button class="btn btn-primary right" onclick="fnLoadChartofAccountsEditModel(@item.AccountID)" data-toggle="modal" data-target="#ChartofAccountsModule"><i class="fa fa-edit"></i></button>
                                                    <button class="btn danger m-t" data-toggle="modal" data-target="#ChartofAccountsdelModule" onclick="fnDeletChartofAccountsPopUp(@item.AccountID)"><i class="fa fa-trash"></i> </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="divProductManagementModel">

            </div>
        </div>
    </div>
    <!-- .modal -->
    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
        <div class="modal-dialog modal-sm">
            <!-- /.modal-content -->
            <div id="DivModelDeleteContent">

            </div>
        </div>
    </div>*@
<div id="ChartofAccountsModule" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divChartofAccountsContent">

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="ChartofAccountsdelModule" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <!-- /.modal-content -->
        <div id="DivModelDeleteContent">

        </div>
    </div>
</div>


<script type="text/javascript">
    function fnAddChartofAccounts() {
        var ddl_MajorCategory = $("#ddl_MajorCategory");
        var Id = parseInt(ddl_MajorCategory.val());
        $("#divChartofAccountsContent").empty();
        $("#divChartofAccountsContent").load("/ChartofAccounts/AddChartofAccounts/" + Id);
    }
    function fnLoadChartofAccountsEditModel(Id) {
        $("#divChartofAccountsContent").empty();
        $("#divChartofAccountsContent").load("/ChartofAccounts/EditChartofAccounts/" + Id);
    }
    function fnDeletChartofAccountsPopUp(Id) {
        //  alert($("#DivModelDeleteContent"));
        $("#DivModelDeleteContent").empty();
        $("#DivModelDeleteContent").load("/ChartofAccounts/DeleteChartofAccountsmodel/" + Id);
    }
    function fnDeleteChartofAccounts(d) {
        $.ajax({
            url: "/ChartofAccounts/DeleteChartofAccounts/" + d,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/ChartofAccounts/ShowChartofAccountsTableView/" + msg);
            }
        });
    }
    //$(document).ready(function () {
    //    $('#datatable1').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copyHtml5',
    //            'excelHtml5',
    //            'csvHtml5',
    //            'pdfHtml5'
    //        ]
    //    });
    //});
</script>