﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
    // ViewData["Title"] = "Transaction Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>
<!-- MAIN CSS -->
<style>

    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<br />
<div class="table-responsive">
    @*table table-hover js-basic-example dataTable table-custom table-striped
        table table-bordered table-striped table-hover dataTable js-exportable
            table table-striped table-hover dataTable table-custom js-exportable*@
    <table class="table table-hover js-exportable dataTable table-custom table-striped datatable_class" data-plugin="dataTable">
        <thead class="thead-dark">
            <tr>
                <th style="display:none"></th>
                <th data-orderable="false">Major Group</th>
                @if (@ViewBag.AccountLevel == 2)
                {
                    <th data-orderable="false">Group</th>
                }
                @if (@ViewBag.AccountLevel == 3)

                {
                    <th data-orderable="false">Group</th>
                    <th data-orderable="false">Sub Group</th>
                }
                @if (@ViewBag.AccountLevel == 4)
                {
                    <th data-orderable="false">Group</th>
                    <th data-orderable="false">Sub Group</th>
                    <th data-orderable="false">GL Account</th>
                }
                <th width="80px" data-orderable="false" class="tdnumber">Opening<br />Balance</th>
                <th width="80px" data-orderable="false" class="tdnumber">Debit</th>
                <th width="80px" data-orderable="false" class="tdnumber">Credit</th>
                <th width="80px" data-orderable="false" class="tdnumber">Closing<br />Balance</th>
                @*<th>LegalEntity</th>
                    <th>ProfitCentre</th>
                    <th>Location</th>
                    <th>Unit</th>
                    <th>Project</th>*@
                @*<th>Amount</th>*@
                @*<th>Action</th>*@
            </tr>
        </thead>
        @{
            decimal sumofdebit = 0;
            decimal sumofcredit = 0;
            <tbody>
                @foreach (var item in @ViewBag.GetAllTransactionEntryTrialListByLegalEntityID)
                {
                    sumofdebit = sumofdebit + @item.Debit;
                    sumofcredit = sumofcredit + @item.Credit;
                    decimal openingbalance = (@item.OpenDebit - @item.OpenCredit);
                    decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);


                    if (item.Debit > 0 || item.Credit > 0 || item.OpenDebit > 0 || item.OpenCredit > 0 || item.CloseDebit > 0 || item.CloseCredit > 0 || openingbalance > 0 || closingbalance > 0)
                    {

                        //if (item.Debit > 0 || item.Credit > 0 || openingbalance > 0 || closingbalance > 0)
                       // {
                           
                        <tr>
                            <td style="display:none"></td>
                            @*<td>@item.TransactionEntryDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.TransactionShortRefNo</td>
                                <td>@item.Description</td>*@
                            <td>@item.MajorGroupName</td>
                            @if (@ViewBag.AccountLevel == 2)
                            {
                                <td>@item.GroupName</td>
                            }
                            @if (@ViewBag.AccountLevel == 3)
                            {
                                <td>@item.GroupName</td>
                                <td>@item.SubGroupName</td>
                            }
                            @if (@ViewBag.AccountLevel == 4)
                            {
                                <td>@item.GroupName</td>
                                <td>@item.SubGroupName</td>
                                <td>@item.AccountName</td>
                            }


                            <td class="tdnumber">
                                @{
                                    string negopeningbalance = "";
                                    openingbalance = (@item.OpenDebit - @item.OpenCredit);
                                    if (openingbalance < 0)
                                    {
                                        negopeningbalance = "Cr ";
                                        //@(neg + " " + (closingbalance).ToString("0.00"));
                                    }
                                    else
                                    {
                                        negopeningbalance = "Dr ";
                                        //@(neg + " " + (closingbalance).ToString("0.00"));
                                    }
                                    // @(negopeningbalance + " " + Math.Abs(openingbalance).ToString("0.00"));
                                    @(Math.Abs(openingbalance).ToString("0.00") + " " + negopeningbalance);
                                }
                            </td>
                            <td class="tdnumber">@item.Debit.ToString("0.00")</td>
                            <td class="tdnumber">@item.Credit.ToString("0.00")</td>
                            <td class="tdnumber">
                                @{

                                    string negclosingbalance = "";
                                    closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                    if (closingbalance < 0)
                                    {
                                        negclosingbalance = "Cr ";
                                        //@(neg + " " + (closingbalance).ToString("0.00"));
                                    }
                                    else
                                    {
                                        negclosingbalance = "Dr ";
                                        //@(neg + " " + (closingbalance).ToString("0.00"));
                                    }
                                    //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                    @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                }
                            </td>
                            @*<td>@item.LegalEntityName</td>
                                <td>@item.ProfitCentreName</td>
                                <td>@item.LocationName</td>
                                <td>@item.UnitName</td>
                                <td>@item.ProjectName</td>*@
                            @*<td style="text-align:right;">@item.TransactionTotal.ToString("0.00")</td>*@
                            @*<td>
                                    <div class="btn-group-sm">
                                        <button class="btn btn-primary right" onclick="fnViewTransactionEntryEditModel(@item.TransactionHeadID)" data-toggle="modal" data-target="#TransactionEntryModuleView"><i class="fa fa-eye"></i></button>
                                    </div>
                                </td>*@
                        </tr>
                                            //}
                                        }
                                    }
            </tbody>
            <tfoot>
                <tr>
                    <th style="display:none"></th>
                    <th>Total</th>
                    @if (@ViewBag.AccountLevel == 1)
                    {
                        <th></th>
                    }
                    @if (@ViewBag.AccountLevel == 2)
                    {
                        <th></th>
                        <th></th>
                    }
                    @if (@ViewBag.AccountLevel == 3)
                    {
                        <th></th>
                        <th></th>
                        <th></th>
                    }
                    @if (@ViewBag.AccountLevel == 4)
                    {
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    }
                    <th class="tdnumber">@sumofdebit.ToString("0.00")</th>
                    <th class="tdnumber">@sumofcredit.ToString("0.00")</th>
                    <th></th>
                </tr>
            </tfoot>
        }
    </table>
</div>
