﻿<!-- This is profit & loss view create by Kaspon dated on 18-06-2020-->
@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryTrialList>
@{
    // ViewData["Title"] = "Transaction Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>*@
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@

<script src="~/assets/vendor/jquery-datatable/pdfmake.min.js"></script>
<script src="~/assets/vendor/html2canvas/html2canvas.min.js"></script>

<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<!-- MAIN CSS -->
<style>

    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<br />
<div>
    <input type="button" class="btn btn-primary" id="btnExportPDF" value="PDF" />
    <input type="button" class="btn btn-primary" id="btnExportEXCEL" value="Excel" />
</div>
<br />
<div class="table-responsive">
    @*js-exportable*@
    <table class="table table-hover dataTable table-custom table-striped datatable_class" data-plugin="dataTable" id="tblReport">
        
        <thead class="thead-dark">
            <tr id="tblReportthead" style="display:none"><td style="font-size: 23px;"><b></b></td></tr>
            <tr>
                <th style="display:none"></th>
                <th data-orderable="false" class="tdnumber" style="text-align: left;">Description</th>
                <th data-orderable="false" class="tdnumber">Amount(INR)</th>
                <th data-orderable="false" class="tdnumber">Total Amount(INR)</th>
            </tr>
        </thead>

        @{
            decimal amount_directincome = 0;
            decimal amount_directExpenses = 0;
            decimal amount_indirectExpenses = 0;
            decimal amount_indirectincome = 0;
            int[] MajorGroupID = { 72, 73, 74, 75 };
            var MajorGroupId = 0;
            string MajorGroupName = "";
            decimal debit = 0;
            decimal credit = 0;
            string negclosingbalance = "";
            var MajorGroupId2 = 0;
            var MajorGroupId1 = 0;
            var MajorGroupId3 = 0;
            decimal closingbalance = 0;
            decimal ClosingBalance = 0;
            decimal Grossprofitorloss = 0;
            decimal NetProfitorLoss = 0;

            <tbody>
                @{int index = 1;}
                @foreach (var item in Model)
                {
                    MajorGroupId = item.MajorGroupID;
                    if (MajorGroupId == 72)
                    {
                        MajorGroupName = @item.MajorGroupName;
                        debit = @item.Debit;
                        credit = @item.Credit;

                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }
                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    MajorGroupId = item.MajorGroupID;
                    if (MajorGroupId == 72)
                    {
                        ClosingBalance = @item.CloseCredit - @item.CloseDebit;
                        amount_directincome = amount_directincome + ClosingBalance;
                    }


                    if (ClosingBalance > 0)
                    {
                        if (MajorGroupId == 72)

                        {
                            <tr>
                                @*<td class="tdnumber" style="display:none">
                                    @index
                                </td>*@

                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                    <input type="hidden" id="hidStartDate" value="@ViewBag.StartDate" />
                                    <input type="hidden" id="hidEndDate" value="@ViewBag.EndDate" />

                                </td>
                                <td class="tdnumber">
                                    @{

                                        negclosingbalance = "";
                                        closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0)
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_cr_@item.GroupID">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }

                }
                <tr>

                    @{
                        if (amount_directincome > 0)
                        {
                            <td style="display:none; font-weight:bold;"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_directincome.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_directincome.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>


                        }

                    }
                </tr>
                @foreach (var item in Model)
                {
                    MajorGroupId1 = item.MajorGroupID;
                    if (MajorGroupId1 == 74)
                    {
                        MajorGroupName = @item.MajorGroupName;
                        debit = @item.Debit;
                        credit = @item.Credit;

                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }

                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    MajorGroupId1 = item.MajorGroupID;
                    if (MajorGroupId1 == 74)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_directExpenses = amount_directExpenses + ClosingBalance;
                    }
                    if (ClosingBalance > 0)
                    {
                        if (MajorGroupId1 == 74)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        negclosingbalance = "";
                                        closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>

                            </tr>
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>
                            </tr>
                        }

                    }


                }
                <tr>
                    @{
                        if (amount_directExpenses > 0)
                        {
                            <td style="display:none; font-weight:bold;"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_directExpenses.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_directExpenses.ToString("0.00")
                            </td>

                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>


                        }

                    }
                </tr>
                <tr>
                    <td style="display:none"></td>
                    <td style="font-weight:bold;">Gross Profit</td>
                    <td class="tdnumber"></td>
                    <td class="tdnumber" style="font-weight:bold;">
                        @(Math.Abs(Grossprofitorloss = amount_directincome - amount_directExpenses).ToString("0.00"))
                    </td>
                </tr>


                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    MajorGroupId2 = item.MajorGroupID;
                    if (MajorGroupId2 == 73)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_indirectincome = amount_indirectincome + ClosingBalance;
                    }

                    if (ClosingBalance > 0)
                    {
                        if (MajorGroupId2 == 73)

                        {
                            <tr>
                                <td style="display:none"></td>
                                <td class="tdnumber">
                                    @index
                                </td>

                                <td class="tdnumber" style="text-align: left;">@item.MajorGroupName</td>

                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber">
                                    @{

                                        negclosingbalance = "";
                                        closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>

                            </tr>
                            index++;

                        }

                    }


                }

                <tr>
                    @{
                        if (amount_indirectincome > 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_indirectincome.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_indirectincome.ToString("0.00")
                            </td>

                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>


                        }
                    }
                </tr>
                @foreach (var item in Model)
                {
                    MajorGroupId3 = item.MajorGroupID;
                    if (MajorGroupId3 == 75)
                    {
                        MajorGroupName = @item.MajorGroupName;
                        debit = @item.Debit;
                        credit = @item.Credit;

                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }

                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    MajorGroupId3 = item.MajorGroupID;
                    decimal ClosingBal = 0;
                    if (MajorGroupId3 == 75)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        ClosingBal = @item.CloseCredit - @item.CloseDebit;
                        amount_indirectExpenses = amount_indirectExpenses + ClosingBalance;
                    }


                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupId3 == 75)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                </td>
                                <td class="tdnumber">
                                    @{

                                        negclosingbalance = "";
                                        closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        decimal closingBal = (@item.CloseCredit - @item.CloseDebit);
                                        if (closingbalance < 0 || closingBal > 0)
                                        {
                                            //negclosingbalance = "Cr ";
                                            @(Math.Abs(closingBal).ToString("0.00") + " " + negclosingbalance);
                                            //@(neg + " " + (closingbalance).ToString("0.00"));
                                        }
                                        else
                                        {
                                            //negclosingbalance = "Dr ";
                                            @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                        }
                                        @*@(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);*@

                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>

                            </tr>
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>
                            </tr>
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>
                            </tr>
                        }

                    }


                }
                <tr>
                    @{
                        if (amount_indirectExpenses > 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_indirectExpenses.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_indirectExpenses.ToString("0.00")
                            </td>

                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>


                        }

                    }
                </tr>
                @*<tr>
                    <td style="display:none"></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;">Gross Profit</td>
                    <td style="font-weight:bold;"></td>
                    <td style="font-weight:bold;">
                        @(amount_indirectincome - amount_indirectExpenses)
                    </td>
                </tr>*@

                <tr>
                    <td style="display:none">
                        @{
                            @(Math.Abs(NetProfitorLoss = (amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses)).ToString("0.00"));
                            @(Math.Abs(Grossprofitorloss = amount_directincome - amount_directExpenses).ToString("0.00"))
                        }
                    </td>
                    <td style="font-weight:bold;">Net Profit/Loss</td>
                    <td style="font-weight:bold;"></td>
                    <td class="tdnumber" style="font-weight:bold;">
                        <!-- this is the total from subtract the income  minus expense -->
                        @{
                            if (Math.Abs(Grossprofitorloss) > Math.Abs(NetProfitorLoss))
                            {
                                @(Math.Abs(NetProfitorLoss).ToString("0.00"))
                            }
                            else if (Math.Abs(NetProfitorLoss) > Math.Abs(Grossprofitorloss))
                            {
                                @(Math.Round(NetProfitorLoss = (amount_directincome) - (amount_directExpenses + amount_indirectExpenses)).ToString("0.00"));
                            }

                        }

                    </td>

                </tr>


            </tbody>
            <tfoot>
                <tr>
                    <th style="display:none"></th>
                    <th style="font-weight:bold;">Net Profit/Loss</th>
                    <th></th>
                    <th class="tdnumber" style="font-weight:bold;display:none">
                        @{
                            @(NetProfitorLoss = (amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses));
                        }

                    </th>
                    <th class="tdnumber" style="font-weight:bold;">
                        @{
                            if (Math.Abs(Grossprofitorloss) > Math.Abs(NetProfitorLoss))
                            {
                                @(Math.Abs(NetProfitorLoss).ToString("0.00"))
                            }
                            else if (Math.Abs(NetProfitorLoss) > Math.Abs(Grossprofitorloss))
                            {
                                @(Math.Round(NetProfitorLoss = (amount_directincome) - (amount_directExpenses + amount_indirectExpenses)).ToString("0.00"));
                            }

                        }
                    </th>

                </tr>
            </tfoot>

        }
    </table>
</div>

<script type="text/javascript">

    $('button.Show_button').click(function () {
        debugger;
        var GroupID = $(this).attr('data-id')
        var appr = $('td[data-name="' + GroupID + '"]');
        $("#Accountdetails_cr_" + GroupID).toggle();
        $("#Accountdetails_dr_" + GroupID).toggle();
        var hidLegalEntity = $("#hidLegalEntityID"),
            ddl_SubCategory = $("#ddl_MajorCategory"),
            Accountname = $("#hidAccountname"),
            StartDate = $("#StartDate"),
            EndDate = $("#EndDate");
        var c = {};
        var d = {};
        d.AccountName = Accountname.val();

        c["Getaccountdetails"] = d;
        appr[0].textContent = "True";
        $("#Accountdetails_cr_" + GroupID).html('');
        $("#Accountdetails_dr_" + GroupID).html('');
        $.ajax({
            type: "GET",
            url: "/TransactionEntry/Accountdetails_showhide?LegalEntityID=" + hidLegalEntity.val() + "&MajorGroupID=" + ddl_SubCategory.val() + "&StartDate=" + getdate(StartDate.val()) + "&EndDate=" + getdate(EndDate.val()) + "&GroupID=" + GroupID,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(d),
            dataType: "json",
            success: function (msg) {
                //var Curryear = new Date().getFullYear()
                //var dat = StartDate.split('-');

                //if (dat[2] == Curryear || dat[2] == Curryear - 1 && UsrName_Var.text == "lmsauditor") {
                //    $("#DivIsActive").css("display", "block");   //Enabled
                //}
                //else {
                //    $("#DivIsActive").css("display", "none");  //Disabled
                //}
                //debugger;
                console.log(msg)
                $.each(msg, function (x, v) {
                    debugger;
                    if (v.closeDebit != '0.0' || v.closeDebit != '0.00') {
                        var rows_dr =
                            "<table width='113%' style='table-layout:fixed'>" +
                            "<tr>" +
                            "<td style='display: none'></td>" +
                            "<td class='tdnumber'  style='text-align: left;'>" + v.accountName + "</td>" +
                            "<td class='tdnumber' style='' >" + parseFloat(v.closeDebit - v.closeCredit).toFixed(2) + "</td>" +
                            "</tr>" +
                            "</table>";
                        //if (parseFloat(v.closeCredit > v.closeDebit).toFixed(2)) {
                        //    if (parseFloat(v.closeCredit - v.closeDebit).toFixed(2) > '0.00') {
                        //        $("#Accountdetails_dr_" + GroupID).append(rows_dr);
                        //    }
                        //}
                        if (parseFloat(v.closeDebit - v.closeCredit).toFixed(2) > '0.00') {
                            $("#Accountdetails_dr_" + GroupID).append(rows_dr);
                        }
                    }
                    //else
                        if (v.closeCredit != '0.0' || v.closeCredit != '0.00') {
                            var rows_cr =
                                "<table width='113%' style='table-layout:fixed'>" +
                                "<tr>" +
                                "<td style='display: none'></td>" +
                                "<td class='tdnumber'  style='text-align: left;' colspan='3'>" + v.accountName + "</td>" +
                                "<td class='tdnumber' >" + parseFloat(v.closeCredit - v.closeDebit).toFixed(2) + "</td>" +
                                "</tr>" +
                                "</table>";
                            if (parseFloat(v.closeCredit - v.closeDebit).toFixed(2) > '0.00') {
                                $("#Accountdetails_cr_" + GroupID).append(rows_cr);
                            }
                        }
                })

            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    });

    var tempId;
    

    //Export PDF
    function getClippedRegion(image, x, y, width, height) {
        var canvas = document.createElement("canvas"),
            ctx = canvas.getContext("2d");
        canvas.width = width;
        canvas.height = height;
        //                   source region         dest. region
        ctx.drawImage(image, x, y, width, height, 0, 0, width, height);
        return {
            // Those are some pdfMake params
            image: canvas.toDataURL(),
            width: 550
        };
    }

    $("body").on("click", "#btnExportPDF", function () {
        debugger
        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();
        var Companyname = $("#MainHeaderCmpny").text();
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        var FileName = "Profit And Loss_" + StartDate + "_" + EndDate + "_" + time;

        $("#tblReportthead b").text("PROFIT AND LOSS_" + Companyname+" - "+ StartDate + " To " + EndDate);
        $("#tblReportthead").css("display", "block");

        html2canvas($("#tblReport")[0], {
            onrendered: function (canvas) {

                // split the canvas produced by html2canvas into several, based on desired PDF page height
                let splitAt = 1275; // A page height which fits for "LETTER" pageSize...

                let images = [];
                let y = 0;
                while (canvas.height > y) {
                    images.push(getClippedRegion(canvas, 0, y, canvas.width, splitAt));
                    y += splitAt;
                }

                // PDF creation using pdfMake
                var docDefinition = {
                    content: images,
                    pageSize: "LETTER"
                };
                $("#tblReportthead").css("display", "none");
                pdfMake.createPdf(docDefinition).download(FileName + ".pdf");
            }
        });
    });

    //Export Excel
    $("body").on("click", "#btnExportEXCEL", function () {
        debugger
        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();
        var Companyname = $("#MainHeaderCmpny").text();
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        var FileName = "Profit And Loss_" + Companyname +"_"+ StartDate + "_" + EndDate + "_" + time;

        $("#tblReport").table2excel({
            exclude: ".excludeThisClass",
            name: "Worksheet Name",
            filename: FileName
        });
    });

</script>



