﻿@model Accounting.Web.Models.DBModels.TransactionEntryModel
<style>
    .boxPanelhead {
           border-top: 1px solid #007bff;
    border-right: 1px solid #007bff;
    border-left: 1px solid #007bff;
        border-collapse: collapse;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        min-height: 30px;
        overflow-y: auto;
        background-color: #007bff;
    }

    .boxPanelbody {
        border-right: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
        border-collapse: collapse;
        min-height: 150px;
        overflow-y: auto;
    }

    .boxPanelfooter {
        border-bottom: 1px solid #e9ecef;
        border-right: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
        border-collapse: collapse;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        min-height: 10px;
        overflow-y: auto;
    }

    .boxPaneltitle {
        padding: 5px;
        font-size: 16px;
        color: white;
    }

    .tablefooter {
        margin-top: 5px;
    }
    .colnumberval, .numberval
    {
        text-align:right;
    }
    .theadtr tr td
    {
        font-weight:bold;
    }
</style>
<div id="divResult">
    <div class="modal-header">
        <h4 class="title">Add @ViewData["Title"]</h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-lg-4">
                <span>Date</span>
                <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                    <input type="text" id="transactionDate" class="form-control" disabled="disabled" value="@ViewBag.TransactionDate">
                    @*<span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>*@
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-5">
                <span>Transaction No.</span><br />
                <span><strong> @ViewBag.TransactionRefNo </strong></span>
            </div>

        </div>
        <br />
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="boxPanelhead">
                    <span class="boxPaneltitle"> Debit</span>
                </div>
                <div class="boxPanelbody">
                    <table id="tbl_Debit" style="width: 100%;" cellpadding="2">
                        <thead class="theadtr">
                            <tr><td width="35%">Chart of Account</td><td width="35%">Reference/Detail</td><td width="20%">Amount</td><td width="10%"></td></tr>
                        </thead>
                        <tbody>
                            <tr class="debitrow_1 debitrows">
                                <td>
                                    <select id="ddl_DebitAccount" class="form-control ddl_DebitAccount">
                                        <option value="0">Account</option>
                                        @foreach (var item in @ViewBag.DebitAccounts)
                                        {
                                            <option value="@item.AccountID" AccountTypeID="@item.AccountTypeID" ParentCategoryID="@item.ParentCategoryID" CategoryID="@item.CategoryID" MajorGroupID="@item.MajorGroupID" GroupID="@item.GroupID" SubGroupID="@item.SubGroupID">@item.AccountName</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <textarea rows="1" id="txtDebitDescription" class="form-control txtDebitDescription no-resize " placeholder="Description..."></textarea>
                                </td>
                                <td>

                                    <input type="text" id="txtDebitAmount" autocomplete="off" class="form-control txtDebitAmount numberval" />
                                </td>
                                <td>
                                    <div class="btn-group-sm action">
                                        <a href="javascript:fnAddDebitRow(this);"><i class="fa fa-plus-circle"></i></a> | <a onclick="fnRemoveDebitRow(this)" href="#"><i class="fa fa-remove" style="color: red"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="tablefooter">
                            @*<tr><td>&nbsp;</td><td></td><td></td></tr>*@
                            <tr><td>&nbsp;</td><td></td><td></td></tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td>
                                    <input type="text" id="txttotalDebitAmount" autocomplete="off" class="form-control txttotalDebitAmount numberval" disabled="disabled" />
                                    <span style="color:red;display:none;" id="spn_txttotalDebitAmount">Please enter debit entry!</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="boxPanelfooter">

                </div>
            </div>
        </div>
        <br />
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="boxPanelhead">
                    <span class="boxPaneltitle"> Credit</span>
                </div>
                <div class="boxPanelbody">
                    <table id="tbl_Credit" style="width: 100%;" cellpadding="2">
                        <thead class="theadtr">
                            <tr><td width="35%">Chart of Account</td><td width="35%">Reference/Detail</td><td width="20%">Amount</td><td width="10%"></td></tr>
                        </thead>
                        <tbody>
                            <tr class="creditrow_1 creditrows">
                                <td>
                                    <select id="ddl_CreditAccount" class="form-control ddl_CreditAccount">
                                        <option value="0">Account</option>
                                        @foreach (var item in @ViewBag.CreditAccounts)
                                        {
                                            <option value="@item.AccountID" AccountTypeID="@item.AccountTypeID" ParentCategoryID="@item.ParentCategoryID" CategoryID="@item.CategoryID" MajorGroupID="@item.MajorGroupID" GroupID="@item.GroupID" SubGroupID="@item.SubGroupID">@item.AccountName</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <textarea rows="1" id="txtCreditDescription" class="form-control txtCreditDescription no-resize" placeholder="Description..."></textarea>
                                </td>
                                <td>
                                    <input type="text" id="txtCreditAmount" autocomplete="off" class="form-control txtCreditAmount numberval" />
                                </td>
                                <td>
                                    <div class="btn-group-sm action">
                                        <a href="javascript:fnAddCreditRow(this);"><i class="fa fa-plus-circle"></i></a> | <a onclick="fnRemoveCreditRow(this)" href="#"><i class="fa fa-remove" style="color: red"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            @*<tr><td>&nbsp;</td><td></td><td></td></tr>*@
                            <tr><td>&nbsp;</td><td></td><td></td></tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td>
                                    <input type="text" id="txttotalCreditAmount" autocomplete="off" class="form-control txttotalCreditAmount numberval" disabled="disabled" />
                                    <span style="color:red;display:none;" id="spn_txttotalCreditAmount">Please enter credit entry!</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="boxPanelfooter">

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group mt-3">
                    <span>Narration</span>
                    <textarea rows="2" id="txtDescription" class="form-control no-resize" placeholder="Narration..."></textarea>
                    <span style="color:red;display:none;" id="spn_txtDescription">Please enter Narration!</span>
                </div>
            </div>
        </div>
    </div>

            <div class="modal-footer">
                <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" title="Close!" onclick="Removetransaction();">Cancel</button>
                @*<button type="button" class="btn btn-danger" title="Close!" onclick=" Removetransaction();" data-dismiss="modal">Cancel</button>*@
                <input type="hidden" id="hidFinancialYearID" value="1" />
                <input type="hidden" id="hidTransactionInputTypeID" value="@ViewBag.TransactionInputTypeID" />
                <input type="hidden" id="hidCorporateGroupID" value="@ViewBag.CorporateGroupID" />
                <input type="hidden" id="hidBusinessGroupID" value="@ViewBag.BusinessGroupID" />
                <input type="hidden" id="hidVerticalGroupID" value="@ViewBag.VerticalGroupID" />
                <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                <input type="hidden" id="hidProfitCentreID" value="@ViewBag.ProfitCentreID" />
                <input type="hidden" id="hidLocationID" value="@ViewBag.LocationID" />
                <input type="hidden" id="hidUnitID" value="@ViewBag.UnitID" />
                <input type="hidden" id="hidProjectID" value="@ViewBag.ProjectID" />
                <input type="hidden" id="hidTransactionHeadID" value="@ViewBag.TransactionHeadID" />
                <input type="hidden" id="hidTransactionRefNo" value="@ViewBag.TransactionRefNo" />
                <input type="hidden" id="hidencPageID" value="@ViewBag.encPageID" />
            </div>
        </div>
        <script type="text/javascript">

            $(document).ready(function () {
                loadready();
            });
            function loadready() {
                $(".numberval").blur(function (index) {
                    if (isNaN($(this).val()) == true) {
                        $(this).val('');
                    }
                    showoutput();
                });
                $(".numberval").keyup(function () {
                    if (isNaN($(this).val()) == true) {
                        $(this).val('');
                    }
                    showoutput();
                });
                showoutput();
            }
            function showoutput() {
                var totalCreditAmount = 0;
                $(".txtCreditAmount").each(function () {
                    totalCreditAmount = totalCreditAmount + Number($(this).val());
                });
                $(".txttotalCreditAmount").val(totalCreditAmount);
                var totalDebitAmount = 0;
                $(".txtDebitAmount").each(function () {
                    totalDebitAmount = totalDebitAmount + Number($(this).val());
                });
                $(".txttotalDebitAmount").val(totalDebitAmount);
            }
            function fnRemoveCreditRow(obj) {
                if ($('#tbl_Credit tbody tr').length > 1) { $(obj).closest('tr').remove(); }
                showoutput();
            }
            function fnRemoveDebitRow(obj) {
                    if ($('#tbl_Debit tbody tr').length > 1) {
                        $(obj).closest('tr').remove();
                }
                showoutput();
            }
            function fnAddCreditRow(obj) {
                //alert($('#tbl_Credit tbody tr:last').attr("class"));
                //alert($('#tbl_Credit tbody tr:last').attr("class").split(" ")[0]);
                //alert($('#tbl_Credit tbody tr:last').find(".ddl_CreditAccount").val());
                var CreditAccount = $('#tbl_Credit tbody tr:last').find(".ddl_CreditAccount").val();
                var CreditDescription = $('#tbl_Credit tbody tr:last').find(".txtCreditDescription").val();
                var CreditAmount = $('#tbl_Credit tbody tr:last').find(".txtCreditAmount").val();
                //alert(Number(CreditAmount));
                if (CreditAccount != 0 && CreditDescription != "" && Number(CreditAmount) != 0) {
                    var trno = Number($('#tbl_Credit tbody tr:last').attr("class").split(" ")[0].split("_")[1]) + 1;
                    var tds = '<tr class="creditrow_' + trno + ' creditrows">';
                    jQuery.each($('tbody tr:first td', $("#tbl_Credit")), function () {
                        tds += '<td>' + $(this).val(0).html() + '</td>';
                    });
                    tds += '</tr>';
                    if ($('tbody', this).length > 0) {
                        $('tbody', this).append(tds);
                    } else {
                        $("#tbl_Credit").append(tds);
                    }
                }
                loadready();
            }
            function fnAddDebitRow(obj) {
                //alert($('#tbl_Debit tbody tr:last').attr("class"));
                //alert($('#tbl_Debit tbody tr:last').attr("class").split(" ")[0]);
                var DebitAccount = $('#tbl_Debit tbody tr:last').find(".ddl_DebitAccount").val();
                var DebitDescription = $('#tbl_Debit tbody tr:last').find(".txtDebitDescription").val();
                var DebitAmount = $('#tbl_Debit tbody tr:last').find(".txtDebitAmount").val();
                //alert(Number(CreditAmount));
                if (DebitAccount != 0 && DebitDescription != "" && Number(DebitAmount) != 0) {
                    var trno = Number($('#tbl_Debit tbody tr:last').attr("class").split(" ")[0].split("_")[1]) + 1;
                    var tds = '<tr class="debitrow_' + trno + ' debitrows">';
                    jQuery.each($('tbody tr:first td', $("#tbl_Debit")), function () {
                        tds += '<td>' + $(this).val(0).html() + '</td>';
                    });
                    tds += '</tr>';
                    if ($('tbody', this).length > 0) {
                        $('tbody', this).append(tds);
                    } else {
                        $("#tbl_Debit").append(tds);
                    }
                }
                loadready();
            }

            function fnRemoveRow(obj) {
                $(this).closest('tr').remove();
            }
            function Removetransaction() {
                var hidencPageID = $("#hidencPageID").val();
                var hidTransactionHeadID = $("#hidTransactionHeadID")
                $.ajax({
                    url: "/TransactionEntry/DeleteTransactionHead?TransactionHeadID=" + hidTransactionHeadID.val(),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        window.location.href = "/TransactionEntry/Index/" + hidencPageID;
                    }
                });

            }

            $("#btn_Submit").click(function () {
                var hidencPageID = $("#hidencPageID").val();
                if (fnValidate()) {

                    //var Description = $("#Description"),
                    //    data = {};
                    //// data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                    //data["Description"] = Description.val();

                    var hidTransactionHeadID = $("#hidTransactionHeadID"),
                        hidTransactionRefNo = $("#hidTransactionRefNo"),
                        hidFinancialYearID = $("#hidFinancialYearID"),
                        hidTransactionInputTypeID = $("#hidTransactionInputTypeID"),
                        hidCorporateGroupID = $("#hidCorporateGroupID"),
                        hidBusinessGroupID = $("#hidBusinessGroupID"),
                        hidVerticalGroupID = $("#hidVerticalGroupID"),
                        hidLegalEntityID = $("#hidLegalEntityID"),
                        hidProfitCentreID = $("#hidProfitCentreID"),
                        hidLocationID = $("#hidLocationID"),
                        hidUnitID = $("#hidUnitID"),
                        hidProjectID = $("#hidProjectID"),
                        txttotalDebitAmount = $(".txttotalDebitAmount"),
                        txtDescription= $("#txtDescription"),
                        //var ddl_LegalEntity = $("#ddl_LegalEntity"),
                        //CategoryName = $("#CategoryName"),
                        data = {},
                        headers = [],
                        Transactionfields = [];
                    data["TransactionHeadID"] = Number(hidTransactionHeadID.val());
                    data["TransactionRefNo"] = Number(hidTransactionRefNo.val());
                    data["FinancialYearID"] = Number(hidFinancialYearID.val());
                    data["TransactionInputTypeID"] = Number(hidTransactionInputTypeID.val());
                    data["CorporateGroupID"] = Number(hidCorporateGroupID.val());
                    data["BusinessGroupID"] = Number(hidBusinessGroupID.val());
                    data["VerticalGroupID"] = Number(hidVerticalGroupID.val());
                    data["LegalEntityID"] = Number(hidLegalEntityID.val());
                    data["ProfitCentreID"] = Number(hidProfitCentreID.val());
                    data["LocationID"] = Number(hidLocationID.val());
                    data["UnitID"] = Number(hidUnitID.val());
                    data["ProjectID"] = Number(hidProjectID.val());
                    data["TransactionTotal"] = Number(txttotalDebitAmount.val());
                    data["DescriptionHead"] = txtDescription.val();
                    headers.push("Debit");
                    headers.push("Credit");
                    headers.push("Description");
                    headers.push("AccountID");
                    headers.push("AccountTypeID");
                    headers.push("ParentCategoryID");
                    headers.push("CategoryID");
                    headers.push("MajorGroupID");
                    headers.push("GroupID");
                    headers.push("SubGroupID");
                    $("tr.debitrows").each(function () {
                        var RowNo= Number($(this).attr("class").split(" ")[0].split("_")[1]);
                        var DebitAccountID = $(this).find(".ddl_DebitAccount").val();
                        //alert($(this).find(".ddl_DebitAccount option:selected").val());
                        //alert($(this).find(".ddl_DebitAccount option:selected").attr("accounttypeid"));
                        var DebitDescription = $(this).find(".txtDebitDescription").val();
                        var DebitAmount = $(this).find(".txtDebitAmount").val();
                        var AccountTypeID = Number($(this).find(".ddl_DebitAccount option:selected").attr("accounttypeid"));
                        var ParentCategoryID = Number($(this).find(".ddl_DebitAccount option:selected").attr("parentcategoryid"));
                        var CategoryID = Number($(this).find(".ddl_DebitAccount option:selected").attr("categoryid"));
                        var MajorGroupID = Number($(this).find(".ddl_DebitAccount option:selected").attr("majorgroupid"));
                        var GroupID = Number($(this).find(".ddl_DebitAccount option:selected").attr("groupid"));
                        var SubGroupID = Number($(this).find(".ddl_DebitAccount option:selected").attr("subgroupid"));
                        if (DebitAccountID != 0 && DebitDescription != "" && Number(DebitAmount) != 0) {
                            var rws = {};
                            rws["Debit"] = Number(DebitAmount);
                            rws["Credit"] = 0;
                            rws["Description"] = DebitDescription;
                            rws["AccountID"] = DebitAccountID;
                            rws["AccountTypeID"] = AccountTypeID;
                            rws["ParentCategoryID"] = ParentCategoryID;
                            rws["CategoryID"] = CategoryID;
                            rws["MajorGroupID"] = MajorGroupID;
                            rws["GroupID"] = GroupID;
                            rws["SubGroupID"] = SubGroupID;
                            rws["RowNo"] = RowNo;
                            rws["RowType"] = 1;
                            Transactionfields.push(rws);
                            // alert(rws);
                        }
                    });

                    $("tr.creditrows").each(function () {
                        var RowNo= Number($(this).attr("class").split(" ")[0].split("_")[1]);
                        var CreditAccountID = $(this).find(".ddl_CreditAccount").val();
                        //alert($(this).find(".ddl_DebitAccount option:selected").val());
                        //alert($(this).find(".ddl_DebitAccount option:selected").attr("accounttypeid"));
                        var CreditDescription = $(this).find(".txtCreditDescription").val();
                        var CreditAmount = $(this).find(".txtCreditAmount").val();
                        var AccountTypeID = Number($(this).find(".ddl_CreditAccount option:selected").attr("accounttypeid"));
                        var ParentCategoryID = Number($(this).find(".ddl_CreditAccount option:selected").attr("parentcategoryid"));
                        var CategoryID = Number($(this).find(".ddl_CreditAccount option:selected").attr("categoryid"));
                        var MajorGroupID = Number($(this).find(".ddl_CreditAccount option:selected").attr("majorgroupid"));
                        var GroupID = Number($(this).find(".ddl_CreditAccount option:selected").attr("groupid"));
                        var SubGroupID = Number($(this).find(".ddl_CreditAccount option:selected").attr("subgroupid"));
                        if (CreditAccountID != 0 && CreditDescription != "" && Number(CreditAmount) != 0) {
                            var rws = {};
                            rws["Debit"] = 0;
                            rws["Credit"] = Number(CreditAmount);
                            rws["Description"] = CreditDescription;
                            rws["AccountID"] = CreditAccountID;
                            rws["AccountTypeID"] = AccountTypeID;
                            rws["ParentCategoryID"] = ParentCategoryID;
                            rws["CategoryID"] = CategoryID;
                            rws["MajorGroupID"] = MajorGroupID;
                            rws["GroupID"] = GroupID;
                            rws["SubGroupID"] = SubGroupID;
                            rws["RowNo"] = RowNo;
                            rws["RowType"] = 2;
                            Transactionfields.push(rws);
                            // alert(rws);
                        }
                    });

                    //$(".ProjectID").each(function (index) {
                    //    if ($(this).is(':checked') == true) {
                    //       // alert($(this).is(':checked'));
                    //        //$(this).val();
                    //        var h2 = {};
                    //        h2["ProjectID"] = $(this).val();
                    //        Transactionfields.push(h2);
                    //    }
                    //});
                    //alert(Transactionfields);
                    data["TransactionEntryDetailDefinationsList"] = Transactionfields;
                    // alert(JSON.stringify(data));
                    //return false;

                    $.ajax({
                        url: "/TransactionEntry/InsertTransactionEntry",
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            window.location.href = "/TransactionEntry/Index/" + hidencPageID;
                        },
                        error: function (msg) {

                        }
                    });
                }
                else {
                    return false;
                }
            });
            function fnValidate() {
                event.preventDefault();
                showoutput();
                var txttotalCreditAmount = $(".txttotalCreditAmount"),
                    txttotalDebitAmount = $(".txttotalDebitAmount"),
                    isValid = true,
                    spn_txttotalDebitAmount = $("#spn_txttotalDebitAmount"),
                    spn_txttotalCreditAmount = $("#spn_txttotalCreditAmount"),
                    txtDescription = $("#txtDescription"),
                    spn_txtDescription = $("#spn_txtDescription");
                spn_txttotalDebitAmount.hide();
                spn_txttotalCreditAmount.hide();
                spn_txtDescription.hide();
                //if (ddl_LegalEntity.val() == 0) {
                //    spn_LegalEntity.show();
                //    isValid = false;
                //}
                if (txttotalDebitAmount.val() == "" || txttotalDebitAmount.val() == "0") {
                    spn_txttotalDebitAmount.show();
                    isValid = false;
                }
                if (txttotalCreditAmount.val() == "" || txttotalCreditAmount.val() == "0") {
                    spn_txttotalCreditAmount.show();
                    isValid = false;
                }
                if (txtDescription.val() == "") {
                    spn_txtDescription.show();
                    isValid = false;
                }
                if (Number(txttotalDebitAmount.val()) != Number(txttotalCreditAmount.val())) {
                    alert("Invalid credit/debit transaction!");
                    isValid = false;
                }
                
                return isValid;
            }
        </script>



