﻿@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryTrialList>
@{
    // ViewData["Title"] = "Transaction Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>

<script src="~/assets/vendor/jquery-datatable/pdfmake.min.js"></script>
<script src="~/assets/vendor/html2canvas/html2canvas.min.js"></script>

<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<!-- MAIN CSS -->
<style>

    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<br />
<div>
    <input type="button" class="btn btn-primary" id="btnExportPDF" value="PDF" />
    <input type="button" class="btn btn-primary" id="btnExportEXCEL" value="Excel" />
</div>
<br />
<div class="table-responsive">
    @*table table-hover js-basic-example dataTable table-custom table-striped
        table table-bordered table-striped table-hover dataTable js-exportable
            table table-striped table-hover dataTable table-custom js-exportable*@
    <table class="table table-hover dataTable table-custom table-striped datatable_class" data-plugin="dataTable" style="width:950px" id="tblReport">
        <thead class="thead-dark">
            <tr id="tblReportthead" style="display:none"><td style="font-size: 23px;"><b></b></td></tr>
            <tr>
                <th style="display:none"></th>
                @*<th data-orderable="false" class="tdnumber">#S.No</th>*@
                @*<th data-orderable="false" class="tdnumber" style="text-align: left;">Major<br /> Group</th>*@
                <th data-orderable="false" class="tdnumber" style="text-align: left;">Description</th>
                <th data-orderable="false" class="tdnumber">Amount(INR)</th>
                <th data-orderable="false" class="tdnumber">Total Amount(INR)</th>

                @*<th>LegalEntity</th>
            <th>ProfitCentre</th>WW
            <th>Location</th>
            <th>Unit</th>
            <th>Project</th>*@
                @*<th>Amount</th>*@
                @*<th>Action</th>*@
            </tr>
        </thead>
        @{
            decimal amount_capital = 0;
            decimal amount_Loansliability = 0;
            decimal amount_CashandBank = 0;
            decimal amount_currentliability = 0;
            decimal amount_fixedasset = 0;
            decimal amount_Investment = 0;
            decimal amount_sundrydebtors = 0;
            decimal amount_Loansandadvance = 0;
            decimal amount_directincome = 0;
            decimal amount_directExpenses = 0;
            decimal amount_indirectExpenses = 0;
            decimal amount_indirectincome = 0;
            var MajorGroupID = 0;
            var MajorGroupID1 = 0;
            var MajorGroupID2 = 0;
            string MajorGroupName = "";
            int[] Major_GroupID = { 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 73, 75 };
            <tbody>
                @{int index = 1;}
                @foreach (var item in Model)
                {
                    MajorGroupID = item.MajorGroupID;
                    if (MajorGroupID == 63)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }
                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    var MajorGroupId = item.MajorGroupID;
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    if (MajorGroupId == 63)
                    {
                        ClosingBalance = @item.CloseCredit - @item.CloseDebit;
                        ClosingBal = @item.CloseDebit - @item.CloseCredit;
                        amount_capital = amount_capital + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupId == 63)

                        {
                            <tr>

                                @*<td class="tdnumber">
                                     @index
                                    </td>*@
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{
                                        string negclosingbalance = "";
                                        //if (ClosingBalance > 0 || ClosingBal < 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(ClosingBalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>


                        }

                    }


                }
                <tr>
                    @{
                        if (amount_capital != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_capital.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_capital.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>

                        }
                    }
                </tr>

                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    var MajorGroupId = item.MajorGroupID;
                    if (MajorGroupId == 72)
                    {
                        decimal ClosingBalance = @item.CloseCredit - @item.CloseDebit;
                        amount_directincome = amount_directincome + ClosingBalance;
                    }
                    if (MajorGroupId == 74)
                    {
                        decimal ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_directExpenses = amount_directExpenses + ClosingBalance;
                    }

                    if (MajorGroupId == 73)
                    {
                        decimal ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_indirectincome = amount_indirectincome + ClosingBalance;
                    }

                    if (MajorGroupId == 75)
                    {
                        decimal ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_indirectExpenses = amount_indirectExpenses + ClosingBalance;
                    }

                }
                <tr>
                    <td style="display:none"></td>
                    <td style="font-weight:bold;">Profit and Loss</td>
                    <td class="tdnumber" style="font-weight:bold;">
                        @{
                            decimal ProfitandLoss = 0;
                            @(Math.Round(ProfitandLoss = (amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses)).ToString("0.00"));
                        }
                    </td>
                    <td class="tdnumber" style="font-weight:bold;">
                        @{
                            @(Math.Round(ProfitandLoss = (amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses)).ToString("0.00"));
                        }
                    </td>
                </tr>

                @foreach (var item in Model)
                {

                    MajorGroupID1 = item.MajorGroupID;
                    if (MajorGroupID1 == 64)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }

                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    MajorGroupID1 = item.MajorGroupID;
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    if (MajorGroupID1 == 64)
                    {
                        ClosingBalance = @item.CloseCredit - @item.CloseDebit;
                        ClosingBal = @item.CloseDebit - @item.CloseCredit;
                        amount_Loansliability = amount_Loansliability + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupID1 == 64)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        string negclosingbalance = "";
                                        //if (ClosingBalance > 0 || ClosingBal < 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(ClosingBalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>

                            </tr>
                            //index++;
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }


                }
                <tr>
                    @{
                        if (amount_Loansliability != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_Loansliability.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_Loansliability.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>

                        }

                    }
                </tr>
                @foreach (var item in Model)
                {
                    MajorGroupID2 = item.MajorGroupID;
                    if (MajorGroupID2 == 65)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }
                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    MajorGroupID2 = item.MajorGroupID;
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    if (MajorGroupID2 == 65)
                    {
                        ClosingBalance = @item.CloseCredit - @item.CloseDebit;
                        ClosingBal = @item.CloseDebit - @item.CloseCredit;

                        amount_currentliability = amount_currentliability + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupID2 == 65)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        string negclosingbalance = "";
                                        decimal closingbalance = (@item.CloseCredit - @item.CloseDebit);
                                        //if (closingbalance > 0 || ClosingBal < 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}

                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }


                }
                <tr>
                    @{
                        if (amount_currentliability != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_currentliability.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_currentliability.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>
                        }

                    }
                </tr>
                <tr>
                    <td style="display:none"></td>
                    <td style="font-weight:bold;">Total Liabilities</td>
                    <td style="font-weight:bold;"></td>
                    <td class="tdnumber" style="font-weight:bold;">
                        @{
                            decimal Liabilities = 0;
                            @(Math.Abs(Liabilities = (amount_capital + amount_Loansliability + amount_currentliability) + ((amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses))).ToString("0.00"));
                        }
                    </td>

                </tr>
                @foreach (var item in Model)
                {
                    MajorGroupID1 = item.MajorGroupID;
                    if (MajorGroupID1 == 66)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }
                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    MajorGroupID1 = item.MajorGroupID;
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    if (MajorGroupID1 == 66)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        ClosingBal = @item.CloseCredit - @item.CloseDebit;
                        amount_fixedasset = amount_fixedasset + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupID1 == 66)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        string negclosingbalance = "";
                                        decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0 || ClosingBal > 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }


                }
                <tr>
                    @{
                        if (amount_fixedasset != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_fixedasset.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_fixedasset.ToString("0.00")
                            </td>

                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>

                        }

                    }
                </tr>
                @foreach (var item in Model)
                {
                    MajorGroupID1 = item.MajorGroupID;
                    if (MajorGroupID1 == 67)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }

                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    var MajorGroupId = item.MajorGroupID;
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    if (MajorGroupId == 67)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        ClosingBal = @item.CloseCredit - @item.CloseDebit;
                        amount_Investment = amount_Investment + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0)
                    {
                        if (MajorGroupId == 67)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        string negclosingbalance = "";
                                        decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0 || ClosingBal > 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }
                    }
                }
                <tr>
                    @{
                        if (amount_Investment != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_Investment.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_Investment.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>

                        }

                    }
                </tr>
                @foreach (var item in Model)
                {
                    MajorGroupID1 = item.MajorGroupID;
                    if (MajorGroupID1 == 68)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }


                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    var MajorGroupId = item.MajorGroupID;
                    if (MajorGroupId == 68)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        ClosingBal = @item.CloseCredit - @item.CloseDebit;
                        amount_sundrydebtors = amount_sundrydebtors + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupId == 68)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        string negclosingbalance = "";
                                        decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0 || ClosingBal > 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }


                }
                <tr>
                    @{
                        if (amount_sundrydebtors != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_sundrydebtors.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_sundrydebtors.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>

                        }

                    }
                </tr>



                @foreach (var item in Model)
                {
                    MajorGroupID1 = item.MajorGroupID;
                    if (MajorGroupID1 == 69)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }


                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    var MajorGroupId = item.MajorGroupID;
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    if (MajorGroupId == 69)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        ClosingBal = @item.CloseCredit - @item.CloseDebit;
                        amount_CashandBank = amount_CashandBank + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupId == 69)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        string negclosingbalance = "";
                                        decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0 || ClosingBal > 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }



                }
                <tr>
                    @{
                        if (amount_CashandBank != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_CashandBank.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_CashandBank.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>

                        }

                    }
                </tr>
                @foreach (var item in Model)
                {
                    MajorGroupID1 = item.MajorGroupID;
                    if (MajorGroupID1 == 70)
                    {
                        MajorGroupName = @item.MajorGroupName;
                    }

                }
                @{ if (MajorGroupName != "")
                    {
                        <tr>
                            <td style="display:none"></td>
                            <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                            <td class="tdnumber" style="text-align: left;"></td>
                            <td class="tdnumber" style="text-align: left;"></td>
                        </tr>

                    }

                }
                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    var MajorGroupId = item.MajorGroupID;
                    decimal ClosingBalance = 0;
                    decimal ClosingBal = 0;
                    if (MajorGroupId == 70)
                    {
                        ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        ClosingBal = @item.CloseCredit - @item.CloseDebit;
                        amount_Loansandadvance = amount_Loansandadvance + ClosingBalance;
                    }

                    // sumofdebit = sumofdebit + @item.Debit;

                    if (ClosingBalance > 0 || ClosingBal > 0)
                    {
                        if (MajorGroupId == 70)

                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{

                                        string negclosingbalance = "";
                                        decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                        //if (closingbalance < 0 || ClosingBal > 0)
                                        //{
                                        //    negclosingbalance = "Cr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //else
                                        //{
                                        //    negclosingbalance = "Dr ";
                                        //    //@(neg + " " + (closingbalance).ToString("0.00"));
                                        //}
                                        //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                                        @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            //index++;
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>
                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }


                }
                <tr>
                    @{
                        if (amount_Loansandadvance != 0)
                        {
                            <td style="display:none"></td>
                            <td style="font-weight:bold;">Total</td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_Loansandadvance.ToString("0.00")
                            </td>
                            <td class="tdnumber" style="font-weight:bold;">
                                @amount_Loansandadvance.ToString("0.00")
                            </td>
                        }
                        else
                        {
                            <td style="display:none"></td>
                            <td></td>
                            <td class="tdnumber"></td>
                            <td class="tdnumber"></td>

                        }

                    }
                </tr>
                <tr>
                    <td style="display:none"></td>
                    <td style="font-weight:bold;">Total Assets</td>
                    <td class="tdnumber"></td>
                    <td class="tdnumber" style="font-weight:bold;">
                        @{
                            decimal Assets = 0;
                            @(Math.Abs(Assets = amount_fixedasset + amount_CashandBank + amount_Investment + amount_sundrydebtors + amount_Loansandadvance).ToString("0.00"))

                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
<script type="text/javascript">

    $('button.Show_button').click(function () {
        var GroupID = $(this).attr('data-id')
        var appr = $('td[data-name="' + GroupID + '"]');
        $("#Accountdetails_cr_" + GroupID).toggle();
        $("#Accountdetails_dr_" + GroupID).toggle();
        var hidLegalEntity = $("#hidLegalEntityID"),
            ddl_SubCategory = $("#ddl_MajorCategory"),
            Accountname = $("#hidAccountname"),
            StartDate = $("#StartDate"),
            EndDate = $("#EndDate");

        var c = {};
        var d = {};
        d.AccountName = Accountname.val();
        c["Getaccountdetails"] = d;
        appr[0].textContent = "True";
        $("#Accountdetails_cr_" + GroupID).html('');
        $("#Accountdetails_dr_" + GroupID).html('');

        $.ajax({
            type: "GET",
            url: "/TransactionEntry/BalanceSheet_GetAccount?LegalEntityID=" + hidLegalEntity.val() + "&MajorGroupID=" + ddl_SubCategory.val() + "&StartDate=" + getdate(StartDate.val()) + "&EndDate=" + getdate(EndDate.val()) + "&GroupID=" + GroupID,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(d),
            dataType: "json",
            success: function (msg) {
                console.log(msg)
                $.each(msg, function (x, v) {
                    if ((v.closeDebit) != '0.0' || (v.closeDebit) != '0.00') {
                        var rows_dr =
                            "<table width='113%' style='table-layout:fixed'>" +
                            "<tr>" +
                            "<td style='display: none'></td>" +
                            "<td class='tdnumber'  style='text-align: left;'>" + v.accountName + "</td>" +
                            "<td class='tdnumber' style='' >" + parseFloat(v.closeDebit - v.closeCredit).toFixed(2) + "</td>" +
                            "</tr>" +
                            "</table>";
                        if (parseFloat(v.closeDebit - v.closeCredit).toFixed(2) > '0.00') {
                            $("#Accountdetails_dr_" + GroupID).append(rows_dr);
                        }
                    }

                    if (v.closeCredit != '0.0' || v.closeCredit != '0.00') {
                        var rows_cr =
                            "<table width='113%' style='table-layout:fixed'>" +
                            "<tr>" +
                            "<td style='display: none'></td>" +
                            "<td class='tdnumber'  style='text-align: left;' colspan='3'>" + v.accountName + "</td>" +
                            "<td class='tdnumber' >" + parseFloat(v.closeCredit - v.closeDebit).toFixed(2) + "</td>" +
                            "</tr>" +
                            "</table>";
                        if (parseFloat(v.closeCredit - v.closeDebit).toFixed(2) > '0.00') {
                            $("#Accountdetails_cr_" + GroupID).append(rows_cr);
                        }
                    }
                })

            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    });


    var tempId;

    //Export PDF
    function getClippedRegion(image, x, y, width, height) {
        var canvas = document.createElement("canvas"),
            ctx = canvas.getContext("2d");
        canvas.width = width;
        canvas.height = height;
        //                   source region         dest. region
        ctx.drawImage(image, x, y, width, height, 0, 0, width, height);
        return {
            // Those are some pdfMake params
            image: canvas.toDataURL(),
            width: 550
        };
    }

    $("body").on("click", "#btnExportPDF", function () {
        debugger
        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();
        var Companyname = $("#MainHeaderCmpny").text();
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        var FileName = "BALANCE SHEET_" + StartDate + "_" + EndDate + "_" + time;
        $("#tblReportthead b").text("BALANCE SHEET_" + Companyname + " - " + StartDate + " To " + EndDate);
        $("#tblReportthead").css("display", "block");

        html2canvas($("#tblReport")[0], {
            onrendered: function (canvas) {

                // split the canvas produced by html2canvas into several, based on desired PDF page height
                let splitAt = 1275; // A page height which fits for "LETTER" pageSize...

                let images = [];
                let y = 0;
                while (canvas.height > y) {
                    images.push(getClippedRegion(canvas, 0, y, canvas.width, splitAt));
                    y += splitAt;
                }

                // PDF creation using pdfMake
                var docDefinition = {
                    content: images,
                    pageSize: "LETTER"
                };
                $("#tblReportthead").css("display", "none");
                pdfMake.createPdf(docDefinition).download(FileName + ".pdf");
            }
        });
    });

    //Export Excel
    $("body").on("click", "#btnExportEXCEL", function () {
        debugger
        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();
        var Companyname = $("#MainHeaderCmpny").text();
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        var FileName = "BALANCESHEET_" + StartDate + "_" + EndDate + "_" + time;

        $("#tblReport").table2excel({
            exclude: ".excludeThisClass",
            name: "Worksheet Name",
            filename: FileName
        });
    });  
</script>
