﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
    // ViewData["Title"] = "Transaction Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>


<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>
<style>
    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<br />
<div class="table-responsive">
    <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable">
        <thead class="thead-dark">
            <tr>
                <th style="display:none"></th>
                <th data-orderable="false">Date</th>
                <th data-orderable="false">Doc No</th>
                @*<th data-orderable="false">Check No/RTGS No</th>*@
                <th data-orderable="false">Reference/Detail</th>
                @*<th data-orderable="false">GL Account</th>*@
                <th data-orderable="false" class="tdnumber">Opening<br />Balance</th>
                <th data-orderable="false" class="tdnumber">Debit</th>
                <th data-orderable="false" class="tdnumber">Credit</th>
                <th data-orderable="false" class="tdnumber">Closing<br />Balance</th>
                @*<th>LegalEntity</th>
                    <th>ProfitCentre</th>
                    <th>Location</th>
                    <th>Unit</th>
                    <th>Project</th>*@
                @*<th>Amount</th>*@
                @*<th>Action</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                List<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList> lstTransactionEntryViewModelListRegister = (List<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>)@ViewBag.GetAllTransactionEntryViewModelListRegisterByLegalEntityIDAccountIDStartDateEndDate;
                decimal closingbalance = @ViewBag.ClosingBalanceAmount;
            }
            @{

                List<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList> lstTransactionEntryViewModelList = (List<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>)@ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate;

                foreach (var itemhead in lstTransactionEntryViewModelList)
                {
                    decimal openingbalance = 0;
                    openingbalance = closingbalance;//(@itemhead.OpenDebit - @itemhead.OpenCredit);
                                                    //var lstTransactionEntryViewModelListRegisterlist = lstTransactionEntryViewModelListRegister.Where(s => s.TransactionHeadID == @itemhead.TransactionHeadID && s.AccountID == @itemhead.AccountID).OrderBy(s => s.RowNo).ToList();
                                                    //foreach (var item in lstTransactionEntryViewModelListRegisterlist)
                                                    //{
                        <tr>
                            <td style="display:none"></td>
                            <td>@itemhead.TransactionEntryDate.ToString("dd/MM/yyyy")</td>
                            <td>@itemhead.TransactionShortRefNo</td>
                            @*<td>@itemhead.Description</td>*@
                            <td>@itemhead.Description</td>
                            @*<td>@itemhead.AccountName</td>*@
                            <td class="tdnumber">
                                @{
                                    string negopeningbalance = "";
                                    if (openingbalance < 0)
                                    {
                                        negopeningbalance = "Cr ";
                                    }
                                    else
                                    {
                                        negopeningbalance = "Dr ";
                                    }
                                    @(Math.Abs(openingbalance).ToString("0.00") + " " + negopeningbalance);
                                }
                            </td>
                            <td class="tdnumber">@itemhead.Debit.ToString("0.00")</td>
                            <td class="tdnumber">@itemhead.Credit.ToString("0.00")</td>


                            <td class="tdnumber">
                                @{
                                    string negclosingbalance = "";
                                    closingbalance = (openingbalance + (itemhead.Debit - itemhead.Credit));
                                    openingbalance = closingbalance;
                                    if (closingbalance < 0)
                                    {
                                        negclosingbalance = "Cr ";
                                    }
                                    else
                                    {
                                        negclosingbalance = "Dr ";
                                    }
                                    @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                                }
                            </td>
                            @*<td>@item.LegalEntityName</td>
                                <td>@item.ProfitCentreName</td>
                                <td>@item.LocationName</td>
                                <td>@item.UnitName</td>
                                <td>@item.ProjectName</td>*@
                            @*<td style="text-align:right;">@item.TransactionTotal.ToString("0.00")</td>*@
                            @*<td>
                                    <div class="btn-group-sm">
                                        <button class="btn btn-primary right" onclick="fnViewTransactionEntryEditModel(@item.TransactionHeadID)" data-toggle="modal" data-target="#TransactionEntryModuleView"><i class="fa fa-eye"></i></button>
                                    </div>
                                </td>*@
                        </tr>
                        //}
                    }
                }
            
        </tbody>
    </table>
</div>
