﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
    ViewData["Title"] = "CashReceipt";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
</style>

<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>@ViewData["Title"]</h2>
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Payments</li>
                            <li class="breadcrumb-item active">Payment Invoice</li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    @*<div class="header">
                            <h2>@ViewData["Title"] List</h2>
                        </div>*@
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        <input id="IsDateRange" type="checkbox" checked="checked">
                                        <span>Date Range</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        <input id="IsAsonDate" type="checkbox" onclick="ondatetypechangeIsAsonDate()">
                                        <span>As on Date(From Financial Year)</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Start Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="StartDate" class="form-control" readonly="readonly">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <span>End Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="EndDate" class="form-control" readonly="readonly">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_EndDate">Please enter EndDate</span>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-4">
                                <span>Chart of Accounts</span>
                                <select id="ddl_Account" class="form-control">
                                    <option value="0">Account</option>
                                    @foreach (var item in @ViewBag.AllAccounts)
                                    {
                                        <option value="@item.AccountID" AccountTypeID="@item.AccountTypeID" ParentCategoryID="@item.ParentCategoryID" CategoryID="@item.CategoryID" MajorGroupID="@item.MajorGroupID" GroupID="@item.GroupID" SubGroupID="@item.SubGroupID" AccountName="@item.AccountName">@item.AccountName</option>
                                    }
                                </select>
                            </div>*@
                            @*<div class="col-lg-4">
                                <span>&nbsp;</span><br />
                                <button type="submit" id="btn_View" title="Save!" class="btn btn-primary">View</button>
                                <div id="divLoader" class="loading" align="center">
                                    <img src="~/assets/images/loading (1).gif" alt="" width="160" height="80" />
                                </div>
                           
                                <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                                <input type="hidden" id="hidStartDate" value="@ViewBag.StartDate" />
                                <input type="hidden" id="hidEndDate" value="@ViewBag.EndDate" />
                                <input type="hidden" id="hidCurrentDate" value="@ViewBag.CurrentDate" />
                                @{
                                    string CompanyName = "";
                                    @foreach (var item in @ViewBag.GetCompany)
                                    {
                                        CompanyName = (@item.Name);
                                    }
                                    <input type="hidden" id="hidcompany" value="@Html.DisplayFor(m =>CompanyName)" />

                                }

                            </div>*@
                        </div>
                        <div id="ViewReport" class="row clearfix">

                            <div id="divViewReport" class="col-lg-12">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ondatetypechangeIsDateRange() {
        var StartDate = $("#StartDate");
        var EndDate = $("#EndDate");
        var IsDateRange = $('#IsDateRange').is(':checked');
        var IsAsonDate = $('#IsAsonDate').is(':checked');
        //alert(IsDateRange);
        //alert(IsAsonDate);
        //$('#IsDateRange').removeAttr('checked');
        //$('#IsAsonDate').removeAttr('checked');
        $('#IsDateRange').prop('checked', false);
        $('#IsAsonDate').prop('checked', false);
        StartDate.val("");
        EndDate.val("");
        if (IsDateRange == true) {
            //$('#IsDateRange').attr('checked', 'checked');
            $('#IsAsonDate').prop('checked', false);
            $('#IsDateRange').prop('checked', true);
        }
        else {
            //$('#IsDateRange').attr('checked', 'checked');
            $('#IsDateRange').prop('checked', false);
            $('#IsAsonDate').prop('checked', true);
        }
    }
    function ondatetypechangeIsAsonDate() {
        //alert("sdasd");
        var StartDate = $("#StartDate");
        var EndDate = $("#EndDate");
        var hidStartDate = $("#hidStartDate");
        var hidEndDate = $("#hidEndDate");
        var hidCurrentDate = $("#hidCurrentDate");
        var IsDateRange = $('#IsDateRange').is(':checked');
        var IsAsonDate = $('#IsAsonDate').is(':checked');
        //alert(IsDateRange);
        //alert(IsAsonDate);
        //$('#IsDateRange').removeAttr('checked');
        //$('#IsAsonDate').removeAttr('checked');
        $('#IsDateRange').prop('checked', false);
        $('#IsAsonDate').prop('checked', false);
        if (IsAsonDate == true) {
            StartDate.val(hidStartDate.val());
            EndDate.val(hidCurrentDate.val());
            //$('#IsDateRange').attr('checked', 'checked');
            $('#IsAsonDate').prop('checked', true);
            $('#IsDateRange').prop('checked', false);
        }
        else {
            //$('#IsDateRange').attr('checked', 'checked');
            $('#IsAsonDate').prop('checked', false);
            $('#IsDateRange').prop('checked', true);
        }
    }
    function getdate(str) {
        //alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[1] + "-" + dat[0] + "-" + dat[2]);
    }
    //$("#btn_View").click(function () {
    //    if (fnValidate()) {
    //        debugger;
         
    //        var hidLegalEntity = $("#hidLegalEntityID"),
    //            ddl_Account = $("#ddl_Account"),
    //            hidcompany = $("#hidcompany"),
    //            StartDate = $("#StartDate"),
    //            EndDate = $("#EndDate");

    //        $(document).prop('title', 'GL ACCOUNT  OF ' + hidcompany.val() + ' - ACCOUNT NAME:' + $("#ddl_Account option:selected").text());

    //        $("#divViewReport").empty();
    //        $("#divLoader").show();
    //        var modal, loading;
    //        modal = document.createElement("DIV");
    //        modal.className = "modal";
    //        document.body.appendChild(modal);
    //        loading = document.getElementsByClassName("loading")[0];
    //        loading.style.display = "block";
    //        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
    //        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
    //        loading.style.top = top + "px";
    //        loading.style.left = left + "px";
         

    //        $("#divViewReport").load("/TransactionEntry/GLAccountReportDateRange?LegalEntityID=" + hidLegalEntity.val() + "&AccountID=" + ddl_Account.val() + "&StartDate=" + getdate(StartDate.val()) + "&EndDate=" + getdate(EndDate.val()), function (responseTxt, statusTxt, jqXHR) {
    //            if (statusTxt == "success") {
    //                $("#divLoader").hide();
    //            }
    //            if (statusTxt == "error") {
    //                $("#divLoader").show();
    //            }
    //        });
    //    }
    //    else {
    //        return false;
    //    }
    //});

    function fnValidate() {

        event.preventDefault();
        var StartDate = $("#StartDate"),
            EndDate = $("#EndDate"),
         
            isValid = true,
            spn_StartDate = $("#spn_StartDate"),
            spn_EndDate = $("#spn_EndDate");
     
        spn_StartDate.hide();
        spn_EndDate.hide();
      
        if (StartDate.val() == "") {
            spn_StartDate.show();
            isValid = false;
        }
        if (EndDate.val() == "") {
            spn_EndDate.show();
            isValid = false;
        }

        return isValid;
    }

</script>
