﻿@model IEnumerable<Accounting.Web.Models.DBModels.TransactionEntryModel>
@{
    ViewData["Title"] = "Cash Receipt Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
    //var UsrName_Var = Context.Session.GetString("UsrName");
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>


<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>
<style>
    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@
@*<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">

                    </div>
                    <div class="body">*@

<div class="table-responsive">
    <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Document No</th>
                <th>Action</th>
            </tr>
        </thead>
        @{
            decimal sumofdebit = 0;
            decimal sumofcredit = 0;

            <tbody>
                @foreach (var item in Model)

                {
                    sumofdebit = sumofdebit + @item.Debit;
                    sumofcredit = sumofcredit + @item.Credit;
                    <tr>
                        <td>@item.TransactionEntryDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.TransactionShortRefNo.ToString()</td>
                        <td>
                            <div class="btn-group-sm">
                                <button class="btn btn-primary" onclick="fnVoucherdetails_Entry(@item.TransactionHeadID)" data-toggle="modal" data-target="#VoucherModule">View</button>
                                <input type="hidden" id="hidTransactionHeadID" value="@item.TransactionHeadID" />
                                <input type="hidden" id="hidTransactionID" value="@item.TransactionInputTypeID" />
                                <input type="hidden" id="hiddebit" value="@item.Debit" />
                                @*<input type="hidden" id="hidPastdatestatus" value="@item.Pastdate_status" />*@
                                @*@if (UsrName_Var.ToLower() == "admin")
                                    {
                                        <button class="btn btn-primary" onclick="fnVoucherdetails_Edit(@item.TransactionHeadID)" data-toggle="modal" data-target="#VoucherModule">Edit</button>
                                    }*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

@*</div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div id="VoucherModule" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divVoucherdetails">
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<script>
    //function fnVoucherdetails_Entry(Id) {
    //    debugger
    //    $("#main-content").hide();
    //    $("#divVoucherdetails").empty();
    //    var AccountName = "";
    //    var LegalEntityID = "";
    //    $.ajax({
    //        url: "/TransactionEntry/CancelledViewVoucherDetails?ID=" + Id,
    //        type: "GET",
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "HTML",
    //        success: function (msg) {
    //            debugger
    //            $('#divVoucherdetails').html(msg);
    //            $('#VoucherModule').modal('toggle');
    //            $('#VoucherModule').modal('show');
    //            //$("#div_tableView").empty();
    //            //$("#div_tableView").load("/TransactionEntry/ShowTransactionEntryTableView/" + msg);
    //            //window.location.href = "/TransactionEntry/Index/" + hidencPageID;
    //        }
    //    });
    //    //$("#divVoucherdetails").load("/TransactionEntry/CancelledViewVoucherDetails/" + Id);

    //}
    function fnVoucherdetails_Entry(Id) {
        debugger;
        //$("#main-content").hide();
        $('.modal-backdrop').removeClass();
        $("#divVoucherdetails").empty();
        $("#divVoucherdetails").load("/TransactionEntry/CancelledViewVoucherDetails/" + Id);
    }

</script>
