﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
    // ViewData["Title"] = "Transaction Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>


<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>
<style>
    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<br />
<div class="table-responsive">
    <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable">
        <thead class="thead-dark">
            <tr>
                <th style="display:none"></th>
                <th data-orderable="false">Date</th>
                <th data-orderable="false">Doc No</th>
                <th style="width:20%;">Reference/Detail</th>
                <th data-orderable="false" class="tdnumber">Opening<br />Balance</th>
                <th data-orderable="false" class="tdnumber">Debit</th>
                <th data-orderable="false" class="tdnumber">Credit</th>
                <th data-orderable="false" class="tdnumber">Closing<br />Balance</th>
               
            </tr>
        </thead>
        <tbody>
            @{
                decimal closingbalance = @ViewBag.ClosingBalanceAmount;

                foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    <tr>
                        <td style="display:none"></td>
                        <td>@item.TransactionEntryDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.TransactionShortRefNo</td>
                        <td>@item.Description</td>
                        <td class="tdnumber">
                            @{
                                string negopeningbalance = "";
                                decimal openingbalance = closingbalance;//(@item.OpenDebit - @item.OpenCredit);
                                if (openingbalance < 0)
                                {
                                    negopeningbalance = "Cr ";
                                    
                                }
                                else
                                {
                                    negopeningbalance = "Dr ";
                                   
                                }
                                if (openingbalance > 0)
                                {
                                    negopeningbalance = "Cr ";
                                    
                                }
                                else
                                {
                                    negopeningbalance = "Dr ";
                                    
                                }
                                
                                @(Math.Abs(openingbalance).ToString("0.00") + " " + negopeningbalance);
                            }
                            @*@((@item.OpenDebit - @item.OpenCredit).ToString("0.00"))*@
                        </td>
                        <td class="tdnumber">@item.Debit.ToString("0.00")</td>
                        <td class="tdnumber">@item.Credit.ToString("0.00")</td>
                        <td class="tdnumber">
                            @{
                                string negclosingbalance = "";
                                closingbalance = (openingbalance + (@item.Debit - @item.Credit));
                                //decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);
                                if (closingbalance < 0)
                                {
                                    negclosingbalance = "Cr ";
                                   
                                }
                                else
                                {
                                    negclosingbalance = "Dr ";
                                   
                                }
                               
                                @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                            }
                        </td>
                     
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
