﻿@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryTrialList>
@{
    // ViewData["Title"] = "Transaction Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>

<!-- MAIN CSS -->
<style>

    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<br />
<div class="table-responsive" id="ProfitandLossID">
    @*table table-hover js-basic-example dataTable table-custom table-striped
        table table-bordered table-striped table-hover dataTable js-exportable
            table table-striped table-hover dataTable table-custom js-exportable*@
    <input type="button" id="btnExport" value="Export" />
    @*<button value="Export report to Excel" class="button-default datatable-csv" type="button" id="ExportReporttoExcel">
            <span>Export report to Excel</span>
        </button>*@
    <table id="dtexport" class="table table-hover js-exportable dataTable table-custom table-striped datatable_class" data-plugin="dataTable" >
        <thead class="thead-dark">
            <tr>
                <th style="display:none"></th>
                @*<th data-orderable="false" class="tdnumber">#S.No</th>*@
                @*<th data-orderable="false" class="tdnumber" style="text-align: left;">Major<br /> Group</th>*@
                <th data-orderable="false" class="tdnumber" style="text-align: left;">Description</th>
                <th data-orderable="false" id="ThCol1" class="tdnumber"></th>
                <th data-orderable="false" id="ThCol2" class="tdnumber"></th>
                <th data-orderable="false" id="ThCol3" class="tdnumber"></th>
                <th data-orderable="false" id="ThCol4" class="tdnumber"></th>

                @*<th>LegalEntity</th>
                    <th>ProfitCentre</th>WW
                    <th>Location</th>
                    <th>Unit</th>
                    <th>Project</th>*@
                @*<th>Amount</th>*@
                @*<th>Action</th>*@
            </tr>
        </thead>
        @{
            decimal amount_directincome = 0;
            decimal amount_directExpenses = 0;
            decimal amount_indirectExpenses = 0;
            decimal amount_indirectincome = 0;

            int[] Major_GroupID = { 72, 74, 73, 75 };
            <tbody>


                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    var MajorGroupId = item.MajorGroupID;
                    if (MajorGroupId == 72)
                    {
                        decimal ClosingBalance = @item.CloseCredit - @item.CloseDebit;
                        amount_directincome = amount_directincome + ClosingBalance;
                    }
                    if (MajorGroupId == 74)
                    {
                        decimal ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_directExpenses = amount_directExpenses + ClosingBalance;
                    }

                    if (MajorGroupId == 73)
                    {
                        decimal ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_indirectincome = amount_indirectincome + ClosingBalance;
                    }

                    if (MajorGroupId == 75)
                    {
                        decimal ClosingBalance = @item.CloseDebit - @item.CloseCredit;
                        amount_indirectExpenses = amount_indirectExpenses + ClosingBalance;
                    }

                }
                <tr>
                    <td style="display:none"></td>
                    <td style="font-weight:bold;">Profit and Loss</td>
                    <td class="tdnumber" id="Col1" style="font-weight:bold;">
                        @{
                            decimal ProfitandLoss = 0;
                            @(Math.Round(ProfitandLoss = (amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses)).ToString("0.00"));
                        }
                    </td>
                    <td class="tdnumber" id="col2" style="font-weight:bold;">
                        @{
                            @(Math.Round(ProfitandLoss = (amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses)).ToString("0.00"));
                        }
                    </td>
                </tr>

            </tbody>
        }
    </table>
</div>
<script type="text/javascript">

    function getdate(str) {
        //alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[1] + "-" + dat[0] + "-" + dat[2]);
    }

    // date format change
    function formatDate(given_date) {
        var d = new Date(given_date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('-');
    }

    //$('button.Show_button').click(function () {
    //    var GroupID = $(this).attr('data-id')
    //    var appr = $('td[data-name="' + GroupID + '"]');
    //    $("#Accountdetails_cr_" + GroupID).toggle();
    //    $("#Accountdetails_dr_" + GroupID).toggle();
    //    var hidLegalEntity = $("#hidLegalEntityID"),
    //        ddl_SubCategory = $("#ddl_MajorCategory"),
    //        Accountname = $("#hidAccountname"),
    //        StartDate = $("#StartDate"),
    //        EndDate = $("#EndDate");

    //    var c = {};
    //    var d = {};
    //    d.AccountName = Accountname.val();
    //    c["Getaccountdetails"] = d;
    //    appr[0].textContent = "True";
    //    $("#Accountdetails_cr_" + GroupID).html('');
    //    $("#Accountdetails_dr_" + GroupID).html('');
    //    $.ajax({
    //        type: "GET",
    //        url: "/TransactionEntry/GroupComparisonReportRange?LegalEntityID=" + hidLegalEntity.val() + "&StartDate=" + getdate(StartDate.val()) + "&EndDate=" + getdate(EndDate.val()),
    //        contentType: "application/json; charset=utf-8",
    //        data: JSON.stringify(d),
    //        dataType: "json",
    //        success: function (msg) {
    //            console.log(msg)
    //            $.each(msg, function (x, v) {
    //                if ((v.closeDebit) != '0.0' || (v.closeDebit) != '0.00') {
    //                    var rows_dr =
    //                        "<table width='113%' style='table-layout:fixed'>" +
    //                        "<tr>" +
    //                        "<td style='display: none'></td>" +
    //                        "<td class='tdnumber'  style='text-align: left;'>" + v.accountName + "</td>" +
    //                        "<td class='tdnumber' style='' >" + parseFloat(v.closeDebit - v.closeCredit).toFixed(2) + "</td>" +
    //                        "</tr>" +
    //                        "</table>";
    //                    if (parseFloat(v.closeDebit - v.closeCredit).toFixed(2) > '0.00') {
    //                        $("#Accountdetails_dr_" + GroupID).append(rows_dr);
    //                    }
    //                }

    //                if (v.closeCredit != '0.0' || v.closeCredit != '0.00') {
    //                    var rows_cr =
    //                        "<table width='113%' style='table-layout:fixed'>" +
    //                        "<tr>" +
    //                        "<td style='display: none'></td>" +
    //                        "<td class='tdnumber'  style='text-align: left;' colspan='3'>" + v.accountName + "</td>" +
    //                        "<td class='tdnumber' >" + parseFloat(v.closeCredit - v.closeDebit).toFixed(2) + "</td>" +
    //                        "</tr>" +
    //                        "</table>";
    //                    if (parseFloat(v.closeCredit - v.closeDebit).toFixed(2) > '0.00') {
    //                        $("#Accountdetails_cr_" + GroupID).append(rows_cr);
    //                    }
    //                }
    //            })

    //        },
    //        failure: function (response) {

    //        },
    //        error: function (response) {

    //        }
    //    });
    //});


    var tempId;

</script>
