@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
</style>
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>

<!-- MAIN CSS -->
<style>

    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>

@{
    ViewData["Title"] = "Group Comparison Report";
    Layout = "~/Views/Shared/_Layout3.cshtml";



    <div id="main-content" data-plugin="ProductScript">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
            @*<div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select id="ddllocations" class="form-control">
                                        <option value="0">Select Location</option>
                                        @foreach (var item in ViewBag.AllLocations)
                                        {
                                            <option value="@item.LocationID">@item.LocationName</option>
                                        }
                                    </select>
                                    <span id="spn_Locations" style="color:red;display:none">Please select Location</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>*@

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span>Month</span>
                                            <select id="ddlMonths" class="form-control">
                                                <option value="">Select</option>
                                                <option value="0">Jan</option>
                                                <option value="1">Feb</option>
                                                <option value="2">Mar</option>
                                                <option value="3">Apr</option>
                                                <option value="4">May</option>
                                                <option value="5">Jun</option>
                                                <option value="6">Jul</option>
                                                <option value="7">Aug</option>
                                                <option value="8">Sep</option>
                                                <option value="9">Oct</option>
                                                <option value="10">Nov</option>
                                                <option value="11">Dec</option>
                                            </select>
                                            <span style="color:red;display:none;" id="spn_StartDate">Please Select Month</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>Year</span>
                                            <select id="ddlYears" class="form-control">
                                                @*<option value="">Select</option>
                                                    <option value="2020">2020</option>*@
                                            </select>
                                            <span style="color:red;display:none;" id="spn_EndDate">Please Select Year</span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <span>&nbsp;</span><br />
                                    <button type="submit" id="btn_View" title="Save!" class="btn btn-primary">View</button>
                                    <div id="divLoader" class="loading" align="center">
                                        <img src="~/assets/images/loading (1).gif" alt="" width="160" height="80" />
                                    </div>
                                    <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                                    <input type="hidden" id="hidStartDate" value="@ViewBag.startdate" />
                                    <input type="hidden" id="hidEndDate" value="@ViewBag.Enddate" />
                                    <input type="hidden" id="hidCurrentDate" value="@ViewBag.CurrentDate" />
                                    <input type="hidden" id="hidBusinessAreaID" value="@ViewBag.BusinessAreaID" />
                                </div>
                            </div>
                            <div id="ViewReport" class="row clearfix">

                                <div id="divViewReport" class="col-lg-12">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
       
        
        window.onload = function () {
            //Reference the DropDownList.
            var ddlYears = document.getElementById("ddlYears");

            //Determine the Current Year.
            var currentYear = (new Date()).getFullYear();

            //Loop and add the Year values to DropDownList.
            for (var i = 2020; i <= currentYear; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                ddlYears.appendChild(option);
            }
        };
        $(document).on('click', '#btnExport', function () {
            html2canvas($('#dtexport')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500,
                            font: 15
                        }],

                    };
                    pdfMake.createPdf(docDefinition).download("GroupComparisonExport.pdf");
                }
            });
        });


        function ExportPdftoDt() {
            $('#dtexport').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        }

        function ondatetypechangeIsDateRange() {
            var StartDate = $("#StartDate");
            var EndDate = $("#EndDate");
            var IsDateRange = $('#IsDateRange').is(':checked');
            //alert(IsDateRange);
            //alert(IsAsonDate);
            //$('#IsDateRange').removeAttr('checked');
            //$('#IsAsonDate').removeAttr('checked');
            $('#IsDateRange').prop('checked', false);
            StartDate.val("");
            EndDate.val("");
            if (IsDateRange == true) {
                //$('#IsDateRange').attr('checked', 'checked');
                $('#IsAsonDate').prop('checked', false);
                $('#IsDateRange').prop('checked', true);
            }
            else {
                //$('#IsDateRange').attr('checked', 'checked');
                $('#IsDateRange').prop('checked', false);
                $('#IsAsonDate').prop('checked', true);
            }
        }
        function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split('-')
            return (dat[1] + "-" + dat[0] + "-" + dat[2]);
        }

        // date format change
        function formatDate(given_date) {
            var d = new Date(given_date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('-');
        }

        //append month and year
        $("#btn_View").click(function () {
            debugger;
            if (fnValidate()) {
                //first day and last day of month and year
                var year_input = parseInt($("#ddlYears").val());
                console.log(year_input);
                var month_input = parseInt($("#ddlMonths").val());
                console.log(month_input);

                var firstDay = new Date(year_input, month_input, 1);
                var lastDay = new Date(year_input, month_input + 1, 0);
                StartDate = formatDate(firstDay);
                EndDate = formatDate(lastDay);

                var hidLegalEntity = $("#hidLegalEntityID"),
                    hidProfitCentre = $("#hidProfitCentre"),
                    ddl_SubCategory = $("#ddl_MajorCategory"),
                    hidcompany = $("#hidcompany"),
                    hidBusinessAreaID = $("#hidBusinessAreaID");

                // StartDate = $("#StartDate"),
                //EndDate = $("#EndDate");
                $("#divViewReport").empty();
                //alert(hidLegalEntity.val());
                $("#divLoader").show();
                var modal, loading;
                modal = document.createElement("DIV");
                modal.className = "modal";
                document.body.appendChild(modal);
                loading = document.getElementsByClassName("loading")[0];
                loading.style.display = "block";
                var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
                var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
                loading.style.top = top + "px";
                loading.style.left = left + "px";
                //alert(hidLegalEntity.val());
                // value is 2020
                var DateArr = []; //2018,2019
                if (month_input == 0 || month_input == 1 || month_input == 2) {
                    DateArr.push(year_input - 2); // 2018
                    DateArr.push(year_input - 1); // 2019
                    DateArr.push(year_input); // 2019
                }
                else {
                    DateArr.push(year_input - 1); // 2018
                    DateArr.push(year_input); // 2019

                }
                //$("#divViewReport").load("/TransactionEntry/MonthlyProftandLossDateRange?LegalEntityID=" + hidLegalEntity.val() + "&MajorGroupID=" + ddl_SubCategory.val() + "&StartDate=" + StartDate + "&EndDate=" + EndDate);
                //$("#divViewReport").load("/TransactionEntry/GroupComparisonReportRange?BusinessAreaID=" + hidBusinessAreaID.val() + "&StartDate=" + StartDate + "&EndDate=" + EndDate, function (responseTxt, statusTxt, jqXHR) {

                $("#divViewReport").load("/TransactionEntry/GroupComparisonReportRange?BusinessAreaID=" + hidBusinessAreaID.val() + "&StartDate=" + StartDate + "&EndDate=" + EndDate, function (responseTxt, statusTxt, jqXHR) {
                    debugger;
                    if (statusTxt == "success") {
                        var forcount = 2;
                        if (DateArr.length > 0) {
                            var CurGetYear = 0;
                            var CurGetYear2 = 0;

                            if (month_input == 0 || month_input == 1 || month_input == 2) {
                                CurGetYear = DateArr[0];
                                CurGetYear2 = DateArr[1];
                                CurGetYear3 = DateArr[2];

                                var month_input1 = 03;
                                var FirstStartDate = new Date(CurGetYear, month_input1, 1); //2018-04-01
                                var SecondEndDate = new Date(CurGetYear2, month_input + 1, 0); //2019-03-31

                                var FirstStartDate2 = new Date(CurGetYear2, month_input1, 1); //2019-04-01
                                var SecondEndDate2 = new Date(CurGetYear3, month_input + 1, 0); //2020-03-31

                                var FirstStartDate3 = new Date(CurGetYear2, month_input, 1); //2019-03-01
                                var SecondEndDate3 = new Date(CurGetYear3, month_input, 0); //2020-03-31

                                // DateArr[0] = CurGetYear + 1;
                                StartingDate = formatDate(FirstStartDate);
                                EndingDate = formatDate(SecondEndDate);

                                StartingDate1 = formatDate(FirstStartDate2);
                                EndingDate1 = formatDate(SecondEndDate2);

                                StartingDate3 = formatDate(FirstStartDate3);
                                EndingDate3 = formatDate(SecondEndDate3);
                            }
                            else {
                                CurGetYear = DateArr[0];
                                CurGetYear2 = DateArr[1];

                                var month_input1 = 03;
                                var FirstStartDate = new Date(CurGetYear, month_input1, 1); //2018-04-01
                                var SecondEndDate = new Date(CurGetYear, month_input + 1, 0); //2019-03-31

                                var FirstStartDate2 = new Date(CurGetYear2, month_input1, 1); //2019-04-01
                                var SecondEndDate2 = new Date(CurGetYear2, month_input + 1, 0); //2020-03-31

                                var FirstStartDate3 = new Date(CurGetYear2, month_input, 1); //2019-03-01
                                var SecondEndDate3 = new Date(CurGetYear2, month_input, 0); //2020-03-31

                                // DateArr[0] = CurGetYear + 1;
                                StartingDate = formatDate(FirstStartDate);
                                EndingDate = formatDate(SecondEndDate);

                                StartingDate1 = formatDate(FirstStartDate2);
                                EndingDate1 = formatDate(SecondEndDate2);

                                StartingDate3 = formatDate(FirstStartDate3);
                                EndingDate3 = formatDate(SecondEndDate3);

                            }
                            var Headertr = '';
                            var Bodytr = '';
                            setTimeout(function () {
                                $.ajax({
                                    type: "GET",
                                    //url: "/TransactionEntry/GroupComparisonReportRangeJson?LegalEntityID=" + hidLegalEntity.val() + "&StartDate=" + StartingDate + "&EndDate=" + EndingDate + "&StartDate1=" + StartingDate1 + "&EndDate1=" + EndingDate1 + "&StartDate2=" + StartingDate2 + "&EndDate2=" + EndingDate2 ,
                                    url: "/TransactionEntry/GroupComparisonReportRangeJson?BusinessAreaID=" + hidBusinessAreaID.val() + "&StartDate=" + StartingDate + "&EndDate=" + EndingDate + "&StartDate1=" + StartingDate1 + "&EndDate1=" + EndingDate1,
                                    //data: JSON.stringify(data),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (Res) {
                                        if (Res != null) {
                                            function FndMonth(dt) {
                                                var mlists = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
                                                return mlists[dt - 1];
                                            }
                                            //alert(FndMonth(parseInt(EndingDate.split('-')[1])));
                                            debugger;
                                                if (month_input == 0 || month_input == 1 || month_input == 2) {
                                                    $("#ThCol1").text(FndMonth(parseInt(StartingDate.split('-')[1])) + "-" + DateArr[0] + "-" + FndMonth(parseInt(EndingDate.split('-')[1])) + "-" + DateArr[1]);
                                                    $("#ThCol2").text(FndMonth(parseInt(StartingDate1.split('-')[1])) + "-" + DateArr[1] + "-" + FndMonth(parseInt(EndingDate1.split('-')[1])) + "-" + DateArr[2]);
                                                    $("#ThCol3").text(FndMonth(parseInt(EndingDate.split('-')[1])) + "-" + DateArr[1]);
                                                    $("#ThCol4").text(FndMonth(parseInt(EndingDate1.split('-')[1])) + "-" + DateArr[2]);
                                                }
                                                else if (month_input != 0 || month_input != 1 || month_input != 2) {
                                                    $("#ThCol1").text(FndMonth(parseInt(StartingDate.split('-')[1])) + "-" + DateArr[0] + "-" + FndMonth(parseInt(EndingDate.split('-')[1])) + "-" + DateArr[0]);
                                                    $("#ThCol2").text(FndMonth(parseInt(StartingDate1.split('-')[1])) + "-" + DateArr[1] + "-" + FndMonth(parseInt(EndingDate1.split('-')[1])) + "-" + DateArr[1]);
                                                    $("#ThCol3").text(FndMonth(parseInt(EndingDate.split('-')[1])) + "-" + DateArr[0]);
                                                    $("#ThCol4").text(FndMonth(parseInt(EndingDate1.split('-')[1])) + "-" + DateArr[1]);


                                                }
                                            
                                            Bodytr = "<td style='display: none'></td><td style='font-weight: bold;'>" + "Profit and Loss" + "</td>";
                                            Bodytr += "<td class='tdnumber' id='col2' style='font-weight:bold;'>" + Res.column1 + "</td>";
                                            Bodytr += "<td class='tdnumber' id='col2' style='font-weight:bold;'>" + Res.column2 + "</td>";
                                            Bodytr += "<td class='tdnumber' id='col2' style='font-weight:bold;'>" + Res.column3 + "</td>";
                                            Bodytr += "<td class='tdnumber' id='col2' style='font-weight:bold;'>" + Res.column4 + "</td>";
                                            $('#ProfitandLossID tbody tr').html(Bodytr);
                                            //ExportPdftoDt();
                                        }
                                        // window.location.href = "/FinancialYear/Index";

                                    },
                                    error: function (msg) {

                                    }
                                });
                            }, -2000);
                        }

                    }

                    $("#divLoader").hide();
                    //}
                    if (statusTxt == "error") {
                        $("#divLoader").show();
                    }
                });
            }
        });
        function fnValidate() {
            event.preventDefault();
            var StartDate = $("#ddlMonths"),
                EndDate = $("#EndDate"),
                isValid = true,
                spn_StartDate = $("#spn_StartDate"),
                spn_EndDate = $("#spn_EndDate");
            spn_StartDate.hide();
            spn_EndDate.hide();
            if (StartDate.val() == "") {
                spn_StartDate.show();
                isValid = false;
            }

            return isValid;
        }
        function fnBindCategory() {
            var ddl_MajorCategory = $("#ddl_MajorCategory");
            if (Number(ddl_MajorCategory.val()) != 0) {
                var MajorCategory = Number(ddl_MajorCategory.val());
                //alert(GroupType);
                $.ajax({
                    url: "/TransactionEntry/BindCategoryByParentCategoryID/" + MajorCategory,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $.each(msg, function (x, v) {
                            //  alert(v.ledgerGroupID);
                            //  alert(x.ledgerGroupName);
                            $("#ddl_MajorCategory").append($('<option></option>').val(v.categoryID).html(v.categoryName));
                        })
                    },

                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
            }
            //else {
            //    $("#ddl_SubCategory").html('');
            //    $("#ddl_SubCategory").append($('<option></option>').val(0).html("Select Category"));
            //    $("#div_SubCategory").hide();
            //}

        }

    </script>


}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  