﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
    // ViewData["Title"] = "Transaction Entry";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>@ViewData["Title"]</h2>
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Payments</li>
                            <li class="breadcrumb-item active">Payment Invoice</li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>@ViewData["Title"] List</h2>
                        <ul class="header-dropdown">
                            @*<li><a class="tab_btn" href="javascript:void(0);" title="Weekly">W</a></li>
                                <li><a class="tab_btn" href="javascript:void(0);" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" href="javascript:void(0);" title="Yearly">Y</a></li>*@
                            <li>
                                @*<button class="btn btn-primary float-right" onclick="fnLoadProductAdd()" data-toggle="modal" data-target="#ProductManagementModel"><i class="fa fa-plus-square"></i> <span>New Product</span></button>*@
                                <button class="btn btn-primary" id="btn_addnew" style="float:right;" onclick="fnAddTransactionEntry('@ViewBag.encPageID')" data-toggle="modal" data-target="#TransactionEntryModule"><i class="fa fa-plus-square"></i> <span>New @ViewData["Title"]</span></button>
                            </li>
                            <li class="dropdown" style="display:none;">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Add New</a></li>
                                    @*<li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <input type="hidden" id="hidencPageID" value="@ViewBag.encPageID" />
                        <div class="table-responsive">
                            <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable" >
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>RefNo</th>
                                        <th>LegalEntity</th>
                                        <th>ProfitCentre</th>
                                        <th>Location</th>
                                        <th>Unit</th>
                                        <th>Project</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @ViewBag.GetAllTransactionHeadViewModelList)
                                    {
                                        <tr>
                                            <td>@item.TransactionDate.ToString("dd/MM/yyyy")</td>
                                            <td>@item.TransactionRefNo</td>
                                            <td>@item.LegalEntityName</td>
                                            <td>@item.ProfitCentreName</td>
                                            <td>@item.LocationName</td>
                                            <td>@item.UnitName</td>
                                            <td>@item.ProjectName</td>
                                            <td style="text-align:right;">@item.TransactionTotal.ToString("0.00")</td>
                                            <td>
                                                <div class="btn-group-sm">
                                                    <button class="btn btn-primary right" onclick="fnViewTransactionEntryEditModel(@item.TransactionHeadID)" data-toggle="modal" data-target="#TransactionEntryModuleView"><i class="fa fa-eye"></i></button>
                                                    @*<button class="btn btn-primary right" onclick="fnLoadTransactionEntryEditModel(@item.TransactionEntryID)" data-toggle="modal" data-target="#TransactionEntryModule"><i class="fa fa-edit"></i></button>
                                                        <button class="btn danger m-t" data-toggle="modal" data-target="#TransactionEntrydelModule" onclick="fnDeletTransactionEntryPopUp(@item.TransactionEntryID)"><i class="fa fa-trash"></i> </button>*@

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="divProductManagementModel">

            </div>
        </div>
    </div>
    <!-- .modal -->
    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
        <div class="modal-dialog modal-sm">
            <!-- /.modal-content -->
            <div id="DivModelDeleteContent">

            </div>
        </div>
    </div>*@
<div id="TransactionEntryModule" class="modal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divTransactionEntryContent">

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="TransactionEntryModuleView" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divTransactionEntryContentView">

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="TransactionEntrydelModule" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <!-- /.modal-content -->
        <div id="DivModelDeleteContent">

        </div>
    </div>
</div>


<script type="text/javascript">
    function fnAddTransactionEntry(pageid) {
        //var ddl_MajorCategory = $("#ddl_MajorCategory");
        //var Id = parseInt(ddl_MajorCategory.val());
        $("#divTransactionEntryContent").empty();
        $("#divTransactionEntryContent").load("/TransactionEntry/AddTransactionEntry/" + pageid);
    }
    function fnLoadTransactionEntryEditModel(Id) {
        $("#divTransactionEntryContent").empty();
        $("#divTransactionEntryContent").load("/TransactionEntry/EditTransactionEntry/" + Id);
    }
    function fnViewTransactionEntryEditModel(Id) {
        $("#divTransactionEntryContentView").empty();
        $("#divTransactionEntryContentView").load("/TransactionEntry/ViewTransactionEntryByTransactionHeadID/" + Id);
    }
    function fnDeletTransactionEntryPopUp(Id) {
        //  alert($("#DivModelDeleteContent"));
        $("#DivModelDeleteContent").empty();
        $("#DivModelDeleteContent").load("/TransactionEntry/DeleteTransactionEntrymodel/" + Id);
    }
    function fnDeleteTransactionEntry(d) {
        var hidencPageID = $("#hidencPageID").val();
        $.ajax({
            url: "/TransactionEntry/DeleteTransactionEntry/" + d,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/TransactionEntry/ShowTransactionEntryTableView/" + msg);
                window.location.href = "/TransactionEntry/Index/" + hidencPageID;
            }
        });
    }

</script>