﻿<!-- This is profit & loss view create by Kaspon dated on 18-06-2020-->
@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>
@{
    // ViewData["Title"] = "Transaction Entry";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
    <link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <script src="~/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>

    <script src="~/assets/vendor/jquery-datatable/pdfmake.min.js"></script>
    <script src="~/assets/vendor/html2canvas/html2canvas.min.js"></script>

    <script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <!-- MAIN CSS -->
    <style>

        .table-custom.table thead th {
            border-top: 0;
            vertical-align: middle;
            padding-top: unset;
            padding-bottom: unset;
        }
    </style>
    <br />

    <div class="row clearfix">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
        </div>

    </div>
    <div>
        <input type="button" class="btn btn-primary" id="btnExportPDF" value="PDF" />
        <input type="button" class="btn btn-primary" id="btnExportEXCEL" value="Excel" />
    </div>
    <br />
    <div class="table-responsive">
        @*js-exportable*@
        <table id="table" class="table table-hover dataTable table-custom  datatable_class" data-plugin="dataTable">

            <thead class="thead-dark" style="background-color:white;">
                <tr id="tblReportthead" style="display:none"><td style="font-size: 23px;"><b></b></td></tr>
                <tr>

                    <th style="display:none"></th>
                    <th data-orderable="false" class="tdnumber" style="text-align: left;">Description</th>
                    <th data-orderable="false" class="tdnumber">Amount(INR)</th>
                    <th data-orderable="false" class="tdnumber">Total Amount</th>
                    <th></th>
                </tr>
            </thead>

            @{
                decimal amount_directincome = 0;
                decimal amount_directincome_debit = 0;
                decimal amount_directincome_credit = 0;
                decimal amount_directExpenses = 0;
                decimal amount_directExpenses_debit = 0;
                decimal amount_directExpenses_credit = 0;
                decimal amount_indirectExpenses = 0;
                decimal amount_indirectExpenses_debit = 0;
                decimal amount_indirectExpenses_credit = 0;
                decimal amount_indirectincome = 0;
                decimal amount_indirectincome_debit = 0;
                decimal amount_indirectincome_credit = 0;
                decimal debit = 0;
                decimal credit = 0;
                var MajorGroupId4 = 0;
                decimal IndExpense_debit = 0;
                decimal indexpense_credit = 0;
                string GroupName = "";
                string MajorGroupName = "";
                var MajorGroupId2 = 0;
                var MajorGroupId5 = 0;
                decimal Expense_debit = 0;
                decimal Expense_credit = 0;
                decimal Indincome_debit = 0;
                decimal Indincome_credit = 0;
                var MajorGroupId = 0;
                int[] MajorGroupID = { 72, 73, 74, 75 };
                string negopeningbalance = "";
                decimal Grossprofitorloss = 0;
                decimal NetProfitorLoss = 0;
                <tbody>
                    @{int index = 1;}
                    @foreach (var item in Model)
                    {
                        MajorGroupId = item.MajorGroupID;
                        if (MajorGroupId == 72)
                        {
                            MajorGroupName = @item.MajorGroupName;
                            debit = @item.Debit;
                            credit = @item.Credit;

                        }

                    }
                    @*MajorGroup*@
                    @{ if (MajorGroupName != "")
                        {
                            <tr>
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                            </tr>

                        }

                    }
                    @*GroupLevel and AccountLevel*@
                    @foreach (var item in Model)
                    {
                        MajorGroupId = item.MajorGroupID;
                        decimal Totalamount = 0;
                        if (MajorGroupId == 72)
                        {
                            debit = @item.Debit;
                            credit = @item.Credit;
                            Totalamount = @item.Debit + @item.Credit;
                            amount_directincome_debit = amount_directincome_debit + debit; //
                            amount_directincome_credit = amount_directincome_credit + credit; //
                            amount_directincome = amount_directincome_credit - amount_directincome_debit; //

                        }

                        if (MajorGroupId == 72)
                        {
                            //Group Level and Account level Direct income Dr and cr

                            if (debit > 0 && credit > 0)

                            {
                                //Group Level Dr
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Dr";
                                            @(Math.Abs(debit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>
                                //Account Level Dr
                                <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                //Group Level Cr
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                    </td>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Cr";
                                            @(Math.Abs(credit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>
                                //Account level Cr
                                <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber">@item.AccountName</td>
                                    <td class="tdnumber"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>

                                index++;


                            }
                            if (debit > 0 && credit == 0)

                            {
                                //Group level debit
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                    </td>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Dr";
                                            @(Math.Abs(debit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                //Account level debit
                                <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>

                                index++;

                            }

                            if (credit > 0 && debit == 0)

                            {
                                //Group level credit
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                        <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                                        <input type="hidden" id="hidStartDate" value="@ViewBag.StartDate" />
                                        <input type="hidden" id="hidEndDate" value="@ViewBag.EndDate" />
                                        <input type="hidden" id="hidCurrentDate" value="@ViewBag.CurrentDate" />
                                        <input type="hidden" id="hidAccountname" value="@item.AccountName" />

                                    </td>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Cr";
                                            @(Math.Abs(credit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                //Account level credit
                                <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                index++;


                            }
                        }

                    }

                    <tr>
                        @{
                            //Group Level amount  Calculation  for debit and credit
                            if (amount_directincome_debit > 0 && amount_directincome_credit > 0)
                            {
                                <td style="display:none;"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directincome_debit - amount_directincome_credit).ToString("0.00"))
                                </td>

                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directincome_debit - amount_directincome_credit).ToString("0.00"))
                                </td>

                                <td></td>
                            }
                            if (amount_directincome_debit > 0 && amount_directincome_credit == 0)
                            {
                                <td style="display:none;"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directincome_debit).ToString("0.00"))
                                </td>

                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directincome_debit).ToString("0.00"))
                                </td>

                                <td></td>
                            }
                            if (amount_directincome_credit > 0 && amount_directincome_debit == 0)
                            {
                                <td style="display:none;"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directincome_credit).ToString("0.00"))
                                </td>

                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directincome_credit).ToString("0.00"))
                                </td>

                                <td></td>
                            }
                            else
                            {
                                <td style="display:none"></td>
                                <td></td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber"></td>
                                <td></td>

                            }

                        }
                    </tr>

                    @foreach (var item in Model)
                    {
                        MajorGroupId2 = item.MajorGroupID;
                        Expense_debit = 0;
                        Expense_credit = 0;
                        if (MajorGroupId2 == 74)
                        {
                            MajorGroupName = @item.MajorGroupName;
                        }
                    }
                    @*Major Group*@
                    @{
                        if (MajorGroupName != "")
                        {
                            <tr>
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>

                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>

                            </tr>
                        }

                    }

                    @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                    {
                        MajorGroupId2 = item.MajorGroupID;
                        Expense_debit = 0;
                        Expense_credit = 0;
                        if (MajorGroupId2 == 74)
                        {
                            Expense_debit = @item.Debit;
                            Expense_credit = @item.Credit;
                            amount_directExpenses_debit = amount_directExpenses_debit + Expense_debit;
                            amount_directExpenses_credit = amount_directExpenses_credit + Expense_credit;
                            amount_directExpenses = amount_directExpenses_debit - amount_directExpenses_credit;
                        }
                        if (MajorGroupId2 == 74)
                        {
                            //Group level and Account level for direct expenses
                            if (Expense_debit > 0 && Expense_credit > 0)
                            {
                                //Group level debit
                                <tr>

                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                    </td>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Dr";
                                            @(Math.Abs(Expense_debit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>
                                // Account level debit
                                <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>
                                //Group level Credit
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />

                                    </td>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Cr";
                                            @(Math.Abs(Expense_credit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>
                                index++;

                                //Account level Credit
                                <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>
                            }
                            if (Expense_debit > 0 && Expense_credit == 0)
                            {
                                //Group level and Account level debit
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                        <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                                        <input type="hidden" id="hidStartDate" value="@ViewBag.StartDate" />
                                        <input type="hidden" id="hidEndDate" value="@ViewBag.EndDate" />
                                        <input type="hidden" id="hidCurrentDate" value="@ViewBag.CurrentDate" />
                                        <input type="hidden" id="hidAccountname" value="@item.AccountName" />


                                    </td>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Dr";
                                            @(Math.Abs(Expense_debit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                index++;

                            }
                            if (Expense_credit > 0 && Expense_debit == 0)
                            {
                                //Group level and Acocunt level Credit
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>

                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />

                                    </td>
                                    <td class="tdnumber">
                                        @{
                                            //negopeningbalance = "Cr";
                                            @(Math.Abs(Expense_credit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>
                                <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>


                                index++;

                            }

                        }
                    }

                    <tr>
                        @{
                            @*Group level calculation for debit and credit*@
                            if (amount_directExpenses_debit > 0 && amount_directExpenses_credit > 0)
                            {

                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directExpenses_debit - amount_directExpenses_credit).ToString("0.00"))
                                </td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directExpenses_debit - amount_directExpenses_credit).ToString("0.00"))
                                </td>
                                <td></td>
                            }
                            if (amount_directExpenses_debit > 0 && amount_directExpenses_credit == 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directExpenses_debit).ToString("0.00"))
                                </td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directExpenses_debit).ToString("0.00"))
                                </td>
                                <td></td>
                            }
                            if (amount_directExpenses_credit > 0 && amount_directExpenses_debit == 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directExpenses_credit).ToString("0.00"))
                                </td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_directExpenses_credit).ToString("0.00"))
                                </td>
                                <td></td>
                            }

                            else
                            {
                                <td style="display:none"></td>
                                <td></td>
                                <td></td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber"></td>
                                <td></td>

                            }

                        }
                    </tr>
                    <tr>
                        <td style="display:none"></td>
                        <td style="font-weight:bold;">Gross Profit/Loss</td>
                        <td class="tdnumber"></td>
                        <td class="tdnumber" style="font-weight:bold">
                            @(Math.Abs(Grossprofitorloss = amount_directincome - amount_directExpenses).ToString("0.00"))
                        </td>
                        <td></td>
                    </tr>



                    @foreach (var item in Model)
                    {
                        MajorGroupId5 = item.MajorGroupID;
                        Indincome_debit = 0;
                        Indincome_credit = 0;
                        if (MajorGroupId5 == 73)
                        {
                            MajorGroupName = @item.MajorGroupName;
                        }
                    }
                    @*Major Group*@
                    @{
                        if (MajorGroupName != "" && Indincome_debit != 0 || Indincome_credit != 0)
                        {
                            <tr>
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>

                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>

                            </tr>
                        }
                    }

                    @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                    {
                        MajorGroupId5 = item.MajorGroupID;
                        Indincome_debit = 0;
                        Indincome_credit = 0;
                        if (MajorGroupId5 == 73)
                        {
                            Indincome_debit = @item.Debit;
                            Indincome_credit = @item.Credit;
                            amount_indirectincome_debit = amount_indirectincome_debit + Indincome_debit;
                            amount_indirectincome_credit = amount_indirectincome_credit + Indincome_credit;
                            amount_indirectincome = amount_indirectincome_debit + amount_indirectincome_credit;
                        }
                        if (MajorGroupId5 == 73)
                        {
                            //Group level and Account level for indirect income
                            if (Indincome_debit > 0 && Indincome_credit > 0)
                            {
                                //Group level for debit
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                    </td>
                                    <td class="tdnumber" style="text-align: left;">
                                        @{
                                            //negopeningbalance = "Dr";
                                            @(Math.Abs(Indincome_debit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>
                                // Account level for debit

                                <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>
                                // Group level for credit

                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />

                                    </td>
                                    <td class="tdnumber" style="text-align: left;">
                                        @{
                                            //negopeningbalance = "Cr";
                                            @(Math.Abs(Indincome_credit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>

                                </tr>
                                index++;
                                // Account level for Credit

                                <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>
                            }
                            @* GroupName Level and Account level for debit*@
                            if (Indincome_debit > 0 && Indincome_credit == 0)
                            {
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>
                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                        <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                                        <input type="hidden" id="hidStartDate" value="@ViewBag.StartDate" />
                                        <input type="hidden" id="hidEndDate" value="@ViewBag.EndDate" />
                                        <input type="hidden" id="hidCurrentDate" value="@ViewBag.CurrentDate" />
                                        <input type="hidden" id="hidAccountname" value="@item.AccountName" />


                                    </td>
                                    <td class="tdnumber" style="text-align: left;">
                                        @{
                                            //negopeningbalance = "Dr";
                                            @(Math.Abs(Indincome_debit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>

                                index++;

                            }
                            @* GroupName Level and Account level for credit*@

                            if (Indincome_credit > 0 && Indincome_debit == 0)
                            {
                                <tr>
                                    <td style="display:none" data-name="@item.GroupID"></td>

                                    <td class="tdnumber" style="text-align: left;">
                                        <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                            @item.GroupName
                                        </button>
                                        <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />

                                    </td>
                                    <td class="tdnumber" style="text-align: left;">
                                        @{
                                            // negopeningbalance = "Cr";
                                            @(Math.Abs(Indincome_credit).ToString("0.00") + " " + negopeningbalance);
                                        }
                                    </td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>
                                <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                    <td style="display:none"></td>
                                    <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td class="tdnumber" style="text-align: left;"></td>
                                    <td></td>
                                </tr>


                                index++;

                            }

                        }
                    }

                    <tr>
                        @{
                            @*Group level amount calculation for debit and credit(indirect income)*@
                            if (amount_indirectincome_debit > 0 && amount_indirectincome_credit > 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td style="font-weight:bold;">
                                    @(amount_indirectincome_debit - amount_indirectincome_credit)
                                </td>
                                <td style="font-weight:bold;">
                                    @(amount_indirectincome_debit - amount_indirectincome_credit)
                                </td>
                                <td></td>
                            }
                            if (amount_indirectincome_debit > 0 && amount_indirectincome_credit == 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectincome_debit).ToString("0.00"))
                                </td>
                                <td style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectincome_debit).ToString("0.00"))
                                </td>
                                <td></td>
                            }
                            if (amount_indirectincome_credit > 0 && amount_indirectincome_debit == 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectincome_credit).ToString("0.00"))
                                </td>
                                <td style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectincome_credit).ToString("0.00"))
                                </td>
                                <td></td>
                            }

                            else
                            {
                                <td style="display:none"></td>
                                <td></td>
                                <td></td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber"></td>
                                <td></td>

                            }

                        }
                    </tr>

                    @foreach (var item in Model)
                    {
                        MajorGroupId4 = item.MajorGroupID;
                        IndExpense_debit = 0;
                        indexpense_credit = 0;
                        if (MajorGroupId4 == 75)
                        {
                            MajorGroupName = @item.MajorGroupName;
                            IndExpense_debit = @item.Debit;
                        }
                    }
                    @*Major Group*@
                    @{
                        if (MajorGroupName != "")
                        {
                            <tr>
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;font-weight:bold;">@Html.DisplayFor(m => MajorGroupName)</td>

                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>

                            </tr>
                        }

                    }

                    @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                    {
                        MajorGroupId4 = item.MajorGroupID;
                        IndExpense_debit = 0;
                        indexpense_credit = 0;
                        if (MajorGroupId4 == 75)
                        {
                            IndExpense_debit = @item.Debit;
                            indexpense_credit = @item.Credit;
                            GroupName = @item.GroupName;
                            amount_indirectExpenses_debit = amount_indirectExpenses_debit + IndExpense_debit;
                            amount_indirectExpenses_credit = amount_indirectExpenses_credit + indexpense_credit;
                            amount_indirectExpenses = amount_indirectExpenses_debit - amount_indirectExpenses_credit;
                        }

                        if (IndExpense_debit > 0 && indexpense_credit > 0)
                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{
                                        //negopeningbalance = "Dr";
                                        @(Math.Abs(IndExpense_debit).ToString("0.00") + " " + negopeningbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>
                            </tr>

                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>

                            </tr>

                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{
                                        //negopeningbalance = "Cr";
                                        @(Math.Abs(indexpense_credit).ToString("0.00") + " " + negopeningbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>
                            </tr>

                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>

                            </tr>

                            index++;

                        }
                        if (IndExpense_debit > 0 && indexpense_credit == 0)
                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{
                                        //negopeningbalance = "Dr";
                                        @(Math.Abs(IndExpense_debit).ToString("0.00") + " " + negopeningbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>
                            </tr>
                            <tr id="Accountdetails_dr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>

                            </tr>

                            index++;

                        }

                        if (indexpense_credit > 0 && IndExpense_debit == 0)
                        {
                            <tr>
                                <td style="display:none" data-name="@item.GroupID"></td>
                                <td class="tdnumber" style="text-align: left;">
                                    <button class="btn btn-primary Show_button" data-toggle="modal" data-id="@item.GroupID">
                                        @item.GroupName
                                    </button>
                                    <input type="hidden" id="hidTransactionHeadID" value="@item.GroupID" />
                                </td>
                                <td class="tdnumber">
                                    @{
                                        //negopeningbalance = "Cr";
                                        @(Math.Abs(indexpense_credit).ToString("0.00") + " " + negopeningbalance);
                                    }
                                </td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>
                            </tr>

                            <tr id="Accountdetails_cr_@item.GroupID" style="display:none;">
                                <td style="display:none"></td>
                                <td class="tdnumber" style="text-align: left;">@item.AccountName</td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td class="tdnumber" style="text-align: left;"></td>
                                <td></td>

                            </tr>

                            index++;

                        }
                    }

                    <tr>
                        @{
                            if (amount_indirectExpenses_debit > 0 && amount_indirectExpenses_credit > 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectExpenses_debit - amount_indirectExpenses_credit).ToString("0.00"))
                                </td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectExpenses_debit - amount_indirectExpenses_credit).ToString("0.00"))
                                </td>
                                <td></td>
                            }
                            if (amount_indirectExpenses_debit > 0 && amount_indirectExpenses_credit == 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectExpenses_debit).ToString("0.00"))
                                </td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectExpenses_debit).ToString("0.00"))
                                </td>
                                <td></td>
                            }
                            if (amount_indirectExpenses_credit > 0 && amount_indirectExpenses_debit == 0)
                            {
                                <td style="display:none"></td>
                                <td style="font-weight:bold;">Total</td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectExpenses_credit).ToString("0.00"))
                                </td>
                                <td class="tdnumber" style="font-weight:bold;">
                                    @(Math.Abs(amount_indirectExpenses_credit).ToString("0.00"))
                                </td>
                                <td></td>
                            }
                            else
                            {
                                <td style="display:none"></td>
                                <td></td>
                                <td></td>
                                <td class="tdnumber"></td>
                                <td class="tdnumber"></td>
                                <td></td>

                            }

                        }
                    </tr>
                    @*<tr>
                            <td style="display:none"></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight:bold;">Gross Profit</td>
                            <td style="font-weight:bold;"></td>
                            <td style="font-weight:bold;">
                                @(amount_indirectincome - amount_indirectExpenses)
                            </td>
                        </tr>*@

                    <tr>
                        <td style="display:none">
                            @{
                                @(Math.Abs(NetProfitorLoss = (amount_directincome - amount_directExpenses) + (amount_indirectincome - amount_indirectExpenses)).ToString("0.00"));
                                @(Math.Abs(Grossprofitorloss = amount_directincome - amount_directExpenses).ToString("0.00"))
                            }
                        </td>
                        <td style="font-weight:bold;">Net Profit/Loss</td>
                        <td style="font-weight:bold;"></td>
                        <td class="tdnumber" style="font-weight:bold">
                            <!-- this is the total from subtract the income  minus expense -->
                            @{
                                if (Math.Abs(Grossprofitorloss) > Math.Abs(NetProfitorLoss))
                                {
                                    @(Math.Abs(NetProfitorLoss).ToString("0.00"))
                                }
                                else if (Math.Abs(NetProfitorLoss) > Math.Abs(Grossprofitorloss))
                                {
                                    @(Math.Round(NetProfitorLoss = (amount_directincome) - (amount_directExpenses + amount_indirectExpenses)).ToString("0.00"));
                                }


                                @*@(Math.Abs(NetProfitorLoss = (amount_directincome - amount_directExpenses) - (amount_indirectExpenses - amount_indirectincome)).ToString("0.00"));*@

                            }
                        </td>
                        <td></td>
                    </tr>


                </tbody>
                <tfoot>
                    <tr>
                        <th style="display:none"></th>
                        <th style="font-weight:bold;">Net Profit/Loss</th>
                        <th></th>
                        <th class="tdnumber" style="font-weight:bold;display:none">
                            @{
                                @(NetProfitorLoss = (amount_directincome - amount_directExpenses) - (amount_indirectExpenses - amount_indirectincome));
                            }
                        </th>
                        <th class="tdnumber" style="font-weight:bold;">
                            @{

                                if (Math.Abs(Grossprofitorloss) > Math.Abs(NetProfitorLoss))
                                {
                                    @(Math.Abs(NetProfitorLoss).ToString("0.00"))
                                }
                                else if (Math.Abs(NetProfitorLoss) > Math.Abs(Grossprofitorloss))
                                {
                                    @(Math.Round(NetProfitorLoss = (amount_directincome) - (amount_directExpenses + amount_indirectExpenses)).ToString("0.00"));
                                }

                                @*@(Math.Abs(NetProfitorLoss).ToString("0.00"))*@
                            }
                        </th>
                        <th></th>
                    </tr>
                </tfoot>

            }
        </table>
    </div>

    <div id="VoucherModule" class="modal" data-backdrop="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content" id="divVoucherdetails">
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

    <script type="text/javascript">
        function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split('-')
            return (dat[1] + "-" + dat[0] + "-" + dat[2]);
        }

        // date format change
        function formatDate(given_date) {
            var d = new Date(given_date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('-');
        }

        $('button.Show_button').click(function () {
            var GroupID = $(this).attr('data-id')
            var appr = $('td[data-name="' + GroupID + '"]');
            $("#Accountdetails_cr_" + GroupID).toggle();
            $("#Accountdetails_dr_" + GroupID).toggle();
            var hidLegalEntity = $("#hidLegalEntityID"),
                ddl_SubCategory = $("#ddl_MajorCategory"),
                Accountname = $("#hidAccountname");
            var year_input = parseInt($("#ddlYears").val());
            console.log(year_input);
            var month_input = parseInt($("#ddlMonths").val());
            console.log(month_input);
            var firstDay = new Date(year_input, month_input, 1);
            var lastDay = new Date(year_input, month_input + 1, 0);
            StartDate = formatDate(firstDay);
            EndDate = formatDate(lastDay);


            var c = {};
            var d = {};
            d.AccountName = Accountname.val();
            c["Getaccountdetails"] = d;
            appr[0].textContent = "True";
            $("#Accountdetails_cr_" + GroupID).html('');
            $("#Accountdetails_dr_" + GroupID).html('');

            $.ajax({
                type: "GET",
                url: "/TransactionEntry/Accountdetailsformonth?LegalEntityID=" + hidLegalEntity.val() + "&MajorGroupID=" + ddl_SubCategory.val() + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&GroupID=" + GroupID,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(d),
                dataType: "json",
                success: function (msg) {
                    $.each(msg, function (x, v) {
                        if (v.debit != '0.0' || v.debit != '0.0000') {
                            var rows_dr =
                                "<table width='116%' style='table-layout:fixed'>" +
                                "<tr>" +
                                "<td style='display: none'></td>" +
                                "<td class='tdnumber'  style='text-align: left;'>" + v.accountName + "</td>" +
                                "<td class='tdnumber' style='' >" + parseFloat(v.debit).toFixed(2) + "</td>" +
                                "</tr>" +
                                "</table>";
                            $("#Accountdetails_dr_" + GroupID).append(rows_dr);
                        }
                        if (v.credit != '0.0' || v.credit != '0.0000') {
                            var rows_cr =
                                "<table width='116%' style='table-layout:fixed'>" +
                                "<tr>" +
                                "<td style='display: none'></td>" +
                                "<td class='tdnumber'  style='text-align: left;' colspan='3'>" + v.accountName + "</td>" +
                                "<td class='tdnumber' >" + parseFloat(v.credit).toFixed(2) + "</td>" +
                                "</tr>" +
                                "</table>";
                            $("#Accountdetails_cr_" + GroupID).append(rows_cr);
                        }
                    })

                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        });


        var tempId;

        //Export PDF
        function getClippedRegion(image, x, y, width, height) {
            var canvas = document.createElement("canvas"),
                ctx = canvas.getContext("2d");
            canvas.width = width;
            canvas.height = height;
            //                   source region         dest. region
            ctx.drawImage(image, x, y, width, height, 0, 0, width, height);
            return {
                // Those are some pdfMake params
                image: canvas.toDataURL(),
                width: 600
            };
        }

        $("body").on("click", "#btnExportPDF", function () {
            debugger
            var Months = $("#ddlMonths option:selected").text();
            var Year = $("#ddlYears option:selected").text();
            var Companyname = $("#MainHeaderCmpny").text();
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            var FileName = "MONTHLY PROFIT AND LOSS_" + Months + "_" + Year + "_" + time;

            $("#tblReportthead b").text("MONTHLY PROFIT AND LOSS_" + Companyname + " - " + Months + " _ " + Year);
            $("#tblReportthead").css("display", "block");

            html2canvas($("#table")[0], {
                onrendered: function (canvas) {

                    // split the canvas produced by html2canvas into several, based on desired PDF page height
                    let splitAt = 1275; // A page height which fits for "LETTER" pageSize...

                    let images = [];
                    let y = 0;
                    while (canvas.height > y) {
                        images.push(getClippedRegion(canvas, 0, y, canvas.width, splitAt));
                        y += splitAt;
                    }

                    // PDF creation using pdfMake
                    var docDefinition = {
                        content: images,
                        pageSize: "LETTER"
                    };
                    $("#tblReportthead").css("display", "none");
                    pdfMake.createPdf(docDefinition).download(FileName + ".pdf");
                }
            });
        });

            
        //Export Excel
        $("body").on("click", "#btnExportEXCEL", function () {
            debugger
            var Months = $("#ddlMonths option:selected").text();
            var Year = $("#ddlYears option:selected").text();
            var Companyname = $("#MainHeaderCmpny").text();
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            var FileName = "MONTHLYPROFITANDLOSS_" + Months + "_" + Year + "_" + time;

            $("#table").table2excel({
                exclude: ".excludeThisClass",
                name: "Worksheet Name",
                filename: FileName
            });
        });                
    </script>
}