﻿@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
</style>
@{
    ViewData["Title"] = "Monthly Profit and Loss";
    Layout = "~/Views/Shared/_Layout3.cshtml";

    string LegalEntityName = "";
    string LocationName = "";


    <h2>Monthly Profit and Loss</h2>
    <div id="main-content" data-plugin="ProductScript">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span>Month</span>
                                            <select id="ddlMonths" class="form-control">
                                                <option value="">Select</option>
                                                <option value="0">Jan</option>
                                                <option value="1">Feb</option>
                                                <option value="2">Mar</option>
                                                <option value="3">Apr</option>
                                                <option value="4">May</option>
                                                <option value="5">Jun</option>
                                                <option value="6">Jul</option>
                                                <option value="7">Aug</option>
                                                <option value="8">Sep</option>
                                                <option value="9">Oct</option>
                                                <option value="10">Nov</option>
                                                <option value="11">Dec</option>
                                            </select>
                                            <span style="color:red;display:none;" id="spn_StartDate">Please Select Month</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>Year</span>
                                            <select id="ddlYears" class="form-control">
                                                @*<option value="">Select</option>
                                                 <option value="2020">2020</option>*@
                                            </select>
                                            <span style="color:red;display:none;" id="spn_EndDate">Please Select Year</span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <span>&nbsp;</span><br />
                                    <button type="submit" id="btn_View" title="Save!" class="btn btn-primary">View</button>
                                    <div id="divLoader" class="loading" align="center">
                                        <img src="~/assets/images/loading (1).gif" alt="" width="160" height="80" />
                                    </div>
                                    <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                                    <input type="hidden" id="hidStartDate" value="@ViewBag.startdate" />
                                    <input type="hidden" id="hidEndDate" value="@ViewBag.Enddate" />
                                    <input type="hidden" id="hidCurrentDate" value="@ViewBag.CurrentDate" />
                                    @{
                                        string ProfitCentreName = "";
                                        string CompanyName = "";
                                        @foreach (var item in @ViewBag.GetProfitCentre)
                                        {
                                            ProfitCentreName = (@item.ProfitCentreName);
                                        }
                                        <input type="hidden" id="hidProfitCentre" value="@Html.DisplayFor(m =>ProfitCentreName)" />
                                        @foreach (var item in @ViewBag.GetCompany)
                                        {
                                            CompanyName = (@item.Name);
                                        }
                                        <input type="hidden" id="hidcompany" value="@Html.DisplayFor(m =>CompanyName)" />

                                    }
                                </div>
                            </div>
                            <div id="ViewReport" class="row clearfix">

                                <div id="divViewReport" class="col-lg-12">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            debugger
            //Reference the DropDownList.
            var ddlYears = document.getElementById("ddlYears");

            //Determine the Current Year.
            var currentYear = (new Date()).getFullYear();

            //Loop and add the Year values to DropDownList.
            for (var i = 2020; i <= currentYear; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                ddlYears.appendChild(option);
            }
        };
        function ondatetypechangeIsDateRange() {
            var StartDate = $("#StartDate");
            var EndDate = $("#EndDate");
            var IsDateRange = $('#IsDateRange').is(':checked');
            //alert(IsDateRange);
            //alert(IsAsonDate);
            //$('#IsDateRange').removeAttr('checked');
            //$('#IsAsonDate').removeAttr('checked');
            $('#IsDateRange').prop('checked', false);
            StartDate.val("");
            EndDate.val("");
            if (IsDateRange == true) {
                //$('#IsDateRange').attr('checked', 'checked');
                $('#IsAsonDate').prop('checked', false);
                $('#IsDateRange').prop('checked', true);
            }
            else {
                //$('#IsDateRange').attr('checked', 'checked');
                $('#IsDateRange').prop('checked', false);
                $('#IsAsonDate').prop('checked', true);
            }
        }
        function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split('-')
            return (dat[1] + "-" + dat[0] + "-" + dat[2]);
        }

        // date format change
        function formatDate(given_date) {
            var d = new Date(given_date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('-');
        }

        //append month and year
        $("#btn_View").click(function () {
            debugger
            //first day and last day of month and year
            var year_input = parseInt($("#ddlYears").val());
            console.log(year_input);
            var month_input = parseInt($("#ddlMonths").val());
            console.log(month_input);
            var firstDay = new Date(year_input, month_input, 1);
            var lastDay = new Date(year_input, month_input + 1, 0);
            StartDate = formatDate(firstDay);
            EndDate = formatDate(lastDay);

            var hidLegalEntity = $("#hidLegalEntityID"),
                hidProfitCentre = $("#hidProfitCentre"),
                ddl_SubCategory = $("#ddl_MajorCategory"),
                hidcompany = $("#hidcompany");
            // StartDate = $("#StartDate"),
            //EndDate = $("#EndDate");
            $(document).prop('title', 'PROFIT AND LOSS ACCOUNT OF ' + hidcompany.val() + ' - PERIOD:' + StartDate + ' To ' + EndDate);
            $("#divViewReport").empty();
            //alert(hidLegalEntity.val());
            $("#divLoader").show();
            var modal, loading;
            modal = document.createElement("DIV");
            modal.className = "modal";
            document.body.appendChild(modal);
            loading = document.getElementsByClassName("loading")[0];
            loading.style.display = "block";
            var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
            var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
            loading.style.top = top + "px";
            loading.style.left = left + "px";
            //alert(hidLegalEntity.val());
            //$("#divViewReport").load("/TransactionEntry/MonthlyProftandLossDateRange?LegalEntityID=" + hidLegalEntity.val() + "&MajorGroupID=" + ddl_SubCategory.val() + "&StartDate=" + StartDate + "&EndDate=" + EndDate);
            $("#divViewReport").load("/TransactionEntry/MonthlyProftandLossDateRange?LegalEntityID=" + hidLegalEntity.val() + "&MajorGroupID=" + ddl_SubCategory.val() + "&StartDate=" + StartDate + "&EndDate=" + EndDate, function (responseTxt, statusTxt, jqXHR) {
                if (statusTxt == "success") {
                    $("#divLoader").hide();
                }
                if (statusTxt == "error") {
                    $("#divLoader").show();
                }
            });

        });
        function fnValidate() {

            event.preventDefault();
            var StartDate = $("#StartDate"),
                EndDate = $("#EndDate"),
                isValid = true,
                spn_StartDate = $("#spn_StartDate"),
                spn_EndDate = $("#spn_EndDate");
            spn_StartDate.hide();
            spn_EndDate.hide();
            if (StartDate.val() == "") {
                spn_StartDate.show();
                isValid = false;
            }

            return isValid;
        }
        function fnBindCategory() {
            var ddl_MajorCategory = $("#ddl_MajorCategory");
            if (Number(ddl_MajorCategory.val()) != 0) {
                var MajorCategory = Number(ddl_MajorCategory.val());
                //alert(GroupType);
                $.ajax({
                    url: "/TransactionEntry/BindCategoryByParentCategoryID/" + MajorCategory,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $.each(msg, function (x, v) {
                            //  alert(v.ledgerGroupID);
                            //  alert(x.ledgerGroupName);
                            $("#ddl_MajorCategory").append($('<option></option>').val(v.categoryID).html(v.categoryName));
                        })
                    },

                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
            }
            //else {
            //    $("#ddl_SubCategory").html('');
            //    $("#ddl_SubCategory").append($('<option></option>').val(0).html("Select Category"));
            //    $("#div_SubCategory").hide();
            //}

        }

    </script>


}