﻿@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>
@{
    <style>


        .tablefooter {
            margin-top: 5px;
        }

        .colnumberval, .numberval {
            text-align: right;
        }

        .theadtr tr td {
            font-weight: bold;
        }

        #main-content {
            margin: 0px;
        }

        h6 {
            margin-bottom: 0px;
        }

        .debit-align {
            text-align: start;
        }

        .theadtr {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        #tbl_Debit {
            border: 1px solid black;
        }

        .total-amount {
            display: inline-block;
            float: right;
            margin-right: 5% !important;
        }


        .Divtable table tr td {
            font-size: 15px;
        }

        .DivParg p {
            font-size: 15px;
        }

        main::after {
            display: block;
            text-align: center;
        }

        .amount-words {
            display: block;
            margin-top: 10px;
        }
    </style>



    string Accountname = "";
    decimal Debit = 0;
    decimal Credit = 0;

    <div id="main-content" data-plugin="ProductScript">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-12 align_company" style="text-align:center">

                        @foreach (var item in Model)
                        {
                            Accountname = (@item.AccountName);
                            Debit = (@item.Debit);
                            Credit = (@item.Credit);

                        }
                        @{
                            if (Accountname != "" )
                            {
                                <div class="row clearfix">
                                    <div class="col-lg-12 text-center" style="bottom:10px">
                                        <span></span><br />
                                        <h6>@Html.DisplayFor(m => Accountname)</h6>
                                        <span></span><br>
                                        <h6>@Html.DisplayFor(m => Debit)</h6>
                                        <h6>@Html.HiddenFor(m => Credit)</h6>
                                    </div>
                                </div>

                            }
                        }


                    </div>
                </div>
                @*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" id="divProductManagementModel">

                            </div>
                        </div>
                    </div>
                    <!-- .modal -->
                    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
                        <div class="modal-dialog modal-sm">
                            <!-- /.modal-content -->
                            <div id="DivModelDeleteContent">

                            </div>
                        </div>
                    </div>*@
                <div id="TransactionEntryModule" class="modal" data-backdrop="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-content" id="divTransactionEntryContent">
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
                <div id="TransactionEntryModuleView" class="modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-content" id="divTransactionEntryContentView">
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
                <div id="TransactionEntrydelModule" class="modal fade animate black-overlay" data-backdrop="false">
                    <div class="modal-dialog modal-sm">
                        <!-- /.modal-content -->
                        <div id="DivModelDeleteContent">
                        </div>
                    </div>
                </div>
                <div style="height: 190px;left: 0px;right: 0px;top: 0px;position: fixed;z-index: 20049;" onclick='return movebottom();'>
                </div>
            </div>
        </div>
    </div>
}
