﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
    ViewData["Title"] = "TransactionSuccessCashReceipt";
    Layout = "~/Views/Shared/_Layout3.cshtml";

}
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }

    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>
<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Start Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="StartDate" class="form-control" readonly="readonly">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <span>End Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="EndDate" class="form-control" readonly="readonly">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_EndDate">Please enter EndDate</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span>&nbsp;</span><br />
                                <select id="ddlTransactionType" class="form-control">
                                    <option value="0">Transaction Type</option>
                                    @foreach (var item in ViewBag.TransactionInputType)
                                    {
                                        <option value="@item.TransactionInputTypeID">@item.TransactionInputTypeName</option>
                                    }
                                </select>
                                <span id="spn_Trn_Type" style="color:red;display:none">Please select TypeId</span>
                            </div>
                            <div class="col-lg-4">
                                <span>&nbsp;</span><br />
                                <button type="submit" id="btn_View" title="Save!" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                        <div id="ViewReport" class="row clearfix">
                            <div id="divViewReport" class="col-lg-12">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*<script src="~/libs/jquery/dist/jquery.min.js"></script>*@
<script>
    
  

    function getdate(str) {
        //alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[1] + "-" + dat[0] + "-" + dat[2]);
    }
    function getdate_PDF(str) {
        //alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[0] + "-" + dat[1] + "-" + dat[2]);
    }
    $("#btn_View").click(function () {
        debugger
        if (fnValidate()) {
            var Trn_Type = $("#ddlTransactionType option:selected").val(),
                StartDate = $("#StartDate"),
                EndDate = $("#EndDate");
            $("#divViewReport").empty();
            $("#divLoader").show();
            var modal, loading;
            modal = document.createElement("DIV");
            modal.className = "modal";
            document.body.appendChild(modal);
            loading = document.getElementsByClassName("loading")[0];
            loading.style.display = "block";
            var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
            var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
            loading.style.top = top + "px";
            loading.style.left = left + "px";
            $("#divViewReport").load("/TransactionEntry/TransactionSuccessCashReceiptDateRange?Transaction_TypeId=" + Trn_Type + "&StartDate=" + getdate(StartDate.val()) + "&EndDate=" + getdate(EndDate.val()), function (responseTxt, statusTxt, jqXHR) {
                if (statusTxt == "success") {
                    $("#divLoader").hide();
                }
                if (statusTxt == "error") {
                    $("#divLoader").show();
                    alert("No RecordFound");
                }
            });

        }
        else {
            return false;
        }
    });
    function fnValidate() {

        event.preventDefault();
        var StartDate = $("#StartDate"),
            EndDate = $("#EndDate"),
            Trn_Type = $("#ddlTransactionType option:selected").val(),
            isValid = true,
            spn_StartDate = $("#spn_StartDate"),
            spn_EndDate = $("#spn_EndDate");
        spnTrn_Type = $("#spn_Trn_Type");
        spn_StartDate.hide();
        spn_EndDate.hide();
        spnTrn_Type.hide();
        if (StartDate.val() == "") {
            spn_StartDate.show();
            isValid = false;
        }
        if (Trn_Type == 0) {
            spnTrn_Type.show();
            isValid = false;
        }
        return isValid;
    }

</script>

