﻿@using Microsoft.AspNetCore.Http;
@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>
@{
    //ViewData["Title"] = "Transaction Entry";

    if (@ViewBag.encPageID == 1)
    {
        ViewData["Title"] = "Cash Receipts";
    }
    if (@ViewBag.encPageID == 2)
    {
        ViewData["Title"] = "Cash Payments";
    }
    if (@ViewBag.encPageID == 3)
    {
        ViewData["Title"] = "Bank Receipt";
    }
    if (@ViewBag.encPageID == 4)
    {
        ViewData["Title"] = "Bank Payment";
    }
    if (@ViewBag.encPageID == 5)
    {
        ViewData["Title"] = "Journal Entries";
    }
    if (@ViewBag.encPageID == 10)
    {
        ViewData["Title"] = "Closing Entries";
    }

    Layout = "~/Views/Shared/_Layout3.cshtml";
    var UsrName_Var = Context.Session.GetString("UsrName");
}




<div id="main-content" data-plugin="ProductScript">
    <div class="container">

    </div>
</div>


<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Start Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="StartDate" class="form-control" readonly="readonly">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <span>End Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="EndDate" class="form-control" readonly="readonly">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_EndDate">Please enter EndDate</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <span>&nbsp;</span><br />
                                <button type="submit" id="btn_Viewtransactionsuccess" title="Save!" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                        <!-- <div id="ViewReport" class="row clearfix">
                            <div id="divViewReport" class="col-lg-12">
                            </div>
                        </div> -->

                    </div>



                    <div class="header">
                        @{
                            string TransactionName = "";
                            int TransactionInputID = 0;
                            @foreach (var item in Model)
                            {
                                TransactionName = @item.TransactionInputTypeName;
                                TransactionInputID = @item.TransactionInputTypeID;





                            }

                            <h2>@Html.DisplayFor(m => TransactionName)</h2>
                        }
                        <ul class="header-dropdown">
                            <li>
                                <button class="btn btn-primary" id="btn_addnew" style="float:right;" onclick="fnaddVoucher()" data-toggle="modal" data-target="#VoucherModule"><i class="fa fa-plus-square"></i> <span>New Voucher</span></button>
                            </li>
                            <li class="dropdown" style="display:none;">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Add New</a></li>
                                </ul>
                            </li>
                        </ul>
                        <input type="hidden" id="hidTransaction_inputID" value="@ViewBag.encPageID" />




                    </div>
                    <div class="body" id="divViewReport">
                        <div class="table-responsive">
                            <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Document No</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                @{
                                    int index = 1;
                                    decimal sumofdebit = 0;
                                    decimal sumofcredit = 0;
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            sumofdebit = sumofdebit + @item.Debit;
                                            sumofcredit = sumofcredit + @item.Credit;
                                            <tr>
                                                <td>@index</td>
                                                <td>@item.TransactionEntryDate.ToString("dd/MM/yyyy")</td>
                                                <td>@item.TransactionShortRefNo.ToString()</td>
                                                <td>
                                                    <div class="btn-group-sm">
                                                        <button class="btn btn-primary" onclick="fnVoucherdetails_Entry(@item.TransactionHeadID)" data-toggle="modal" data-target="#VoucherModule">View</button>
                                                        <input type="hidden" id="hidTransactionHeadID" value="@item.TransactionHeadID" />
                                                        <input type="hidden" id="hidTransactionID" value="@item.TransactionInputTypeID" />
                                                        <input type="hidden" id="hiddebit" value="@item.Debit" />
                                                        <input type="hidden" id="hidPastdatestatus" value="@item.Pastdate_status" />
                                                        @if (UsrName_Var.ToLower() == "admin")
                                                        {
                                                            <button class="btn btn-primary" onclick="fnVoucherdetails_Edit(@item.TransactionHeadID)" data-toggle="modal" data-target="#EditVoucherModule">Edit</button>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>

                                            index++;
                                        }


                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function getdate(str) {
        //alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[1] + "-" + dat[0] + "-" + dat[2]);
    }
    function getdate_PDF(str) {
        //alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[0] + "-" + dat[1] + "-" + dat[2]);
    }



    function fnaddVoucher() {
        debugger;
        HiddenId = $("#hidTransaction_inputID").val();
        console.log(HiddenId);
        $("#main-content").hide();
        $("#divVoucherdetails").empty();
        var hidPastdatestatus = $("#hidPastdatestatus");
        console.log(hidPastdatestatus);
        $("#divVoucherdetails").load("/TransactionEntry/Transaction?ID=" + HiddenId + "&hidPastdatestatus=" + hidPastdatestatus.val());

    }
    function fnVoucherdetails_Entry(Id) {
        debugger;
        $("#main-content").hide();
        $("#divVoucherdetails").empty();
        $("#divVoucherdetails").load("/TransactionEntry/ViewVoucherDetails/" + Id);
    }
    //For Edit
    function fnVoucherdetails_Edit(Id) {
        debugger
        $("#main-content").hide();
        $("#divEditVoucherdetails").empty();
        $("#divEditVoucherdetails").load("/TransactionEntry/ViewVoucherDetailsUpdate/" + Id);
    }

    $("#btn_Viewtransactionsuccess").click(function () {
        if (fnValidate()) {
            var hidTransaction_ID = $("#hidTransaction_inputID").val(),
                StartDate = $("#StartDate"),
                EndDate = $("#EndDate");

            //$(document).prop('title', 'Cancelled Voucher ' + hidcompany.val() + ' - PERIOD:' + getdate_PDF(StartDate.val()) + ' To ' + getdate_PDF(EndDate.val()));
            $("#divViewReport").empty();
            //alert(hidLegalEntity.val());
            $("#divLoader").show();
            var modal, loading;
            modal = document.createElement("DIV");
            modal.className = "modal";
            document.body.appendChild(modal);
            loading = document.getElementsByClassName("loading")[0];
            loading.style.display = "block";
            var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
            var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
            loading.style.top = top + "px";
            loading.style.left = left + "px";
           

            $("#divViewReport").load("/TransactionEntry/TransactionSuccessDateRange?hidTransactionID=" + hidTransaction_ID + "&StartDate=" + getdate(StartDate.val()) + "&EndDate=" + getdate(EndDate.val()),
            function (responseTxt, statusTxt, jqXHR) {
                if (statusTxt == "success") {
                    $("#divLoader").hide();
                }
                if (statusTxt == "error") {
                    $("#divLoader").show();
                }
            });

        }
        else {
            return false;
        }
    });

    function fnValidate() {
        //alert('validation');
        event.preventDefault();
        var StartDate = $("#StartDate"),
            EndDate = $("#EndDate"),
            isValid = true,
            spn_StartDate = $("#spn_StartDate"),
            spn_EndDate = $("#spn_EndDate");

        spn_StartDate.hide();
        spn_EndDate.hide();

        if (StartDate.val() == "") {
            spn_StartDate.show();
            isValid = false;
        }
        else if (EndDate.val() == "") {
            spn_EndDate.show();
            isValid = false;
        }
        else
            return isValid;

    }

</script>