﻿@{
   // ViewData["Title"] = "Transaction Entry";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<h2>@ViewData["Title"] Submitted Successfully.</h2>

<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>@ViewData["Title"]</h2>
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Payments</li>
                            <li class="breadcrumb-item active">Payment Invoice</li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>@ViewData["Title"] Cancelled.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
