﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel


<style>

    .boxPanelhead {
        border-top: 1px solid #007bff;
        border-right: 1px solid #007bff;
        border-left: 1px solid #007bff;
        border-collapse: collapse;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        min-height: 30px;
        overflow-y: auto;
        background-color: #007bff;
    }

    .boxPanelbody {
        border-right: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
        border-collapse: collapse;
        min-height: 150px;
        overflow-y: auto;
    }

    .boxPanelfooter {
        border-bottom: 1px solid #e9ecef;
        border-right: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
        border-collapse: collapse;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        min-height: 10px;
        overflow-y: auto;
    }

    .boxPaneltitle {
        padding: 5px;
        font-size: 16px;
        color: white;
    }

    .tablefooter {
        margin-top: 5px;
    }

    .colnumberval, .numberval {
        text-align: right;
    }

    .theadtr tr td {
        font-weight: bold;
    }
</style>
<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6">
                    <h2>@ViewData["Title"]</h2>
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Payments</li>
                            <li class="breadcrumb-item active">Payment Invoice</li>
                        </ul>*@
                </div>
                <div class="col-lg-6" style="padding-right:3rem;text-align:right;display:none;">
                    <button type="button" class="btn btn-danger" title="Close!" onclick="Removetransaction();" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    @*<div class="header">
                            <h2>@ViewData["Title"] List</h2>
                            <ul class="header-dropdown">

                                <li>
                                    <button class="btn btn-primary" id="btn_addnew" style="float:right;" onclick="fnAddTransactionEntry('@ViewBag.encPageID')" data-toggle="modal" data-target="#TransactionEntryModule"><i class="fa fa-plus-square"></i> <span>New @ViewData["Title"]</span></button>
                                </li>
                                <li class="dropdown" style="display:none;">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Add New</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>*@
                    <div class="body">
                        <input type="hidden" id="hidencPageID" value="@ViewBag.encPageID" />
                        @*@Html.HiddenFor(m => m.GetAllTransactionHead_TransactionID)*@

                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <span>Date</span>
                                <div class="input-group date" id="datetimepickerDemo" data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-mm-yyyy">
                                    <input type="text" id="transactionDate" class="form-control" value="@ViewBag.TransactionDate">
                                    @*<span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>*@
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-5">
                                <span>Transaction No.</span><br />
                                <span><strong title="@ViewBag.TransactionRefNo" style="cursor:pointer;"> @ViewBag.TransactionShortRefNo </strong></span>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="boxPanelhead">
                                    <span class="boxPaneltitle"> Debit</span>
                                </div>
                                <div class="boxPanelbody">
                                    <table id="tbl_Debit" style="width: 100%;" cellpadding="2">
                                        <thead class="theadtr">
                                            <tr><td width="32%">Chart of Account</td><td width="42%">Reference/Detail</td><td width="15%">Amount</td><td width="10%"></td></tr>
                                        </thead>
                                        <tbody>
                                            <tr class="debitrow_1 debitrows">
                                                <td>
                                                    <select id="ddl_DebitAccount" class="form-control ddl_DebitAccount">
                                                        <option value="0">Account</option>
                                                        @foreach (var item in @ViewBag.DebitAccounts)
                                                        {
                                                            <option value="@item.AccountID" AccountTypeID="@item.AccountTypeID" ParentCategoryID="@item.ParentCategoryID" CategoryID="@item.CategoryID" MajorGroupID="@item.MajorGroupID" GroupID="@item.GroupID" SubGroupID="@item.SubGroupID">@item.AccountName</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <textarea rows="1" id="txtDebitDescription" class="form-control txtDebitDescription no-resize " placeholder="Reference/Detail..."></textarea>
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDebitAmount" autocomplete="off" class="form-control txtDebitAmount numberval" />
                                                </td>
                                                <td>
                                                    <div class="btn-group-sm action">
                                                        <a href="#" onclick='@((@ViewBag.TransactionInputTypeID==1 || @ViewBag.TransactionInputTypeID==3 ) ? "javascript:return false;" : "javascript:return fnAddDebitRow(this)")'><i class="fa fa-plus-circle"></i></a> | <a onclick='@((@ViewBag.TransactionInputTypeID==1 || @ViewBag.TransactionInputTypeID==3 ) ? "javascript:return false;" : "javascript:return fnRemoveDebitRow(this)")' href="#"><i class="fa fa-remove" style="color: red"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="tablefooter">
                                            @*<tr><td>&nbsp;</td><td></td><td></td></tr>*@
                                            <tr><td>&nbsp;</td><td></td><td></td></tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span><strong>Total</strong></span>
                                                    <input type="text" id="txttotalDebitAmount" autocomplete="off" class="form-control txttotalDebitAmount numberval" disabled="disabled" />
                                                    <span style="color:red;display:none;" id="spn_txttotalDebitAmount">Please enter debit entry!</span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="boxPanelfooter">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="boxPanelhead">
                                    <span class="boxPaneltitle"> Credit</span>
                                </div>
                                <div class="boxPanelbody">
                                    <table id="tbl_Credit" style="width: 100%;" cellpadding="2">
                                        <thead class="theadtr">
                                            <tr><td width="32%">Chart of Account</td><td width="42%">@((@ViewBag.TransactionInputTypeID == 4) ? "Check No/RTGS No" : "Reference/Detail")</td><td width="15%">Amount</td><td width="10%"></td></tr>
                                        </thead>
                                        <tbody>
                                            <tr class="creditrow_1 creditrows">
                                                <td>
                                                    <select id="ddl_CreditAccount" class="form-control ddl_CreditAccount" onchange="@((@ViewBag.TransactionInputTypeID == 2 || @ViewBag.TransactionInputTypeID == 4) ? "FunctionGetBalance(this,'txttotalCreditBalanceAmount')" : "")">
                                                        <option value="0">Account</option>
                                                        @foreach (var item in @ViewBag.CreditAccounts)
                                                        {
                                                            <option value="@item.AccountID" AccountTypeID="@item.AccountTypeID" ParentCategoryID="@item.ParentCategoryID" CategoryID="@item.CategoryID" MajorGroupID="@item.MajorGroupID" GroupID="@item.GroupID" SubGroupID="@item.SubGroupID">@item.AccountName</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <textarea rows="1" id="txtCreditDescription" class="form-control txtCreditDescription no-resize" placeholder="@((@ViewBag.TransactionInputTypeID == 4) ? "Check No/RTGS No..." : "Reference/Detail")"></textarea>
                                                </td>
                                                <td>
                                                    <input type="text" id="txtCreditAmount" autocomplete="off" class="form-control txtCreditAmount numberval" onblur="@((@ViewBag.TransactionInputTypeID == 2) ? "FunctionCheckGetBalance(this,'txttotalCreditBalanceAmount')" : "")" />
                                                </td>
                                                <td>
                                                    <div class="btn-group-sm action">
                                                        <a href="#" onclick='@((@ViewBag.TransactionInputTypeID==1 || @ViewBag.TransactionInputTypeID==3 ) ? "javascript:return fnAddCreditRow(this);" : "javascript:return false;")'><i class="fa fa-plus-circle"></i></a> | <a onclick='@((@ViewBag.TransactionInputTypeID==1 || @ViewBag.TransactionInputTypeID==3 ) ? "javascript:return fnRemoveCreditRow(this);" : "javascript:return false;")' href="#"><i class="fa fa-remove" style="color: red"></i></a>
                                                        @*<a href="javascript:fnAddCreditRow(this);"><i class="fa fa-plus-circle"></i></a> | <a onclick="fnRemoveCreditRow(this)" href="#"><i class="fa fa-remove" style="color: red"></i></a>*@
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            @*<tr><td>&nbsp;</td><td></td><td></td></tr>*@
                                            <tr><td>&nbsp;</td><td></td><td></td></tr>
                                            <tr>
                                                <td>
                                                    <div style="@((@ViewBag.TransactionInputTypeID == 2 || @ViewBag.TransactionInputTypeID == 4) ? "display:block;" : "display:none;")">
                                                        <span><strong>Current Balance</strong></span>
                                                        <input type="text" id="txttotalCreditBalanceAmount" autocomplete="off" class="form-control txttotalCreditBalanceAmount numberval" disabled="disabled" />
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <span><strong>Total</strong></span>
                                                    <input type="text" id="txttotalCreditAmount" autocomplete="off" class="form-control txttotalCreditAmount numberval" disabled="disabled" />
                                                    <span style="color:red;display:none;" id="spn_txttotalCreditAmount">Please enter credit entry!</span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="boxPanelfooter">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="form-group mt-3">
                                    <span>Narration</span>
                                    <textarea rows="2" id="txtDescription" class="form-control no-resize" placeholder="Narration..."></textarea>
                                    <span style="color:red;display:none;" id="spn_txtDescription">Please enter Narration!</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="divbtn">
                            <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger" title="Close!" onclick=" Removetransaction(@ViewBag.TransactionInputTypeID);" data-dismiss="modal">Cancel</button>
                            <input type="hidden" id="hidFinancialYearID" value="1" />
                            <input type="hidden" id="hidTransactionInputTypeID" value="@ViewBag.TransactionInputTypeID" />
                            <input type="hidden" id="hidCorporateGroupID" value="@ViewBag.CorporateGroupID" />
                            <input type="hidden" id="hidBusinessGroupID" value="@ViewBag.BusinessGroupID" />
                            <input type="hidden" id="hidVerticalGroupID" value="@ViewBag.VerticalGroupID" />
                            <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                            <input type="hidden" id="hidProfitCentreID" value="@ViewBag.ProfitCentreID" />
                            <input type="hidden" id="hidLocationID" value="@ViewBag.LocationID" />
                            <input type="hidden" id="hidUnitID" value="@ViewBag.UnitID" />
                            <input type="hidden" id="hidProjectID" value="@ViewBag.ProjectID" />
                            <input type="hidden" id="hidTransactionHeadID_add" value="@ViewBag.TransactionHeadID" />
                            <input type="hidden" id="hidTransactionRefNo" value="@ViewBag.TransactionRefNo" />
                            <input type="hidden" id="hidTransactionShortRefNo" value="@ViewBag.TransactionShortRefNo" />
                            <input type="hidden" id="hidencPageID" value="@ViewBag.encPageID" />
                            <input type="hidden" id="hidpassdatestatus" value="@ViewBag.Passdate_status" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="divProductManagementModel">

            </div>
        </div>
    </div>
    <!-- .modal -->
    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
        <div class="modal-dialog modal-sm">
            <!-- /.modal-content -->
            <div id="DivModelDeleteContent">

            </div>
        </div>
    </div>*@

<div id="TransactionEntryModule" class="modal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divTransactionEntryContent">
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div id="TransactionEntryModuleView" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divTransactionEntryContentView">
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="TransactionEntrydelModule" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <!-- /.modal-content -->
        <div id="DivModelDeleteContent">
        </div>
    </div>
</div>
<div style="height: 190px;left: 0px;right: 0px;top: 0px;position: fixed;z-index: 20049;" onclick='return movebottom();'>
</div>
<script type="text/javascript">
    function fnAddTransactionEntry(pageid) {
        //var ddl_MajorCategory = $("#ddl_MajorCategory");
        //var Id = parseInt(ddl_MajorCategory.val());
        $("#divTransactionEntryContent").empty();
        $("#divTransactionEntryContent").load("/TransactionEntry/AddTransactionEntry/" + pageid);
    }
    function Removetransaction(ID) {
        window.location.href = "/TransactionEntry/TransactionSuccess/" + ID;
    }


    function fnLoadTransactionEntryEditModel(Id) {
        $("#divTransactionEntryContent").empty();
        $("#divTransactionEntryContent").load("/TransactionEntry/EditTransactionEntry/" + Id);
    }
    function fnViewTransactionEntryEditModel(Id) {
        $("#divTransactionEntryContentView").empty();
        $("#divTransactionEntryContentView").load("/TransactionEntry/ViewTransactionEntryByTransactionHeadID/" + Id);
    }
    function fnDeletTransactionEntryPopUp(Id) {
        //  alert($("#DivModelDeleteContent"));
        $("#DivModelDeleteContent").empty();
        $("#DivModelDeleteContent").load("/TransactionEntry/DeleteTransactionEntrymodel/" + Id);
    }
    function fnDeleteTransactionEntry(d) {
        var hidencPageID = $("#hidencPageID").val();
        $.ajax({
            url: "/TransactionEntry/DeleteTransactionEntry/" + d,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/TransactionEntry/ShowTransactionEntryTableView/" + msg);
                window.location.href = "/TransactionEntry/Index/" + hidencPageID;
            }
        });
    }

</script>
<script type="text/javascript">

    $(document).ready(function () {

        $(document).keydown(function (e) {
            if (((e.which || e.keyCode) == 116) == true) {
                $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
                return false;
            }
            return true
        });
        $(document).bind("contextmenu", function (e) {
            $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
            return false;
        });
        loadready();
    });
    function loadready() {
        $(".numberval").blur(function (index) {
            if (isNaN($(this).val()) == true) {
                $(this).val('');
            }
            showoutput();
        });
        $(".numberval").keyup(function () {
            if (isNaN($(this).val()) == true) {
                $(this).val('');
            }
            showoutput();
        });
        showoutput();
    }
    function showoutput() {
        var totalCreditAmount = 0;
        $(".txtCreditAmount").each(function () {
            totalCreditAmount = totalCreditAmount + Number($(this).val());
        });
        $(".txttotalCreditAmount").val(totalCreditAmount.toFixed(2));
        var totalDebitAmount = 0;
        $(".txtDebitAmount").each(function () {
            totalDebitAmount = totalDebitAmount + Number($(this).val());
        });
        $(".txttotalDebitAmount").val(totalDebitAmount.toFixed(2));
    }
    function fnRemoveCreditRow(obj) {
        if ($('#tbl_Credit tbody tr').length > 1) { $(obj).closest('tr').remove(); }
        showoutput();
    }
    function fnRemoveDebitRow(obj) {
        if ($('#tbl_Debit tbody tr').length > 1) { $(obj).closest('tr').remove(); }
        showoutput();
        return false;
    }
    function fnAddCreditRow(obj) {
        //alert($('#tbl_Credit tbody tr:last').attr("class"));
        //alert($('#tbl_Credit tbody tr:last').attr("class").split(" ")[0]);
        //alert($('#tbl_Credit tbody tr:last').find(".ddl_CreditAccount").val());
        var CreditAccount = $('#tbl_Credit tbody tr:last').find(".ddl_CreditAccount").val();
        var CreditDescription = $('#tbl_Credit tbody tr:last').find(".txtCreditDescription").val();
        var CreditAmount = $('#tbl_Credit tbody tr:last').find(".txtCreditAmount").val();
        //alert(Number(CreditAmount));
        if (CreditAccount != 0 && CreditDescription != "" && Number(CreditAmount) != 0) {
            var trno = Number($('#tbl_Credit tbody tr:last').attr("class").split(" ")[0].split("_")[1]) + 1;
            var tds = '<tr class="creditrow_' + trno + ' creditrows">';
            jQuery.each($('tbody tr:first td', $("#tbl_Credit")), function () {
                tds += '<td>' + $(this).val(0).html() + '</td>';
            });
            tds += '</tr>';
            if ($('tbody', this).length > 0) {
                $('tbody', this).append(tds);
            } else {
                $("#tbl_Credit").append(tds);
            }
        }
        loadready();
        return false;
    }
    function fnAddDebitRow(obj) {
        //alert($('#tbl_Debit tbody tr:last').attr("class"));
        //alert($('#tbl_Debit tbody tr:last').attr("class").split(" ")[0]);
        var DebitAccount = $('#tbl_Debit tbody tr:last').find(".ddl_DebitAccount").val();
        var DebitDescription = $('#tbl_Debit tbody tr:last').find(".txtDebitDescription").val();
        var DebitAmount = $('#tbl_Debit tbody tr:last').find(".txtDebitAmount").val();
        //alert(Number(CreditAmount));
        if (DebitAccount != 0 && DebitDescription != "" && Number(DebitAmount) != 0) {
            var trno = Number($('#tbl_Debit tbody tr:last').attr("class").split(" ")[0].split("_")[1]) + 1;
            var tds = '<tr class="debitrow_' + trno + ' debitrows">';
            jQuery.each($('tbody tr:first td', $("#tbl_Debit")), function () {
                tds += '<td>' + $(this).val(0).html() + '</td>';
            });
            tds += '</tr>';
            if ($('tbody', this).length > 0) {
                $('tbody', this).append(tds);
            } else {
                $("#tbl_Debit").append(tds);
            }
        }
        loadready();
        return false;
    }
    $(function () {
        var hidPastdatestatus = $("#hidPastdatestatus").val();
        console.log(hidPastdatestatus);
        if (hidPastdatestatus == 10) {
            $("#datetimepickerDemo").datepicker({
                startDate: '-2d',
                endDate: '+0d',
                format: 'dd-mm-yyyy',
            });
        }
        else {
            $("#datetimepickerDemo").datepicker({
                format: 'dd-mm-yyyy',

            });
        }
    });
    function fnRemoveRow(obj) {
        $(this).closest('tr').remove();
        return false;
    }
    function FunctionGetBalance(x, clscontrol) {
        var hidLegalEntityID = $("#hidLegalEntityID"),
            AccountID = $(x).val();
        //alert($(x).val());
        //alert($("." + clscontrol).val());
        $.ajax({
            url: "/TransactionEntry/ClosingBalanceAmount?LegalEntityID=" + hidLegalEntityID.val() + "&AccountID=" + AccountID,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $("." + clscontrol).val(msg);
                //alert(msg);
            }
        });
    }
    function FunctionCheckGetBalance(x, clscontrol) {
        var Amount = $(x).val(),
            BalanceAmount = $("." + clscontrol).val();
        if (Number(BalanceAmount) < Number(Amount)) {
            alert("Invalid Cash Balance");
            $(x).val('');
        }
    }

    function getdate(str) {
        alert(str);
        // alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[1] + "-" + dat[0] + "-" + dat[2]);
    }
    $("#btn_Submit").click(function () {
        var hidencPageID = $("#hidencPageID").val();
        var hidenTransactionID = $("#hidTransactionHeadID_add").val();
        if (fnValidate()) {
            $(window).unbind("beforeunload");
            //$(window).unbind("unload");
            //var Description = $("#Description"),
            //    data = {};
            //// data["LegalEntityID"] = parseInt(hidLegalEntity.val());
            //data["Description"] = Description.val();

            var hidenTransactionID = $("#hidTransactionHeadID_add"),
                hidTransactionRefNo = $("#hidTransactionRefNo"),
                hidTransactionShortRefNo = $("#hidTransactionShortRefNo"),
                hidFinancialYearID = $("#hidFinancialYearID"),
                hidTransactionInputTypeID = $("#hidTransactionInputTypeID"),
                hidCorporateGroupID = $("#hidCorporateGroupID"),
                hidBusinessGroupID = $("#hidBusinessGroupID"),
                hidVerticalGroupID = $("#hidVerticalGroupID"),
                hidLegalEntityID = $("#hidLegalEntityID"),
                hidProfitCentreID = $("#hidProfitCentreID"),
                hidLocationID = $("#hidLocationID"),
                hidUnitID = $("#hidUnitID"),
                hidProjectID = $("#hidProjectID"),
                txttotalDebitAmount = $(".txttotalDebitAmount"),
                txtDescription = $("#txtDescription"),
                transactionDate = $("#transactionDate"),
                //var ddl_LegalEntity = $("#ddl_LegalEntity"),
                //CategoryName = $("#CategoryName"),
                data = {},
                headers = [],
                Transactionfields = [];
            data["TransactionHeadID"] = Number(hidenTransactionID.val());
            data["TransactionRefNo"] = hidTransactionRefNo.val();
            data["TransactionShortRefNo"] = hidTransactionShortRefNo.val();
            data["FinancialYearID"] = Number(hidFinancialYearID.val());
            data["TransactionInputTypeID"] = Number(hidTransactionInputTypeID.val());
            data["CorporateGroupID"] = Number(hidCorporateGroupID.val());
            data["BusinessGroupID"] = Number(hidBusinessGroupID.val());
            data["VerticalGroupID"] = Number(hidVerticalGroupID.val());
            data["LegalEntityID"] = Number(hidLegalEntityID.val());
            data["ProfitCentreID"] = Number(hidProfitCentreID.val());
            data["LocationID"] = Number(hidLocationID.val());
            data["UnitID"] = Number(hidUnitID.val());
            data["ProjectID"] = Number(hidProjectID.val());
            data["TransactionTotal"] = Number(txttotalDebitAmount.val());
            data["DescriptionHead"] = txtDescription.val();
            data["TransactionEntryDate"] = getdate(transactionDate.val());// transactionDate.val();

            headers.push("Debit");
            headers.push("Credit");
            headers.push("Description");
            headers.push("AccountID");
            headers.push("AccountTypeID");
            headers.push("ParentCategoryID");
            headers.push("CategoryID");
            headers.push("MajorGroupID");
            headers.push("GroupID");
            headers.push("SubGroupID");
            var debitcashorbankAccountNo = "0";
            var creditcashorbankAccountNo = "0";
            if (data["TransactionInputTypeID"] == "1" || data["TransactionInputTypeID"] == "3") {
                creditcashorbankAccountNo = $("tr.debitrows").find(".ddl_DebitAccount").val();
            }
            else if (data["TransactionInputTypeID"] == "2" || data["TransactionInputTypeID"] == "4") {
                debitcashorbankAccountNo = $("tr.creditrows").find(".ddl_CreditAccount").val();
            }
            //alert(TransactionEntryDate);
            //alert(debitcashorbankAccountNo);
            //return false;
            $("tr.debitrows").each(function () {
                var RowNo = Number($(this).attr("class").split(" ")[0].split("_")[1]);
                var DebitAccountID = $(this).find(".ddl_DebitAccount").val();
                //alert($(this).find(".ddl_DebitAccount option:selected").val());
                //alert($(this).find(".ddl_DebitAccount option:selected").attr("accounttypeid"));
                var DebitDescription = $(this).find(".txtDebitDescription").val();
                var DebitAmount = $(this).find(".txtDebitAmount").val();
                var AccountTypeID = Number($(this).find(".ddl_DebitAccount option:selected").attr("accounttypeid"));
                var ParentCategoryID = Number($(this).find(".ddl_DebitAccount option:selected").attr("parentcategoryid"));
                var CategoryID = Number($(this).find(".ddl_DebitAccount option:selected").attr("categoryid"));
                var MajorGroupID = Number($(this).find(".ddl_DebitAccount option:selected").attr("majorgroupid"));
                var GroupID = Number($(this).find(".ddl_DebitAccount option:selected").attr("groupid"));
                var SubGroupID = Number($(this).find(".ddl_DebitAccount option:selected").attr("subgroupid"));
                if (DebitAccountID != 0 && DebitDescription != "" && Number(DebitAmount) != 0) {
                    var rws = {};
                    rws["Debit"] = Number(DebitAmount);
                    rws["Credit"] = 0;
                    rws["Description"] = DebitDescription;
                    rws["AccountID"] = DebitAccountID;
                    rws["AccountTypeID"] = AccountTypeID;
                    rws["ParentCategoryID"] = ParentCategoryID;
                    rws["CategoryID"] = CategoryID;
                    rws["MajorGroupID"] = MajorGroupID;
                    rws["GroupID"] = GroupID;
                    rws["SubGroupID"] = SubGroupID;
                    rws["RowNo"] = RowNo;
                    rws["RowType"] = 1;
                    rws["CashorBankAccountNo"] = debitcashorbankAccountNo;
                    Transactionfields.push(rws);
                    // alert(rws);
                }
            });

            $("tr.creditrows").each(function () {
                var RowNo = Number($(this).attr("class").split(" ")[0].split("_")[1]);
                var CreditAccountID = $(this).find(".ddl_CreditAccount").val();
                //alert($(this).find(".ddl_DebitAccount option:selected").val());
                //alert($(this).find(".ddl_DebitAccount option:selected").attr("accounttypeid"));
                var CreditDescription = $(this).find(".txtCreditDescription").val();
                var CreditAmount = $(this).find(".txtCreditAmount").val();
                var AccountTypeID = Number($(this).find(".ddl_CreditAccount option:selected").attr("accounttypeid"));
                var ParentCategoryID = Number($(this).find(".ddl_CreditAccount option:selected").attr("parentcategoryid"));
                var CategoryID = Number($(this).find(".ddl_CreditAccount option:selected").attr("categoryid"));
                var MajorGroupID = Number($(this).find(".ddl_CreditAccount option:selected").attr("majorgroupid"));
                var GroupID = Number($(this).find(".ddl_CreditAccount option:selected").attr("groupid"));
                var SubGroupID = Number($(this).find(".ddl_CreditAccount option:selected").attr("subgroupid"));
                if (CreditAccountID != 0 && CreditDescription != "" && Number(CreditAmount) != 0) {
                    var rws = {};
                    rws["Debit"] = 0;
                    rws["Credit"] = Number(CreditAmount);
                    rws["Description"] = CreditDescription;
                    rws["AccountID"] = CreditAccountID;
                    rws["AccountTypeID"] = AccountTypeID;
                    rws["ParentCategoryID"] = ParentCategoryID;
                    rws["CategoryID"] = CategoryID;
                    rws["MajorGroupID"] = MajorGroupID;
                    rws["GroupID"] = GroupID;
                    rws["SubGroupID"] = SubGroupID;
                    rws["RowNo"] = RowNo;
                    rws["RowType"] = 2;
                    rws["CashorBankAccountNo"] = creditcashorbankAccountNo;
                    Transactionfields.push(rws);
                    // alert(rws);
                }
            });

            //$(".ProjectID").each(function (index) {
            //    if ($(this).is(':checked') == true) {
            //       // alert($(this).is(':checked'));
            //        //$(this).val();
            //        var h2 = {};
            //        h2["ProjectID"] = $(this).val();
            //        Transactionfields.push(h2);
            //    }
            //});
            //alert(Transactionfields);
            data["TransactionEntryDetailDefinationsList"] = Transactionfields;
            //return false;
            //return false;
            $.ajax({
                url: "/TransactionEntry/InsertTransactionEntry",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    window.location.href = "/TransactionEntry/TransactionSuccess/" + hidencPageID;
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
    function fnValidate() {
        event.preventDefault();
        showoutput();
        var txttotalCreditAmount = $(".txttotalCreditAmount"),
            txttotalDebitAmount = $(".txttotalDebitAmount"),
            isValid = true,
            spn_txttotalDebitAmount = $("#spn_txttotalDebitAmount"),
            spn_txttotalCreditAmount = $("#spn_txttotalCreditAmount"),
            txtDescription = $("#txtDescription"),
            spn_txtDescription = $("#spn_txtDescription");
        spn_txttotalDebitAmount.hide();
        spn_txttotalCreditAmount.hide();
        spn_txtDescription.hide();
        //if (ddl_LegalEntity.val() == 0) {
        //    spn_LegalEntity.show();
        //    isValid = false;
        //}
        if (txttotalDebitAmount.val() == "" || txttotalDebitAmount.val() == "0") {
            spn_txttotalDebitAmount.show();
            isValid = false;
        }
        if (txttotalCreditAmount.val() == "" || txttotalCreditAmount.val() == "0") {
            spn_txttotalCreditAmount.show();
            isValid = false;
        }
        if (txtDescription.val() == "") {
            spn_txtDescription.show();
            isValid = false;
        }
        if (Number(txttotalDebitAmount.val()) != Number(txttotalCreditAmount.val())) {
            alert("Invalid credit/debit transaction!");
            isValid = false;
        }

        return isValid;
    }
    //$(window).bind('beforeunload', function () {
    //    // alert("test");
    //    //Removetransaction();
    //    //return false;
    //    return '>>>>>Before You Go<<<<<<<< \n Your custom message go here';
    //});

    //$(window).bind('unload', function () {
    //    alert("test");
    //    Removetransaction();
    //    return 'Bye now!';
    //});

</script>