﻿@using Microsoft.AspNetCore.Http;
@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>
@{
    ViewData["Title"] = "Transaction Entry";
    Layout = "~/Views/Shared/_Layout3.cshtml";
    var UsrName_Var = Context.Session.GetString("UsrName");
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>


<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
<script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>
<style>
    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>


<div class="table-responsive">
    <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>Document No</th>
                <th>Action</th>
            </tr>
        </thead>
        @{

            int index = 1;
            decimal sumofdebit = 0;
            decimal sumofcredit = 0;

            <tbody>
                @foreach (var item in Model)
                {
                    sumofdebit = sumofdebit + @item.Debit;
                    sumofcredit = sumofcredit + @item.Credit;
                <tr>
                    <td >@index</td>
                    <td>@item.TransactionEntryDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.TransactionShortRefNo.ToString()</td>
                    <td>
                        <div class="btn-group-sm">
                            <button class="btn btn-primary" onclick="fnVoucherdetails_Entry(@item.TransactionHeadID)" data-toggle="modal" data-target="#VoucherModule">View123</button>
                            <input type="hidden" id="hidTransactionHeadID" value="@item.TransactionHeadID" />
                            <input type="hidden" id="hidTransactionID" value="@item.TransactionInputTypeID" />
                            <input type="text" id="hiddebit" value="@item.Debit" />
                            <input type="hidden" id="hidPastdatestatus" value="@item.Pastdate_status" />
                            @if (UsrName_Var.ToLower() == "admin")
                            {
                                <button class="btn btn-primary" onclick="fnVoucherdetails_Edit(@item.TransactionHeadID)" data-toggle="modal" data-target="#EditVoucherModule">Edit</button>
                            }

                        </div>
                    </td>
                </tr>
                    index++;
                }
            </tbody>
        }
    </table>
</div>


@*<div id="VoucherModule" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divVoucherdetails">
            </div>
        </div> /.modal-content 
    </div>
</div>*@

<script>

    function fnVoucherdetails_Entry(Id) {
        debugger;
        //$("#main-content").hide();
        $('.modal-backdrop').removeClass();
        $("#divVoucherdetails").empty();
        $("#divVoucherdetails").load("/TransactionEntry/CancelledViewVoucherDetails/" + Id);
    }

</script>
