﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
    ViewData["Title"] = "Trial Balance";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>@ViewData["Title"]</h2>
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Payments</li>
                            <li class="breadcrumb-item active">Payment Invoice</li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    @*<div class="header">
                        <h2>@ViewData["Title"] List</h2>
                       
                    </div>*@
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        <input id="IsDateRange" type="checkbox" checked="checked" onclick="ondatetypechangeIsDateRange()">
                                        <span>Date Range</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        <input id="IsAsonDate" type="checkbox"  onclick="ondatetypechangeIsAsonDate()">
                                        <span>As on Date(From Financial Year)</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Start Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="StartDate" class="form-control" readonly="readonly" onblur="callfromdatefun()" onchange="callfromdatefun()">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <span>End Date</span>
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" id="EndDate" class="form-control" readonly="readonly" onblur="calltodatefun()" onchange="calltodatefun()">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <span style="color:red;display:none;" id="spn_EndDate">Please enter EndDate</span>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-4">
                                    <span>Level</span>
                                    <select id="ddl_Account" class="form-control">
                                        <option value="0">Level</option>
                                        <option value="1">Major Group Level</option>
                                        <option value="2">Group Level</option>
                                        <option value="3">Sub Group Level</option>
                                        <option value="4">Account Level</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <span>&nbsp;</span><br />
                                    <button type="submit" id="btn_View" title="Save!" class="btn btn-primary">View</button>
                                    @*onclick="ViewReport()" data-target="#ViewReport"*@
                                    <input type="hidden" id="hidLegalEntityID" value="@ViewBag.LegalEntityID" />
                                    <input type="hidden" id="hidStartDate" value="@ViewBag.StartDate" />
                                    <input type="hidden" id="hidEndDate" value="@ViewBag.EndDate" />
                                    <input type="hidden" id="hidCurrentDate" value="@ViewBag.CurrentDate" />
                                </div>
                            </div>
                        <div id="ViewReport" class="row clearfix">
                            
                            <div id="divViewReport" class="col-lg-12">
                            </div>
                        </div>


                        </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<script>
    function ondatetypechangeIsDateRange() {
        var StartDate = $("#StartDate");
        var EndDate = $("#EndDate");
        var IsDateRange = $('#IsDateRange').is(':checked');
        var IsAsonDate = $('#IsAsonDate').is(':checked');
        //alert(IsDateRange);
        //alert(IsAsonDate);
        //$('#IsDateRange').removeAttr('checked');
        //$('#IsAsonDate').removeAttr('checked');
        $('#IsDateRange').prop('checked', false);
        $('#IsAsonDate').prop('checked', false);
        StartDate.val("");
        EndDate.val("");
        if (IsDateRange == true) {
            //$('#IsDateRange').attr('checked', 'checked');
            $('#IsAsonDate').prop('checked', false);
            $('#IsDateRange').prop('checked',true);
        }
        else  {
             //$('#IsDateRange').attr('checked', 'checked');
             $('#IsDateRange').prop('checked', false);
            $('#IsAsonDate').prop('checked',true);
        }
    }
    function ondatetypechangeIsAsonDate() {
        //alert("sdasd");
        var StartDate = $("#StartDate");
        var EndDate = $("#EndDate");
         var hidStartDate = $("#hidStartDate");
        var hidEndDate = $("#hidEndDate");
        var hidCurrentDate = $("#hidCurrentDate");
        var IsDateRange = $('#IsDateRange').is(':checked');
        var IsAsonDate = $('#IsAsonDate').is(':checked');
        //alert(IsDateRange);
        //alert(IsAsonDate);
        //$('#IsDateRange').removeAttr('checked');
        //$('#IsAsonDate').removeAttr('checked');
        $('#IsDateRange').prop('checked', false);
        $('#IsAsonDate').prop('checked', false);
        if (IsAsonDate == true) {
            StartDate.val(hidStartDate.val());
            EndDate.val(hidCurrentDate.val());
            //$('#IsDateRange').attr('checked', 'checked');
            $('#IsAsonDate').prop('checked', true);
            $('#IsDateRange').prop('checked',false);
        }
        else  {
             //$('#IsDateRange').attr('checked', 'checked');
             $('#IsAsonDate').prop('checked', false);
            $('#IsDateRange').prop('checked',true);
        }
    }
      function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split('-')
            return (dat[1] + "-" + dat[0] + "-" + dat[2]);
        }
      $("#btn_View").click(function () {
                if (fnValidate()) {
                     //var hidLegalEntity = $("#hidLegalEntity"),
                    //var StartDate = $("#StartDate"),
                    //     EndDate = $("#EndDate"),
                    //    data = {};
                    //// data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                    //data["StartDate"] = getdate(StartDate.val());
                    //data["EndDate"] = getdate(EndDate.val());
                    //$.ajax({
                    //    url: "/TransactionEntry/ViewReport",
                    //    type: "POST",
                    //    data: JSON.stringify(data),
                    //    contentType: "application/json; charset=utf-8",
                    //    dataType: "json",
                    //    success: function (msg) {
                    //       // window.location.href = "/FinancialYear/Index";
                    //    },
                    //    error: function (msg) {

                    //    }
                    //});
                    var hidLegalEntity = $("#hidLegalEntityID"),
                        ddl_Account = $("#ddl_Account"),
                        StartDate = $("#StartDate"),
                        EndDate = $("#EndDate");
                    $("#divViewReport").empty();
                    //alert(hidLegalEntity.val());
                    $("#divViewReport").load("/TransactionEntry/TrialBalanceDateRange?LegalEntityID=" + hidLegalEntity.val() + "&AccountLevel=" + ddl_Account.val() + "&StartDate=" + getdate(StartDate.val()) + "&EndDate=" + getdate(EndDate.val()));
                }
                else {
                    return false;
                }
            });
            function fnValidate() {

                event.preventDefault();
                var StartDate = $("#StartDate"),
                    EndDate = $("#EndDate"),
                    // ddl_LegalEntity = $("#ddl_LegalEntity"),
                    isValid = true,
                    spn_StartDate = $("#spn_StartDate"),
                    spn_EndDate = $("#spn_EndDate");
                //  spn_LegalEntity = $("#spn_LegalEntity");
                //spn_LegalEntity.hide();
                spn_StartDate.hide();
                spn_EndDate.hide();
                //if (ddl_LegalEntity.val() == 0) {
                //    spn_LegalEntity.show();
                //    isValid = false;
                //}
                if (StartDate.val() == "") {
                    spn_StartDate.show();
                    isValid = false;
                }
                  if (EndDate.val() == "") {
                    spn_EndDate.show();
                    isValid = false;
                }

                return isValid;
            }
    // function ViewReport() {
      
    //    $("#divViewReport").empty();
    //    $("#divViewReport").load("/TransactionEntry/ViewReport/");
    //}
</script>
