﻿@model Accounting.Web.Models.ViewModels.TransactionEntryViewModel
@{
// ViewData["Title"] = "Transaction Entry";
//Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
<style>
    .table-custom.table thead th {
        border-top: 0;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
    }
</style>
<br />
<div class="table-responsive">
    <table class="table table-hover js-exportable dataTable table-custom table-striped" data-plugin="dataTable">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Doc No</th>
                <th>Reference/Detail</th>
                <th>Major Group</th>
                @*<th>Group</th>
                <th>Sub Group</th>*@
                <th>GL Account</th>
                <th>Opening<br />Balance</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Closing<br />Balance</th>
                @*<th>LegalEntity</th>
        <th>ProfitCentre</th>
        <th>Location</th>
        <th>Unit</th>
        <th>Project</th>*@
                @*<th>Amount</th>*@
                @*<th>Action</th>*@
            </tr>
        </thead>

        @{
            decimal sumofdebit = 0;
            decimal sumofcredit = 0;
            <tbody>
                @foreach (var item in @ViewBag.GetAllTransactionEntryViewModelListByLegalEntityIDAccountIDStartDateEndDate)
                {
                    sumofdebit = sumofdebit + @item.Debit;
                    sumofcredit = sumofcredit + @item.Credit;
                <tr>
                    <td>@item.TransactionEntryDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.TransactionShortRefNo</td>
                    <td>@item.Description</td>
                    <td>@item.MajorGroupName</td>
                    @*<td>@item.GroupName</td>
                    <td>@item.SubGroupName</td>*@
                    <td>@item.AccountName</td>
                    <td class="tdnumber">
                        @{
                            string negopeningbalance = "";
                            decimal openingbalance = (@item.OpenDebit - @item.OpenCredit);
                            if (openingbalance < 0)
                            {
                                negopeningbalance = "Cr ";
                                //@(neg + " " + (closingbalance).ToString("0.00"));
                            }
                            else
                            {
                                negopeningbalance = "Dr ";
                                //@(neg + " " + (closingbalance).ToString("0.00"));
                            }
                            // @(negopeningbalance + " " + Math.Abs(openingbalance).ToString("0.00"));
                            @(Math.Abs(openingbalance).ToString("0.00") + " " + negopeningbalance);
                        }
                        @*@((@item.OpenDebit - @item.OpenCredit).ToString("0.00"))*@
                    </td>
                    <td class="tdnumber">@item.Debit.ToString("0.00")</td>
                    <td class="tdnumber">@item.Credit.ToString("0.00")</td>
                    <td class="tdnumber">
                        @{

                            string negclosingbalance = "";
                            decimal closingbalance = (@item.CloseDebit - @item.CloseCredit);
                            if (closingbalance < 0)
                            {
                                negclosingbalance = "Cr ";
                                //@(neg + " " + (closingbalance).ToString("0.00"));
                            }
                            else
                            {
                                negclosingbalance = "Dr ";
                                //@(neg + " " + (closingbalance).ToString("0.00"));
                            }
                            //@(negclosingbalance + " " + Math.Abs(closingbalance).ToString("0.00"));
                            @(Math.Abs(closingbalance).ToString("0.00") + " " + negclosingbalance);
                        }
                    </td>
                    @*<td>@item.LegalEntityName</td>
        <td>@item.ProfitCentreName</td>
        <td>@item.LocationName</td>
        <td>@item.UnitName</td>
        <td>@item.ProjectName</td>*@
                    @*<td style="text-align:right;">@item.TransactionTotal.ToString("0.00")</td>*@
                    @*<td>
            <div class="btn-group-sm">
                <button class="btn btn-primary right" onclick="fnViewTransactionEntryEditModel(@item.TransactionHeadID)" data-toggle="modal" data-target="#TransactionEntryModuleView"><i class="fa fa-eye"></i></button>
            </div>
        </td>*@
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                    <th class="tdnumber">@sumofdebit.ToString("0.00")</th>
                    <th class="tdnumber">@sumofcredit.ToString("0.00")</th>
                    <th></th>

                </tr>
            </tfoot>
        }
    </table>
    </div>
