﻿@model Accounting.Web.Models.ViewModels.TransactionHeadViewModelList;
<style>
    .boxPanelhead {
        border-top: 1px solid #007bff;
        border-right: 1px solid #007bff;
        border-left: 1px solid #007bff;
        border-collapse: collapse;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        min-height: 30px;
        overflow-y: auto;
        background-color: #007bff;
    }

    .boxPanelbody {
        border-right: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
        border-collapse: collapse;
        min-height: 150px;
        overflow-y: auto;
    }

    .boxPanelfooter {
        border-bottom: 1px solid #e9ecef;
        border-right: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
        border-collapse: collapse;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        min-height: 10px;
        overflow-y: auto;
    }

    .boxPaneltitle {
        padding: 5px;
        font-size: 16px;
        color: white;
    }

    .tablefooter {
        margin-top: 5px;
    }

    .colnumberval, .numberval {
        text-align: right;
    }

    .theadtr tr td {
        font-weight: bold;
    }
</style>
<div id="divResult">
    <div class="modal-header">
        <h4 class="title">View @ViewData["Title"]</h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-lg-4">
                <span>Date</span>
                <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                    <input type="text" id="transactionDate" class="form-control" disabled="disabled" value="@Model.TransactionDate.ToString("dd-MM-yyyy")">
                    @*<span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>*@
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-5">
                <span>Transaction No.</span><br />
                <span><strong> @Model.TransactionRefNo </strong></span>
            </div>

        </div>
        <br />
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="boxPanelhead">
                    <span class="boxPaneltitle"> Debit</span>
                </div>
                <div class="boxPanelbody">
                    <table id="tbl_Debit" style="width: 100%;" cellpadding="2">
                        <thead class="theadtr">
                            <tr><td width="35%">Chart of Account</td><td width="45%">Reference/Detail</td><td width="20%">Amount</td></tr>
                        </thead>
                        <tbody>
                            
                            @foreach (var item in ViewBag.GetAllTransactionEntryViewModelListByTransactionHeadID)
                            {
                                @if (item.RowType == 1)
                                {
                                <tr class="debitrow_@item.RowNo debitrows">
                                    <td>
                                        @item.AccountName
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td  style="text-align:right;">
                                        @item.Debit.ToString("0.00")
                                    </td>
                                   
                                </tr>
                                }
                            }
                            </tbody>
                        <tfoot class="tablefooter">
                            @*<tr><td>&nbsp;</td><td></td><td></td></tr>*@
                            <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td  style="text-align:right;">
                                    <strong>  @Model.TransactionTotal.ToString("0.00")</strong>
</td>
                                
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="boxPanelfooter">

                </div>
            </div>
        </div>
        <br />
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="boxPanelhead">
                    <span class="boxPaneltitle"> Credit</span>
                </div>
                <div class="boxPanelbody">
                    <table id="tbl_Credit" style="width: 100%;" cellpadding="2">
                        <thead class="theadtr">
                            <tr><td width="35%">Chart of Account</td><td width="45%">Reference/Detail</td><td width="20%">Amount</td></tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.GetAllTransactionEntryViewModelListByTransactionHeadID)
                            {
                                @if (item.RowType == 2)
                                {
                                    <tr class="creditrow_@item.RowNo creditrows">
                                        <td>
                                            @item.AccountName
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Credit.ToString("0.00")
                                        </td>
                                       
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            @*<tr><td>&nbsp;</td><td></td><td></td></tr>*@
                            <tr><td>&nbsp;</td><td></td><td></td></tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td style="text-align:right;">
                                    <strong>  @Model.TransactionTotal.ToString("0.00")</strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="boxPanelfooter">

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group mt-3">
                    <span>Narration</span>
                    <textarea rows="2" id="txtDescription" class="form-control no-resize" placeholder="Narration..."> @Model.DescriptionHead</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
    </div>
</div>




