﻿@model IEnumerable<Accounting.Web.Models.ViewModels.TransactionEntryViewModelList>
@{
    <link rel="stylesheet" href="~/assets/vendor/jstree/Print.css"  type="text/css" />
<style>


        .tablefooter {
            margin-top: 5px;
        }

        .colnumberval, .numberval {
            text-align: right;
        }

        .theadtr tr td {
            font-weight: bold;
        }

        #main-content {
            margin: 0px;
        }

        h6 {
            margin-bottom: 0px;
        }

        .debit-align {
            text-align: start;
        }

        .theadtr {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        #tbl_Debit {
            border: 1px solid black;
        }

    .total-amount {
        display: inline-block;
        float: right;
        margin-right: 5% !important;
    }

   
        .Divtable table tr td {
            font-size: 15px;
        }

        .DivParg p {
            font-size: 15px;
        }

        main::after {
            display: block;
            text-align: center;
        }
    .amount-words{
        display:block;
        margin-top:10px;
    }
</style>



    string LegalEntityName = "";
    string TransactionName = "";
    DateTime Date = new DateTime();
    string TransactionNo = "";
    decimal Debit = 0;
    decimal Credit = 0;
    string Description = "";
    string Narration = "";
    int TransactionTypeID = 0;
    int TransactionHeadID = 0;
    string parameterValue = "";

    <div id="main-content" data-plugin="ProductScript">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-12 align_company" style="text-align:center">

                        @foreach (var item in Model)
                        {
                            LegalEntityName = (@item.LegalEntityName);
                            TransactionName = (@item.TransactionInputTypeName);
                            TransactionTypeID = (@item.TransactionInputTypeID);
                            TransactionHeadID = (@item.TransactionHeadID);

                        }
                        @{
                            if (LegalEntityName != "" && TransactionName != null)
                            {
                                <div class="row clearfix">
                                    <div class="col-lg-12 text-center" style="bottom:10px">
                                        <span></span><br />
                                        <h6>@Html.DisplayFor(m => LegalEntityName)</h6>
                                        <span></span><br>
                                        <h6>@Html.DisplayFor(m => TransactionName)</h6>
                                        <h6>@Html.HiddenFor(m => TransactionTypeID)</h6>
                                    </div>
                                </div>

                            }
                        }

                        <div class="row clearfix date_time">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <input type="hidden" id="hidencPageID" value="@ViewBag.encPageID" />
                                        @foreach (var item in Model)
                                        {
                                            Date = (@item.TransactionEntryDate);
                                            parameterValue = item.TransactionEntryDate.ToString().Substring(0, 10);
                                            TransactionNo = (@item.TransactionShortRefNo);
                                        }
                                        @{
                                            if (TransactionNo != "")
                                            {
                                                <div class="row clearfix">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left">
                                                        <span>Date: </span>
                                                        @Html.DisplayFor(m => parameterValue)
                                                    </div>

                                                    <div class="col-lg-8 col-md-8  col-sm-8 col-xs-8 text-right">
                                                        <span>
                                                            Transaction No: @Html.DisplayFor(m => TransactionNo)
                                                        </span>

                                                    </div>
                                                </div>
                                            }
                                        }

                                        <br />

                                        <div class="row clearfix">
                                            <div class="col-lg-12 debit-align">
                                                <div class="boxPanelbody">
                                                    <table id="tbl_Debit" style="width:100%;" ver cellpadding="2">
                                                        <thead class="theadtr">

                                                            <tr><td width="32%" style="border: 1px solid #000;">Chart of Account</td><td width="42%" style="border: 1px solid #000;">Reference/Detail</td><td width="15%" style="border: 1px solid #000;">Debit</td><td width="15%">Credit</td></tr>
                                                        </thead>

                                                        @foreach (var item in Model)
                                                        {
                                                            Debit = Debit + @item.Debit;
                                                            Credit = Credit + @item.Credit;
                                                            Description = @item.Description;
                                                            Narration = @item.DescriptionHead;
                                                            <tbody>
                                                                @if (@item.Debit > 0)
                                                                {
                                                                    <tr>
                                                                        <td style="border: 1px solid #000;">
                                                                            @Html.DisplayFor(m => item.AccountName)
                                                                        </td>
                                                                        <td style="border: 1px solid #000;">
                                                                            @Html.DisplayFor(m => item.Description)

                                                                            @*<textarea rows="1" id="txtDebitDescription" class="form-control txtDebitDescription no-resize " placeholder="Reference/Detail..."></textarea>*@
                                                                        </td>
                                                                        <td style="border: 1px solid #000;">
                                                                            @Html.DisplayFor(m => item.Debit)
                                                                            @*<input type="text" id="txtDebitAmount" autocomplete="off" class="form-control txtDebitAmount numberval" />*@
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                }


                                                                @if (@item.Credit > 0)
                                                                {
                                                                    <tr>
                                                                        <td style="width:32%;border: 1px solid #000;">
                                                                            @Html.DisplayFor(m => item.AccountName)

                                                                        </td>
                                                                        <td style="width:42%;border: 1px solid #000;">
                                                                            @Html.DisplayFor(m => item.Description)
                                                                        </td>
                                                                        <td></td>
                                                                        <td style="border: 1px solid #000;">
                                                                            @Html.DisplayFor(m => item.Credit)
                                                                        </td>
                                                                    </tr>
                                                                }

                                                            </tbody>

                                                        }


                                                    </table>
                                                    @{
                                                        if (Credit != 0 && Debit != 0)
                                                        {
                                                            <tfoot>
                                                                <tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
                                                                <tr >
                                                                    <td >
                                                                        <div style="@((@ViewBag.TransactionInputTypeID == 2 || @ViewBag.TransactionInputTypeID == 4) ? "display:block;" : "display:none;")">
                                                                            <span><strong>Current Balance</strong></span>
                                                                            @Html.DisplayFor(m => Description, new { @class = "form-control txttotalCreditBalanceAmount no-resize ", tabindex = 4, maxlength = 50 })
                                                                        </div>
                                                                    </td>
                                                                    <td style="border: 1px solid #000;">
                                                                        <span class="total-amount">
                                                                            <strong hidden>
                                                                                Total:
                                                                            </strong>
                                                                            @Html.DisplayFor(m => Debit)
                                                                        </span>
                                                                    </td>
                                                                    <td style="border: 1px solid #000;">
                                                                        <span class="total-amount" >
                                                                            <strong >Total:</strong>
                                                                            @Html.DisplayFor(m => Credit)
                                                                        </span>
                                                                    </td>


                                                                    <td>
                                                                        <span class="amount-words"><strong> Amount(In words):</strong> </span>
                                                                        <input type="hidden" name="txtinput" id="txtinput" value=" @Html.DisplayFor(m => Debit)" />
                                                                        <div id="conversion"></div>
                                                                    </td>

                                                                </tr>
                                                            </tfoot>
                                                        }

                                                        else if (Credit != 0)
                                                        {
                                                            <tfoot>
                                                                <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
                                                                <tr>
                                                                    <td>
                                                                        <div style="@((@ViewBag.TransactionInputTypeID == 2 || @ViewBag.TransactionInputTypeID == 4) ? "display:block;" : "display:none;")">
                                                                            <span><strong>Current Balance</strong></span>
                                                                            @Html.DisplayFor(m => Description, new { @class = "form-control txttotalCreditBalanceAmount no-resize ", tabindex = 4, maxlength = 50 })
                                                                        </div>
                                                                    </td>
                                                                    <td></td>
                                                                    <td>
                                                                        <span class="total-amount">
                                                                            <strong>Total:</strong>
                                                                            @Html.DisplayFor(m => Credit, new { @class = "form-control txtCreditAmount numberval ", tabindex = 4, maxlength = 50 })
                                                                        </span>
                                                                   </td>

                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <span class="amount-words"><strong> Amount(In Words):</strong> </span>
                                                                        <input type="hidden" name="txtinput" id="txtinput" value="@Html.DisplayFor(m => Credit)" />
                                                                        <div id="conversion"></div>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        }
                                                        else if (Debit != 0)
                                                        {
                                                            <tfoot>
                                                                <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
                                                                <tr>
                                                                    <td>
                                                                        <div style="@((@ViewBag.TransactionInputTypeID == 2 || @ViewBag.TransactionInputTypeID == 4) ? "display:block;" : "display:none;")">
                                                                            <span><strong>Current Balance</strong></span>
                                                                            @Html.DisplayFor(m => Description, new { @class = "form-control txttotalCreditBalanceAmount no-resize ", tabindex = 4, maxlength = 50 })
                                                                        </div>
                                                                    </td>
                                                                    <td></td>
                                                                    <td>
                                                                        <span class="total-amount">
                                                                            <strong>Total:</strong>
                                                                            @Html.DisplayFor(m => Debit, new { @class = "form-control txtDebitAmount numberval ", tabindex = 4, maxlength = 50 })
                                                                        </span>
                                                                    </td>

                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <span class="amount-words"><strong> Amount(In words):</strong> </span>
                                                                        <input type="hidden" name="txtinput" id="txtinput" value="@Html.DisplayFor(m => Debit)" />
                                                                        <div id="conversion"></div>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        }

                                                    }
                                                    <div class="row clearfix">
                                                        <div class="col-lg-12">
                                                            <div class="form-group narration mt-3">
                                                                <span><strong>Narration:</strong></span>
                                                                @Html.DisplayFor(m => Narration, new { @class = "form-control  no-resize " })
                                                                @*<textarea rows="2" id="txtDescription" class="form-control no-resize" placeholder="Narration..."></textarea>*@
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="boxPanelfooter">
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        @{ if (TransactionTypeID == 1 || TransactionTypeID == 3 || TransactionTypeID == 5)
                                            {
                                                <div id="Print_details" class="Divtable" style="bottom:10px !important">
                                                    <table style="width:100%;font-size: 11px;">
                                                        <tr><td style="float:left">Authorised by</td></tr>
                                                        <tr height="20"><td colspan="2"></td></tr>
                                                        <tr><td align="left">Checked By</td><td align="right">Verified by</td></tr>

                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="Print_details" class="Divtable" style="padding-top:20px;">
                                                    <table style="width:100%;font-size: 11px;">
                                                        <tr><td align="left">Receiver's Signature</td><td align="right">Authorised by</td></tr>
                                                        <tr height="20"><td colspan="2"></td></tr>
                                                        <tr><td align="left">Checked By</td><td align="right">Verified by</td></tr>

                                                    </table>
                                                </div>
                                            }
                                        }
                                        @{

                                                <div class="modal-footer" id="divbtn">
                                                    @*<button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>*@
                                                    @*<button type="button" class="btn btn-danger" title="Close!" onclick="Removetransaction();">Cancel</button>*@
                                                    @*<a href="" id="divprint" class="btn btn-primary" onclick="print()"></a>*@
                                                    @*<button type="submit" id="divprint" title="Print" class="btn btn-success" onclick="javascript:window.print();">Print</button>*@
                                                    <button type="submit" id="divprint" title="Print" class="btn btn-success" onclick="window.print();">Print</button>
                                                    <button type="button" class="btn btn-danger" title="Close!" onclick=" Removetransaction();" data-dismiss="modal">Cancel</button>
                                                    @Html.HiddenFor(m => TransactionTypeID)
                                                    @Html.HiddenFor(m => TransactionHeadID)
                                                    <input type="hidden" id="hidTransactionHeadID_add" value="@ViewBag.TransactionHeadID" />
                                                </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" id="divProductManagementModel">

                            </div>
                        </div>
                    </div>
                    <!-- .modal -->
                    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
                        <div class="modal-dialog modal-sm">
                            <!-- /.modal-content -->
                            <div id="DivModelDeleteContent">

                            </div>
                        </div>
                    </div>*@
                <div id="TransactionEntryModule" class="modal" data-backdrop="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-content" id="divTransactionEntryContent">
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
                <div id="TransactionEntryModuleView" class="modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-content" id="divTransactionEntryContentView">
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
                <div id="TransactionEntrydelModule" class="modal fade animate black-overlay" data-backdrop="false">
                    <div class="modal-dialog modal-sm">
                        <!-- /.modal-content -->
                        <div id="DivModelDeleteContent">
                        </div>
                    </div>
                </div>
                <div style="height: 190px;left: 0px;right: 0px;top: 0px;position: fixed;z-index: 20049;" onclick='return movebottom();'>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
  
    function movebottom() {
        alert("Please Cancel the Transaction");
        $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
        return false;
    }
    function fnAddTransactionEntry(pageid) {
        //var ddl_MajorCategory = $("#ddl_MajorCategory");
        //var Id = parseInt(ddl_MajorCategory.val());
        $("#divTransactionEntryContent").empty();
        $("#divTransactionEntryContent").load("/TransactionEntry/AddTransactionEntry/" + pageid);
    }
    function fnLoadTransactionEntryEditModel(Id) {
        $("#divTransactionEntryContent").empty();
        $("#divTransactionEntryContent").load("/TransactionEntry/EditTransactionEntry/" + Id);
    }
    function fnViewTransactionEntryEditModel(Id) {
        $("#divTransactionEntryContentView").empty();
        $("#divTransactionEntryContentView").load("/TransactionEntry/ViewTransactionEntryByTransactionHeadID/" + Id);
    }
    function fnDeletTransactionEntryPopUp(Id) {
        //  alert($("#DivModelDeleteContent"));
        $("#DivModelDeleteContent").empty();
        $("#DivModelDeleteContent").load("/TransactionEntry/DeleteTransactionEntrymodel/" + Id);
    }
    function fnDeleteTransactionEntry(d) {
        var hidencPageID = $("#hidencPageID").val();
        $.ajax({
            url: "/TransactionEntry/DeleteTransactionEntry/" + d,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/TransactionEntry/ShowTransactionEntryTableView/" + msg);
                window.location.href = "/TransactionEntry/Index/" + hidencPageID;
            }
        });
    }
    function Removetransaction()
    {
         @Html.DisplayFor(m => TransactionTypeID)
        window.location.href = "/TransactionEntry/TransactionSuccess/" + @Html.DisplayFor(m => TransactionTypeID);
    }

</script>
<script type="text/javascript">

    // This function is use to conver the number to word
    function numToString(x) {
        var r = 0;
        var txter = x;
        var sizer = txter.length;
        var numStr = "";
        if (isNaN(txter)) {
            alert(" Invalid number");
            exit();
        }
        var n = parseInt(x);
        var places = 0;
        var str = "";
        var entry = 0;
        while (n >= 1) {
            r = parseInt(n % 10);

            if (places < 3 && entry == 0) {
                numStr = txter.substring(txter.length - 0, txter.length - 3) // Checks for 1 to 999.
                str = onlyDigit(numStr); //Calls function for last 3 digits of the value.
                entry = 1;
            }

            if (places == 3) {
                numStr = txter.substring(txter.length - 5, txter.length - 3)
                if (numStr != "") {
                    str = onlyDigit(numStr) + " Thousand " + str;
                }
            }

            if (places == 5) {
                numStr = txter.substring(txter.length - 7, txter.length - 5) //Substring for 5 place to 7 place of the string
                if (numStr != "") {
                    str = onlyDigit(numStr) + " Lakhs " + str; //Appends the word lakhs to it
                }
            }

            if (places == 6) {
                numStr = txter.substring(txter.length - 9, txter.length - 7)  //Substring for 7 place to 8 place of the string
                if (numStr != "") {
                    str = onlyDigit(numStr) + " Crores " + str;        //Appends the word Crores
                }
            }

            n = parseInt(n / 10);
            places++;
        }
        //alert(str);
        return str;
    }

    function onlyDigit(n) {
        //Arrays to store the string equivalent of the number to convert in words
        var units = ['', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine'];
        var randomer = ['', 'Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen'];
        var tens = ['', 'Ten', 'Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];
        var r = 0;
        var num = parseInt(n);
        var str = "";
        var pl = "";
        var tenser = "";
        while (num >= 1) {
            r = parseInt(num % 10);
            tenser = r + tenser;
            if (tenser <= 19 && tenser > 10) //Logic for 10 to 19 numbers
            {
                str = randomer[tenser - 10];
            }
            else {
                if (pl == 0)        //If units place then call units array.
                {
                    str = units[r];
                }
                else if (pl == 1)    //If tens place then call tens array.
                {
                    str = tens[r] + " " + str;
                }
            }
            if (pl == 2)        //If hundreds place then call units array.
            {
                str = units[r] + " Hundred " + str;
            }

            num = parseInt(num / 10);
            pl++;
        }
        return str;
    }
    function withDecimal(n) {
        var nums = n.toString().split('.')
        var whole = numToString(nums[0])
        if (nums.length == 2) {
            var fraction = numToString(nums[1]);
            console.log(fraction);
            if (fraction != "") {
                document.getElementById("conversion").innerHTML = whole + 'and ' + fraction + ' Paise Only';
            }
            else {
                document.getElementById("conversion").innerHTML = whole + ' Only';
            }
        } else {
            document.getElementById("conversion").innerHTML = whole + ' Only';
        }
    }
    /////////////////////////////////////////////////////////////////////

    $(document).ready(function () {
        //Convert number to work
        var total_number = $('#txtinput').val();
        withDecimal(total_number);

        $(document).keydown(function (e) {
            if (((e.which || e.keyCode) == 116) == true) {
                $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
                return false;
            }
            return true
        });
        $(document).bind("contextmenu", function (e) {
            $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
            return false;
        });
        loadready();
    });
    function loadready() {
        $(".numberval").blur(function (index) {
            if (isNaN($(this).val()) == true) {
                $(this).val('');
            }
            showoutput();
        });
        $(".numberval").keyup(function () {
            if (isNaN($(this).val()) == true) {
                $(this).val('');
            }
            showoutput();
        });
        showoutput();
    }
    function showoutput() {
        var totalCreditAmount = 0;
        $(".txtCreditAmount").each(function () {
            totalCreditAmount = totalCreditAmount + Number($(this).val());
        });
        $(".txttotalCreditAmount").val(totalCreditAmount.toFixed(2));
        var totalDebitAmount = 0;
        $(".txtDebitAmount").each(function () {
            totalDebitAmount = totalDebitAmount + Number($(this).val());
        });
        $(".txttotalDebitAmount").val(totalDebitAmount.toFixed(2));
    }
    function fnRemoveCreditRow(obj) {
        if ($('#tbl_Debit tbody tr').length > 1) { $(obj).closest('tr').remove(); }
        showoutput();
    }
    function fnRemoveDebitRow(obj) {
        if ($('#tbl_Debit tbody tr').length > 1) { $(obj).closest('tr').remove(); }
        showoutput();
        return false;
    }
    function fnAddCreditRow(obj) {
        //alert($('#tbl_debit tbody tr:last').attr("class"));
        //alert($('#tbl_debit tbody tr:last').attr("class").split(" ")[0]);
        //alert($('#tbl_debit tbody tr:last').find(".ddl_CreditAccount").val());
        var CreditAccount = $('#tbl_debit tbody tr:last').find(".ddl_CreditAccount").val();
        var CreditDescription = $('#tbl_debit tbody tr:last').find(".txtCreditDescription").val();
        var CreditAmount = $('#tbl_debit tbody tr:last').find(".txtCreditAmount").val();
        //alert(Number(CreditAmount));
        if (CreditAccount != 0 && CreditDescription != "" && Number(CreditAmount) != 0) {
            var trno = Number($('#tbl_debit tbody tr:last').attr("class").split(" ")[0].split("_")[1]) + 1;
            var tds = '<tr class="creditrow_' + trno + ' creditrows">';
            jQuery.each($('tbody tr:first td', $("#tbl_debit")), function () {
                tds += '<td>' + $(this).val(0).html() + '</td>';
            });
            tds += '</tr>';
            if ($('tbody', this).length > 0) {
                $('tbody', this).append(tds);
            } else {
                $("#tbl_debit").append(tds);
            }
        }
        loadready();
        return false;
    }
    function fnAddDebitRow(obj) {
        //alert($('#tbl_Debit tbody tr:last').attr("class"));
        //alert($('#tbl_Debit tbody tr:last').attr("class").split(" ")[0]);
        var DebitAccount = $('#tbl_Debit tbody tr:last').find(".ddl_DebitAccount").val();
        var DebitDescription = $('#tbl_Debit tbody tr:last').find(".txtDebitDescription").val();
        var DebitAmount = $('#tbl_Debit tbody tr:last').find(".txtDebitAmount").val();
        //alert(Number(CreditAmount));
        if (DebitAccount != 0 && DebitDescription != "" && Number(DebitAmount) != 0) {
            var trno = Number($('#tbl_Debit tbody tr:last').attr("class").split(" ")[0].split("_")[1]) + 1;
            var tds = '<tr class="debitrow_' + trno + ' debitrows">';
            jQuery.each($('tbody tr:first td', $("#tbl_Debit")), function () {
                tds += '<td>' + $(this).val(0).html() + '</td>';
            });
            tds += '</tr>';
            if ($('tbody', this).length > 0) {
                $('tbody', this).append(tds);
            } else {
                $("#tbl_Debit").append(tds);
            }
        }
        loadready();
        return false;
    }

    function fnRemoveRow(obj) {
        $(this).closest('tr').remove();
        return false;
    }
    function FunctionGetBalance(x, clscontrol) {
        var hidLegalEntityID = $("#hidLegalEntityID"),
            AccountID = $(x).val();
        //alert($(x).val());
        //alert($("." + clscontrol).val());
        $.ajax({
            url: "/TransactionEntry/ClosingBalanceAmount?LegalEntityID=" + hidLegalEntityID.val() + "&AccountID=" + AccountID,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $("." + clscontrol).val(msg);
                //alert(msg);
            }
        });
    }
    function FunctionCheckGetBalance(x, clscontrol) {
        var Amount = $(x).val(),
            BalanceAmount = $("." + clscontrol).val();
        if (Number(BalanceAmount) < Number(Amount)) {
            alert("Invalid Cash Balance");
            $(x).val('');
        }
    }
    function humanize(num) {
        var ones = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine',
            'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen',
            'seventeen', 'eighteen', 'nineteen'];
        var tens = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty',
            'ninety'];

        var numString = num.toString();

        if (num < 0) throw new Error('Negative numbers are not supported.');

        if (num === 0) return 'zero';

        //the case of 1 - 20
        if (num < 20) {
            return ones[num];
        }

        if (numString.length === 2) {
            return tens[numString[0]] + ' ' + ones[numString[1]];
        }

        //100 and more
        if (numString.length == 3) {
            if (numString[1] === '0' && numString[2] === '0')
                return ones[numString[0]] + ' hundred';
            else
                return ones[numString[0]] + ' hundred and ' + convert(+(numString[1] + numString[2]));
        }

        if (numString.length === 4) {
            var end = +(numString[1] + numString[2] + numString[3]);
            if (end === 0) return ones[numString[0]] + ' thousand';
            if (end < 100) return ones[numString[0]] + ' thousand and ' + convert(end);
            return ones[numString[0]] + ' thousand ' + convert(end);
        }
    }
   
    function getdate(str) {
        alert(str);
        // alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[1] + "-" + dat[0] + "-" + dat[2]);
    }
    function fnValidate() {
        event.preventDefault();
        showoutput();
        var txttotalCreditAmount = $(".txttotalCreditAmount"),
            txttotalDebitAmount = $(".txttotalDebitAmount"),
            isValid = true,
            spn_txttotalDebitAmount = $("#spn_txttotalDebitAmount"),
            spn_txttotalCreditAmount = $("#spn_txttotalCreditAmount"),
            txtDescription = $("#txtDescription"),
            spn_txtDescription = $("#spn_txtDescription");
        spn_txttotalDebitAmount.hide();
        spn_txttotalCreditAmount.hide();
        spn_txtDescription.hide();
        //if (ddl_LegalEntity.val() == 0) {
        //    spn_LegalEntity.show();
        //    isValid = false;
        //}
        if (txttotalDebitAmount.val() == "" || txttotalDebitAmount.val() == "0") {
            spn_txttotalDebitAmount.show();
            isValid = false;
        }
        if (txttotalCreditAmount.val() == "" || txttotalCreditAmount.val() == "0") {
            spn_txttotalCreditAmount.show();
            isValid = false;
        }
        if (txtDescription.val() == "") {
            spn_txtDescription.show();
            isValid = false;
        }
        if (Number(txttotalDebitAmount.val()) != Number(txttotalCreditAmount.val())) {
            alert("Invalid credit/debit transaction!");
            isValid = false;
        }

        return isValid;
    }
    function fnVoucherdetails_print() {
        var VoucherID = $("#hidTransactionHeadID");
        if (VoucherID.val() > 0) {
            var data = {};
            data.printID = parseInt(VoucherID.val());

            $.ajax({
                type: "POST",
                url: "/TransactionEntry/GetTransactionPrint",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "JSON",
                success: function (msg) {

                    $("#divPrintContents").html(msg);

                    var divContents = $("#divPrintContents").html();
                    var printWindow = window.open('', '', 'height=200,width=400');
                    printWindow.document.write('<html><head><title>Receipt</title>');
                    printWindow.document.write('</head><body >');
                    printWindow.document.write(divContents);
                    printWindow.document.write('</body></html>');
                    printWindow.document.close();
                    printWindow.print();
                    printWindow.close();
                    ReceiptDetailsclose();
                },
                error: function (msg) {
                    $//("#loadingContent_overlay").hide();
                    alert("Error Saving Record!");
                }
            });
        }
    }


    //$(window).bind('beforeunload', function () {
    //    // alert("test");
    //    //Removetransaction();
    //    //return false;
    //    return '>>>>>Before You Go<<<<<<<< \n Your custom message go here';
    //});

    //$(window).bind('unload', function () {
    //    alert("test");
    //    Removetransaction();
    //    return 'Bye now!';
    //});

</script>