﻿@model Accounting.Web.Models.DBModels.FinancialYearModel

<div id="divResult">
    <div class="modal-header">
        <h4 class="title">Add FinancialYear</h4>
    </div>
    <div class="modal-body">
        @*<div class="form-group">
                <select id="ddl_LegalEntity" class="form-control">

                    <option value="0">Legal Entity</option>
                    @foreach (var item in @ViewBag.AllMajorCategory)
                    {
                        <option value="@item.MajorFinancialYearID">@item.MajorStartDate</option>
                    }
                </select>
                <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
            </div>*@
        <div class="row clearfix">
            <div class="col-lg-4">
                @Html.HiddenFor(m => m.FinancialYearID)
                @*@Html.HiddenFor(m => m.IsActive)*@
                <span>Start Date</span>
                <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                    <input type="text" id="StartDate" class="form-control" value='@ViewBag.StartDate' readonly="readonly" onblur="callfromdatefun()" onchange="callfromdatefun()">
                    <span style="color:red;display:none;" id="spn_StartDate">Please enter StartDate</span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <span>End Date</span>
                <div class="input-group date" data-date-autoclose="true" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                    <input type="text" id="EndDate" class="form-control" readonly="readonly" value='@ViewBag.EndDate' onblur="calltodatefun()" onchange="calltodatefun()">
                    <span style="color:red;display:none;" id="spn_EndDate">Please enter EndDate</span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="DivIsActive">
                <span>Status</span>
                <div class="input-group">
                    <select id="IsActive" class="form-control">
                        <option value="0">Enabled</option>
                        <option value="1">Disabled</option>
                    </select>
                    <!-- onchange="FinancialYrStatus()"-->
                </div>
            </div>
            @Html.HiddenFor(m => m.CreatedBy)
            @Html.HiddenFor(m => m.CreatedOn)
            @*<div class="col-lg-4">
                    <div class="input-daterange input-group" data-provide="datepicker">
                        <input type="text" class="input-sm form-control" name="start">
                        <span class="input-group-addon text-center" style="width: 40px;">to</span>
                        <input type="text" class="input-sm form-control" name="end">
                    </div>
                </div>*@
        </div>
        @*<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                <input type="text" class="form-control">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>*@

    </div>
    <div class="modal-footer">
        <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
        <input type="hidden" id="HdnIsActiveStatus" data-val="@ViewBag.IsActive" />
        <input type="hidden" id="HdnCreatedOn" value="@ViewBag.CreatedOn" />

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
       // debugger
        var Curryear = new Date().getFullYear()
        var Startdate = $("#StartDate").val();
        var dat = Startdate.split('-');
      //  console.log(dat); return;
      //  if (dat[2] == Curryear || dat[2] == Curryear - 1 || dat[2] == Curryear - 2) {
        if ( dat[2] == Curryear - 1 ) {
            $("#DivIsActive").css("display", "block");   //Enabled
        }
        else {
            $("#DivIsActive").css("display", "none");  //Disabled
        }
        //var isactive = $("#HdnIsActiveStatus").attr('data-val') == "True" ? 1 : 0;
        //$("#IsActive").val(isactive);
    });
    function callfromdatefun() {
        var StartDate = $("#StartDate");
        var EndDate = $("#EndDate");
        //alert(StartDate.val());
        $.ajax({
            url: "/FinancialYear/GetFinancialYearTodate?Date=" + getdate(StartDate.val()),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                EndDate.val(msg);
                // $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/TransactionEntry/ShowTransactionEntryTableView/" + msg);
                //window.location.href = "/TransactionEntry/Index/" + hidencPageID;
            }
        });
    }

    function getdate(str) {
        //alert(str.split(' ')[0]);
        var dat = str.split('-')
        return (dat[1] + "-" + dat[0] + "-" + dat[2]);
    }
    function calltodatefun() {
        var StartDate = $("#StartDate");
        var EndDate = $("#EndDate");
        //alert(StartDate.val());
        $.ajax({
            url: "/FinancialYear/GetFinancialYearFromdate?Date=" + getdate(EndDate.val()),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                StartDate.val(msg);
                // $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/TransactionEntry/ShowTransactionEntryTableView/" + msg);
                //window.location.href = "/TransactionEntry/Index/" + hidencPageID;
            }
        });
    }
    $("#btn_Submit").click(function () {
       // debugger
        if (fnValidate()) {
            // var hidLegalEntity = $("#hidLegalEntity"),
            var FinancialYearID = $("#FinancialYearID"),
                StartDate = $("#StartDate"),
                EndDate = $("#EndDate"),
                CreatedBy = $("#CreatedBy"),
                CreatedOn = $("#HdnCreatedOn"),
                //IsActive = $("#IsActive"),
                IsActive = $("#IsActive"),


                data = {};
            // data["LegalEntityID"] = parseInt(hidLegalEntity.val());
            data["FinancialYearID"] = parseInt(FinancialYearID.val());
            data["StartDate"] = getdate(StartDate.val());
            data["EndDate"] = getdate(EndDate.val());
            //data["IsActive"] = IsActive.val() == "1" ? "True" : "False";
            data["IsActive"] = parseInt(IsActive.val());
            data["CreatedOn"] = getdate($("#HdnCreatedOn").val().replace(/\//g, '-'));
            data["CreatedBy"] = parseInt(CreatedBy.val());
            data["LastModifiedon"] = null;
            data["LastModifiedBy"] = null; 
            $.ajax({
                url: "/FinancialYear/InsertFinancialYear",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {                   
                    window.location.href = "/FinancialYear/Index";
                },
                error: function (msg) {
                }
            });
        }
        else {
            return false;
        }
    });
    function fnValidate() {

        event.preventDefault();
        var StartDate = $("#StartDate"),
            // ddl_LegalEntity = $("#ddl_LegalEntity"),
            isValid = true,
            spn_StartDate = $("#spn_StartDate");
        //  spn_LegalEntity = $("#spn_LegalEntity");
        //spn_LegalEntity.hide();
        spn_StartDate.hide();
        //if (ddl_LegalEntity.val() == 0) {
        //    spn_LegalEntity.show();
        //    isValid = false;
        //}
        if (StartDate.val() == "") {
            spn_StartDate.show();
            isValid = false;
        }

        return isValid;
    }
</script>



