﻿@model Accounting.Web.Models.DBModels.ProfitCentreModel

    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Add Profit Centre</h4>
        </div>
        <div class="modal-body">
            @*<div class="form-group">
            <select id="ddl_LegalEntity" class="form-control">

                <option value="0">Legal Entity</option>
                @foreach (var item in @ViewBag.AllMajorCategory)
                {
                    <option value="@item.MajorProfitCentreID">@item.MajorProfitCentreName</option>
                }
            </select>
            <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
        </div>*@
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Branch Name</span>
                        @*<span>District name</span><span class="form-error-msg">*</span>*@
                        @Html.TextBoxFor(m => m.ProfitCentreName, new { @class = "form-control", tabindex = 2, placeholder = "Branch name" })
                    <span style="color:red;display:none;" id="spn_ProfitCentreName">Please enter Branch name</span>
                        @*<input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />*@
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <span>Branch Code</span>
                            @Html.TextBoxFor(m => m.ProfitCentreslcode, new { @class = "form-control", tabindex = 8, placeholder = "Branch Code", maxlength = 4 })
                        <span style="color:red;display:none;" id="spn_ProfitCentreslcode">Please enter Branch code</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span>Address</span>
                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", tabindex = 4, placeholder = "Address", maxlength = 200 })
                        <span style="color:red;display:none;" id="spn_EntityAddress">Please enter Address</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix ">
                    <div class="col-lg-12 ">
                        <h6>Statutory Info :</h6>
                    </div>
                </div>
                <div class="row clearfix ">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <span>GST IN</span>
                            @Html.TextBoxFor(m => m.GSTNO, new { @class = "form-control", tabindex = 5, placeholder = "GST IN", maxlength = 25 })
                            <span style="color:red;display:none;" id="spn_GSTIN">Please enter GST IN</span>
                        </div>
                    </div>
                    @*<div class="col-lg-6">
                <div class="form-group">
                    <span>Statutory Info</span><span class="form-error-msg">*</span>
                    @Html.TextBoxFor(m => m.StatutoryInfo, new { @class = "form-control", tabindex = 3 })
                    @Html.ValidationMessageFor(m => m.StatutoryInfo, "", new { @class = "form-error-msg" })
                </div>
            </div>*@
                    <div class="col-lg-6">
                        <div class="form-group">
                            <span>CIN NO</span>
                            @Html.TextBoxFor(m => m.CINNO, new { @class = "form-control", tabindex = 6, placeholder = "CIN NO", maxlength = 25 })
                            <span style="color:red;display:none;" id="spn_CINNO">Please enter CIN NO</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix ">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <span>PAN NO</span>
                            @Html.TextBoxFor(m => m.PANNO, new { @class = "form-control", tabindex = 7, placeholder = "PAN NO", maxlength = 25 })
                            <span style="color:red;display:none;" id="spn_PANNO">Please enter PAN NO</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <span>TAN NO</span>
                            @Html.TextBoxFor(m => m.TANNO, new { @class = "form-control", tabindex = 8, placeholder = "TAN NO", maxlength = 25 })
                            <span style="color:red;display:none;" id="spn_TANNO">Please enter TAN NO</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @{
                                string Username = "";

                                @foreach (var item in @ViewBag.Username)
                                {
                                    Username = (@item.UserName);
                                }

                                if (Username == "admin")
                                {

                                    <span>Past Date Status</span><span class="form-error-msg">*</span>
                                    @Html.DropDownListFor(m => m.Pastdate_status, new SelectList(ViewBag.PastdateStatus, "UDID", "UDDescription"), "Select Pastdatestatus", new { @class = "form-control", tabindex = 6 })
                                    @Html.ValidationMessageFor(m => m.Pastdate_status, "", new { @class = "form-error-msg" })
                                }

                            }

                        </div>
                    </div>

                </div>
            </div>
                <div class="modal-footer">
                    <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <script type="text/javascript">
                $("#btn_Submit").click(function () {
                    if (fnValidate()) {
                        // var hidLegalEntity = $("#hidLegalEntity"),
                        var ProfitCentreName = $("#ProfitCentreName"),
                            Address = $("#Address"),
                            GSTNO = $("#GSTNO"),
                            CINNO = $("#CINNO"),
                            PANNO = $("#PANNO"),
                            TANNO = $("#TANNO"),
                            ProfitCentreslcode = $("#ProfitCentreslcode"),
                            Pastdate_status=$("#Pastdate_status"),
                            data = {};
                        // data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                        data["ProfitCentreName"] = ProfitCentreName.val();
                            data["Address"] = Address.val();
                            data["GSTNO"] = GSTNO.val();
                            data["CINNO"] = CINNO.val();
                            data["PANNO"] = PANNO.val();
                            data["TANNO"] = TANNO.val();
                        data["ProfitCentreslcode"] = ProfitCentreslcode.val();
                        data["Pastdate_status"] = Pastdate_status.val();
                        $.ajax({
                            url: "/ProfitCentre/InsertProfitCentre",
                            type: "POST",
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                window.location.href = "/ProfitCentre/Index";
                            },
                            error: function (msg) {

                            }
                        });
                    }
                    else {
                        return false;
                    }
                });
                function fnValidate() {

                    event.preventDefault();
                    var ProfitCentreName = $("#ProfitCentreName"),
                        // ddl_LegalEntity = $("#ddl_LegalEntity"),
                        isValid = true,
                        spn_ProfitCentreName = $("#spn_ProfitCentreName");
                    //  spn_LegalEntity = $("#spn_LegalEntity");
                    //spn_LegalEntity.hide();
                    spn_ProfitCentreName.hide();
                    //if (ddl_LegalEntity.val() == 0) {
                    //    spn_LegalEntity.show();
                    //    isValid = false;
                    //}
                    if (ProfitCentreName.val() == "") {
                        spn_ProfitCentreName.show();
                        isValid = false;
                    }

                    return isValid;
                }
            </script>



