﻿@*@model IEnumerable<Accounting.Web.Models.DBModels.ProfitCentreModel>*@
@model Accounting.Web.Models.ViewModels.ProfitCentreViewModel
@{
    ViewData["Title"] = "Profit Centre";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Branch</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Payments</li>
                        <li class="breadcrumb-item active">Payment Invoice</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Branch List</h2>
                        <ul class="header-dropdown">
                            @*<li><a class="tab_btn" href="javascript:void(0);" title="Weekly">W</a></li>
                                <li><a class="tab_btn" href="javascript:void(0);" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" href="javascript:void(0);" title="Yearly">Y</a></li>*@
                            <li>
                                @*<button class="btn btn-primary float-right" onclick="fnLoadProductAdd()" data-toggle="modal" data-target="#ProductManagementModel"><i class="fa fa-plus-square"></i> <span>New Product</span></button>*@
                                        <button class="btn btn-primary" id="btn_addnew" style="float:right;" onclick="fnAddProfitCentre()" data-toggle="modal" data-target="#ProfitCentreModule"><i class="fa fa-plus-square"></i> <span>New Branch</span></button>

                            </li>
                            <li class="dropdown" style="display:none;">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Add New</a></li>
                                    @*<li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom table-striped" data-plugin="dataTable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Branch name</th>
                                        <th>
                                            Code
                                        </th>
                                        <th>
                                            Address
                                        </th>

                                        @*<th>
                                            TANNO
                                        </th>
                                        <th>
                                            CINNO
                                        </th>*@
                                        <th>
                                            PANNO
                                        </th>
                                        <th>
                                            GSTNO
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GetAllProfitCentre)
                                    {
                                    <tr>
                                        <td>@item.ProfitCentreName</td>
                                        <td>
                                            @item.ProfitCentreslcode
                                        </td>
                                        <td>
                                            @item.Address
                                        </td>
                                        @*<td>
                                            @item.TANNO
                                        </td>
                                        <td>
                                            @item.CINNO
                                        </td>*@
                                        <td>
                                            @item.PANNO
                                        </td>
                                        <td>
                                            @item.GSTNO
                                        </td>
                                        <td>
                                            <div class="btn-group-sm">
                                                <button class="btn btn-primary right" onclick="fnLoadProfitCentreEditModel(@item.ProfitCentreID)" data-toggle="modal" data-target="#ProfitCentreModule"><i class="fa fa-edit"></i></button>
                                                <button class="btn danger m-t" data-toggle="modal" data-target="#ProfitCentredelModule" onclick="fnDeletProfitCentrePopUp(@item.ProfitCentreID)"><i class="fa fa-trash"></i> </button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="divProductManagementModel">

            </div>
        </div>
    </div>
    <!-- .modal -->
    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
        <div class="modal-dialog modal-sm">
            <!-- /.modal-content -->
            <div id="DivModelDeleteContent">

            </div>
        </div>
    </div>*@
<div id="ProfitCentreModule" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divProfitCentreContent">

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="ProfitCentredelModule" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <!-- /.modal-content -->
        <div id="DivModelDeleteContent">

        </div>
    </div>
</div>


<script type="text/javascript">
    function fnAddProfitCentre() {
        //var ddl_MajorCategory = $("#ddl_MajorCategory");
        //var Id = parseInt(ddl_MajorCategory.val());
        $("#divProfitCentreContent").empty();
        $("#divProfitCentreContent").load("/ProfitCentre/AddProfitCentre/");
    }
    function fnLoadProfitCentreEditModel(Id) {
        $("#divProfitCentreContent").empty();
        $("#divProfitCentreContent").load("/ProfitCentre/EditProfitCentre/" + Id);
    }
    function fnDeletProfitCentrePopUp(Id) {
        //  alert($("#DivModelDeleteContent"));
        $("#DivModelDeleteContent").empty();
        $("#DivModelDeleteContent").load("/ProfitCentre/DeleteProfitCentremodel/" + Id);
    }
    function fnDeleteProfitCentre(d) {
        $.ajax({
            url: "/ProfitCentre/DeleteProfitCentre/" + d,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/ProfitCentre/ShowProfitCentreTableView/" + msg);
                window.location.href = "/ProfitCentre/Index";
            }
        });
    }

</script>