﻿@model Accounting.Web.Models.DBModels.LedgerGroupMasterModel

    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Add Account Group</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <select id="ddl_GroupType" onchange="fnGetParentGroups()" class="form-control">
                    @*onchange="fnBindLedgerGroupMaster()"*@
                    <option value="0">Group type</option>
                    @foreach (var item in @ViewBag.GetAllGroupTypeModel)
                    {
                        <option value="@item.GroupTypeID">@item.GroupTypeName</option>
                    }
                </select>
                <span style="color:red;display:none;" id="spn_GroupType">Please enter Group type</span>
            </div>
            <div class="form-group">
                @*<span>District name</span><span class="form-error-msg">*</span>*@
                @Html.TextBoxFor(m => m.LedgerGroupName, new { @class = "form-control", tabindex = 2, @rows = "6", placeholder = "Group name" })
                <span style="color:red;display:none;" id="spn_LedgerGroupName">Please enter group name</span>
            </div>
            <div class="form-group">
                <select id="ddlParentLedgerGroupID" class="form-control" style="display:none;"  >
                    <option value="0">Select Parent</option>
                </select>
                <span style="color:red;display:none;" id="spn_ParentGroup">Please select parent Group</span>
            </div>
        </div>
            <div class="modal-footer">
                <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    <script type="text/javascript">
    function fnGetParentGroups() {
              $("#ddlParentLedgerGroupID").html('');
                $("#ddlParentLedgerGroupID").append($('<option></option>').val(0).html("Select Parent"));
                $("#ddlParentLedgerGroupID").hide();
            var ddl_GroupType = $("#ddl_GroupType");
            if (Number(ddl_GroupType.val()) > 1) {
                var GroupType = Number(ddl_GroupType.val()) - 1;
                //alert(GroupType);
                $("#ddlParentLedgerGroupID").show();
                $.ajax({
                    url: "/LedgerGroupMaster/BindLedgerGroupMaster/" + GroupType,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        
                        $("#ddlParentLedgerGroupID").html('');
                        $("#ddlParentLedgerGroupID").append($('<option></option>').val(0).html("Select Parent"));
                        $.each(msg, function (x, v) {
                            //  alert(v.ledgerGroupID);
                            //  alert(x.ledgerGroupName);
                            $("#ddlParentLedgerGroupID").append($('<option></option>').val(v.ledgerGroupID).html(v.ledgerGroupName));
                        })
                    },

                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
            }
            //else {
            //     $("#ddlParentLedgerGroupID").html('');
            //    $("#ddlParentLedgerGroupID").append($('<option></option>').val(0).html("Select Parent"));
            //    $("#ddlParentLedgerGroupID").hide();
            //}

}
           $("#btn_Submit").click(function () {
            
        if (fnValidate()) {
            var ddl_GroupType = $("#ddl_GroupType"),
                   ddlParentLedgerGroupID = $("#ddlParentLedgerGroupID"),
                  LedgerGroupName = $("#LedgerGroupName"),
                data = {};
            //alert(ddl_GroupType.val());
            //alert(LedgerGroupName.val());
            data["ParentLedgerGroupID"] = parseInt(ddlParentLedgerGroupID.val());
            data["GroupTypeID"] = parseInt(ddl_GroupType.val());
            data["LedgerGroupName"] = LedgerGroupName.val();
            $.ajax({
                url: "/LedgerGroupMaster/InsertLedgerGroupMaster",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/LedgerGroupMaster/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
      function fnValidate() {
            
        event.preventDefault();
          var LedgerGroupName = $("#LedgerGroupName"),
              ddl_GroupType = $("#ddl_GroupType"),
              ddlParentLedgerGroupID = $("#ddlParentLedgerGroupID"),
              isValid = true,
              spn_GroupType = $("#spn_GroupType"),
              spn_LedgerGroupName = $("#spn_LedgerGroupName"),
              spn_ParentGroup = $("#spn_ParentGroup");
          
          spn_GroupType.hide();
          spn_LedgerGroupName.hide();
          spn_ParentGroup.hide();
          if (ddl_GroupType.val() == 0) {
              spn_GroupType.show();
                isValid = false;
            }
          if (LedgerGroupName.val() == "") {
                spn_LedgerGroupName.show();
                isValid = false;
          }
          if (Number(ddl_GroupType.val()) > 1) {
               if (ddlParentLedgerGroupID.val() == 0) {
              spn_ParentGroup.show();
                isValid = false;
            }
          }
         // alert(isValid);
        return isValid;
    }
    </script>



