﻿@model Accounting.Web.Models.DBModels.LedgerGroupMasterModel


    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Edit Account Group</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <select id="ddl_GroupType" onchange="fnGetParentGroups()" class="form-control" disabled="disabled">
                    @*onchange="fnBindLedgerGroupMaster()"*@
                    <option value="0">Group type</option>
                    @foreach (var item in @ViewBag.GetAllGroupTypeModel)
                    {
                        if (Convert.ToInt32(Model.GroupTypeID) == item.GroupTypeID)
                        {
                            <option value="@item.GroupTypeID" selected>@item.GroupTypeName</option>
                        }
                        else
                        {
                            <option value="@item.GroupTypeID">@item.GroupTypeName</option>
                        }
                    }
                </select>
                <span style="color:red;display:none;" id="spn_GroupType">Please enter Group type</span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.LedgerGroupID)
                @Html.HiddenFor(m => m.ParentLedgerGroupID)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.CreatedOn)
                @Html.HiddenFor(m => m.IsActive)

                @Html.TextBoxFor(m => m.LedgerGroupName, new { @class = "form-control", tabindex = 1, @rows = "6", placeholder = "Group name" })
                <span style="color:red;display:none;" id="spn_LedgerGroupName">Please enter Group name</span>
            </div>
            <div class="form-group">
                <select id="ddlParentLedgerGroupID" class="form-control" style="display:none;" disabled="disabled">
                    <option value="0">Select Parent</option>
                    @foreach (var item in @ViewBag.GetAllLedgerGroupMasterByGroupType)
                    {
                        if (Convert.ToInt32(Model.ParentLedgerGroupID) == item.LedgerGroupID)
                        {
                            <option value="@item.LedgerGroupID" selected>@item.LedgerGroupName</option>
                        }
                        else
                        {
                            <option value="@item.LedgerGroupID">@item.LedgerGroupName</option>
                        }
                    }
                </select>
                <span style="color:red;display:none;" id="spn_ParentGroup">Please select parent Group</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
        </div>
    </div>

    <script type="text/javascript">
    function showhidefunction() {
        //fnGetParentGroups();
        var ddl_GroupType = $("#ddl_GroupType");
        //alert(ddl_GroupType.val())
        if (Number(ddl_GroupType.val()) > 1) {
            $("#ddlParentLedgerGroupID").show();
        }
        else {
                $("#ddlParentLedgerGroupID").hide();
        }
    }
    function fnGetParentGroups() {
              $("#ddlParentLedgerGroupID").html('');
                $("#ddlParentLedgerGroupID").append($('<option></option>').val(0).html("Select Parent"));
                $("#ddlParentLedgerGroupID").hide();
            var ddl_GroupType = $("#ddl_GroupType");
            if (Number(ddl_GroupType.val()) > 1) {
                var GroupType = Number(ddl_GroupType.val()) - 1;
                //alert(GroupType);
                $("#ddlParentLedgerGroupID").show();
                $.ajax({
                    url: "/LedgerGroupMaster/BindLedgerGroupMaster/" + GroupType,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#ddlParentLedgerGroupID").html('');
                        $("#ddlParentLedgerGroupID").append($('<option></option>').val(0).html("Select Parent"));
                        $.each(msg, function (x, v) {
                            //  alert(v.ledgerGroupID);
                            //  alert(x.ledgerGroupName);
                            $("#ddlParentLedgerGroupID").append($('<option></option>').val(v.ledgerGroupID).html(v.ledgerGroupName));
                        })
                    },

                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
                 
            }
            //else {
            //    $("#ddlParentLedgerGroupID").html('');
            //    $("#ddlParentLedgerGroupID").append($('<option></option>').val(0).html("Select Parent"));
            //    $("#ddlParentLedgerGroupID").hide();
            //}

        }
        function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split(' ')[0].split('-');
            return (dat[1] + "/" + dat[0] + "/" + dat[2] + " " + str.split(' ')[1]);
        }

          $("#btn_Submit").click(function () {
            
        if (fnValidate()) {
            var ddl_GroupType = $("#ddl_GroupType"),
                 ddlParentLedgerGroupID = $("#ddlParentLedgerGroupID"),
                LedgerGroupID = $("#LedgerGroupID"),
                   ParentLedgerGroupID = $("#ParentLedgerGroupID"),
                LedgerGroupName = $("#LedgerGroupName"),
                    CreatedBy = $("#CreatedBy"),
                CreatedOn = $("#CreatedOn"),
                IsActive = $("#IsActive"),
                data = {};
            //alert(ddl_GroupType.val());
            //alert(LedgerGroupName.val());
            
            data["LedgerGroupName"] = LedgerGroupName.val();
            data["LedgerGroupID"] = parseInt(LedgerGroupID.val());
            data["ParentLedgerGroupID"] = parseInt(ParentLedgerGroupID.val());
            // data["ParentLedgerGroupID"] = parseInt(ddlParentLedgerGroupID.val());
            data["GroupTypeID"] = parseInt(ddl_GroupType.val());
            data["CreatedBy"] = parseInt(CreatedBy.val());
            data["CreatedOn"] = getdate(CreatedOn.val());
             data["IsActive"] = IsActive.val();
            $.ajax({
                url: "/LedgerGroupMaster/InsertLedgerGroupMaster",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/LedgerGroupMaster/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
          });
        function fnValidate() {
            
        event.preventDefault();
          var LedgerGroupName = $("#LedgerGroupName"),
              ddl_GroupType = $("#ddl_GroupType"),
              ddlParentLedgerGroupID = $("#ddlParentLedgerGroupID"),
              isValid = true,
              spn_GroupType = $("#spn_GroupType"),
              spn_LedgerGroupName = $("#spn_LedgerGroupName"),
              spn_ParentGroup = $("#spn_ParentGroup");
          
          spn_GroupType.hide();
          spn_LedgerGroupName.hide();
          spn_ParentGroup.hide();
          if (ddl_GroupType.val() == 0) {
              spn_GroupType.show();
                isValid = false;
            }
          if (LedgerGroupName.val() == "") {
                spn_LedgerGroupName.show();
                isValid = false;
          }
          if (Number(ddl_GroupType.val()) > 1) {
               if (ddlParentLedgerGroupID.val() == 0) {
              spn_ParentGroup.show();
                isValid = false;
            }
          }
         // alert(isValid);
        return isValid;
    }
    //  function fnValidate() {
            
    //    event.preventDefault();
    //      var LedgerGroupName = $("#LedgerGroupName"),
    //          ddl_GroupType = $("#ddl_GroupType"),
    //        isValid = true,
    //          spn_GroupType = $("#spn_GroupType"),
    //          spn_LedgerGroupName = $("#spn_LedgerGroupName");
    //      spn_GroupType.hide();
    //      spn_LedgerGroupName.hide();
    //      if (ddl_GroupType.val() == 0) {
    //          spn_GroupType.show();
    //            isValid = false;
    //        }
    //      if (LedgerGroupName.val() == "") {
    //            spn_LedgerGroupName.show();
    //            isValid = false;
    //      }
    //    //  alert(isValid);
    //    return isValid;
    //}
    showhidefunction();
    </script>