﻿
<div class="modal-content flip-y">
    <div class="modal-body text-center">
        <p class="py-3 mt-3"><i class="fa fa-remove text-warning fa-3x"></i></p>
        <p>Could not delete!, Account Group Mapped with Chart of Account </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn white" data-dismiss="modal">Close</button>
    </div>
</div>