﻿@model Accounting.Web.Models.DBModels.ProductManagementModel


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="divResult">
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <h4 class="title">Add Product</h4>
        </div>
        <div class="modal-body">
            <div class="row clearfix">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="hidden" value="0" id="ProductID" />
                        @Html.Label("Product ID")
                        @Html.TextBoxFor(m => m.ProductUniqueID, new { @class = "form-control", tabindex = 1, @placeholder = "Product ID", @maxlength = "2" })
                        @Html.ValidationMessageFor(m => m.ProductUniqueID, "", new { @class = "form-error-msg" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("Product Name")
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", tabindex = 2, @placeholder = "Product Name" })
                        @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "form-error-msg" })
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <table id="tbl_ProductCase" cellpadding="2">
                        <tbody>
                            <tr>
                                <td>
                                    <select id="ddl_CaseID" class="form-control">
                                        <option value="0">Select case</option>
                                        @foreach (var objCase in ViewBag.AllCase)
                                        {
                                            <option value="@objCase.CaseID">@objCase.CaseName</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <input type="number" min="1"  class="form-control" id="txt_duration" maxlength="3" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g, '');"/>
                                </td>
                                <td>
                                    <select id="ddl_DurationID" class="form-control">
                                        <option value="0">Days</option>
                                        <option value="1">Hrs</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="javascript:fnAddRow(this);"><i class="fa fa-plus-circle"></i></a> | <a onclick="if($('#tbl_ProductCase tr').length > 1) {$(this).closest('tr').remove();}" href="#"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" onclick="fnSave()" id="btn_save">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </div>

    <script src="~/libs/jquery-validation/jquery.validate.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
