﻿@model Accounting.Web.Models.ViewModels.ProductManagementViewModel
@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="padding" data-plugin="ProductScript">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                @*<ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index"><i class="icon-home"></i></a></li>
                        @*<li class="breadcrumb-item">Organization</li>
                        <li class="breadcrumb-item active">Company</l   i>
                    </ul>*@
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="row clearfix">
            <div class="col-lg-12">
                <button class="btn btn-primary float-right" onclick="fnLoadProductAdd()" data-toggle="modal" data-target="#ProductManagementModel"><i class="fa fa-plus-square"></i> <span>New Product</span></button>
            </div>
        </div><br />

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table v-middle p-0 m-0 box datatable_class" data-plugin="dataTable">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th class="nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GetAllProduct)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ProductUniqueID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                    <td>
                                        <div class="btn-group-sm">
                                            <button class="btn btn-primary right" onclick="fnLoadProductView(@item.ProductID)" data-toggle="modal" data-target="#ProductManagementModel"><i class="fa fa-edit"></i> </button>
                                            <button class="btn danger m-t" data-toggle="modal" onclick="fnDeletpopupProduct(@item.ProductID)" data-target="#modalProduct"><i class="fa fa-trash"></i></button>

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="divProductManagementModel">

        </div>
    </div>
</div>
<!-- .modal -->
<div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <!-- /.modal-content -->
        <div id="DivModelDeleteContent">

        </div>
    </div>
</div>
<!-- / .modal -->
