﻿@model Accounting.Web.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <title>Vairams :: FINANCE :: Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Vairams Group">
    <meta name="author" content="Altascio">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <style type="text/css">
        .auth-box .top img {
            width: 178px;
        }
    </style>
</head>

<body class="theme-cyan">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        @*<img src="~/assets/images/kaspon-logo.png" alt="altascio" />*@
                        <img src="~/assets/images/Vairams_Logo.JPG" alt="altascio" />
                        @*<img src="~/favicon.ico" alt="altascio" />*@
                    </div>
                    <div class="card cardbluebackgroud">
                        <div class="header">
                            <p class="lead">Login to your account</p>
                        </div>
                        <div class="body">
                            @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <span>Legal Entity</span>
                                    <select id="LegalEntityID" name="LegalEntityID" onchange="fnBindLegalEntityProjectMappingByLegalEntityID()" class="form-control">
                                        <option value="0">Select</option>
                                        @foreach (var item in @ViewBag.AllLegalEntity)
                                        {
                                            <option value="@item.EntityID">@item.Name</option>
                                        }
                                    </select>
                                    <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
                                </div>

                                <div class="form-group">
                                    <span>Branch</span>
                                    <select id="ProfitCentreID" name="ProfitCentreID" onchange="fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreID()" class="form-control">
                                        <option value="0">Select</option>

                                    </select>
                                    @*<span style="color:red;display:none;" id="spn_ProfitCentre">Please select Profit Centre</span>*@
                                </div>

                                <div class="form-group" style="display:none;">
                                    <span>Location</span>
                                    <select id="LocationID" name="LocationID" class="form-control">
                                        <option value="0">Select</option>
                                    </select>
                                    @*<span style="color:red;display:none;" id="spn_ProfitCentre">Please select Location</span>*@
                                </div>

                                <div class="form-group">
                                    <span>User name</span>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", tabindex = 4, placeholder = "User name", maxlength = 50 })
                                    <span style="color:red;display:none;" id="spn_UserName">Please enter User name</span>
                                </div>

                                <div class="form-group">
                                    <span>Password</span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", tabindex = 5, placeholder = "Password", maxlength = 25 })
                                    <span style="color:red;display:none;" id="spn_Password">Please enter Password</span>
                                </div>

                                <button type="submit" id="btn_Submit" title="Sign in" class="btn btn-primary">Sign in</button>
                                @*<div class="form-group">
                                        <label for="UserName" class="control-label sr-only">User Name</label>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", tabindex = 1, @placeholder = "User Name" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "form-error-msg" })
                                    </div>
                                    <div class="form-group">
                                        <label for="Password" class="control-label sr-only">Password</label>
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", tabindex = 2, @type = "Password", @placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-error-msg" })
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sign in</button>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
    <script>
        function fnBindLegalEntityProjectMappingByLegalEntityID() {
            //alert("sdfsdf");
            $("#ProfitCentreID").html('');
            $("#ProfitCentreID").append($('<option></option>').val(0).html("Select"));
            $("#LocationID").html('');
            $("#LocationID").append($('<option></option>').val(0).html("Select"));
            //$("#ddl_Unit").html('');
            //$("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
            //$("#ddl_Project").html('');
            //$("#ddl_Project").append($('<option></option>').val(0).html("Select"));
            var LegalEntityID = $("#LegalEntityID");
            // alert(LegalEntityID.val());
            if (Number(LegalEntityID.val()) != 0) {
                var LegalEntityid = Number(LegalEntityID.val());
                //alert(LegalEntityid);
                $.ajax({
                    url: "/Account/BindLegalEntityProfitCentreMappingByLegalEntityID?EntityID=" + LegalEntityid,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        //alert(msg);
                        $.each(msg, function (x, v) {
                            $("#ProfitCentreID").append($('<option></option>').val(v.profitCentreID).html(v.profitCentreName));
                        })
                    },
                    failure: function (response) {
                        //alert(response);
                    },
                    error: function (response) {
                        //alert(response);
                    }
                });
            }
            //fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
        }
        function fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreID() {
            //alert("sdfsdf");

            $("#LocationID").html('');
            $("#LocationID").append($('<option></option>').val(0).html("Select"));
            // $("#ddl_Unit").html('');
            //$("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
            // $("#ddl_Project").html('');
            //$("#ddl_Project").append($('<option></option>').val(0).html("Select"));
            var LegalEntityID = $("#LegalEntityID");
            var ProfitCentreID = $("#ProfitCentreID");
            if (Number(LegalEntityID.val()) != 0) {
                var LegalEntityid = Number(LegalEntityID.val());
                var ProfitCentreid = Number(ProfitCentreID.val());
                $.ajax({
                    url: "/Account/BindLegalEntityLocationMappingByLegalEntityIDProfitCentreID?EntityID=" + LegalEntityid + "&ProfitCentreID=" + ProfitCentreid,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {

                        //alert(msg);
                        $.each(msg, function (x, v) {
                            $("#LocationID").append($('<option></option>').val(v.locationID).html(v.locationName));
                        })
                    },

                    failure: function (response) {
                        //alert(response);
                    },
                    error: function (response) {
                        //  alert(response);
                    }
                });
            }
            //fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
        }

        //$("#btn_Submit").click(function () {

        //    if (fnValidate()) {
        //        var LegalEntityID = $("#LegalEntityID"),
        //            ProfitCentreID = $("#ProfitCentreID"),
        //            LocationID = $("#LocationID"),
        //            UserName = $("#UserName"),
        //            Password = $("#Password"),
        //            data = {};
        //        data["LegalEntityID"] = parseInt(LegalEntityID.val());
        //        data["ProfitCentreID"] = parseInt(ProfitCentreID.val());
        //        data["LocationID"] = parseInt(LocationID.val());
        //        data["UserName"] = UserName.val();
        //        data["Password"] = Password.val();
        //        // alert("sdfsf1");
        //        $.ajax({
        //            url: "/Account/SignIn",
        //            type: "POST",
        //            data: JSON.stringify(data),
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            success: function (msg) {
        //                window.location.href = "/User/Index";
        //            },
        //            error: function (msg) {

        //            }
        //        });
        //    }
        //    else {
        //        return false;
        //    }
        //});
        function fnValidate() {
            debugger
            event.preventDefault();
            var UserName = $("#UserName"),
                Password = $("#Password"),
                LegalEntityID = $("#LegalEntityID"),
                isValid = true,
                spn_UserName = $("#spn_UserName"),
                spn_Password = $("#spn_Password"),
                spn_LegalEntity = $("#spn_LegalEntity");
            spn_LegalEntity.hide();
            spn_UserName.hide();
            spn_Password.hide();
            alert(isValid);
            alert(LegalEntityID.val());
            if (LegalEntityID.val() == 0) {
                spn_LegalEntity.show();
                isValid = false;
            }
            if (UserName.val() == "") {
                spn_UserName.show();
                isValid = false;
            }
            if (Password.val() == "") {
                spn_Password.show();
                isValid = false;
            }

            return isValid;
        }
    </script>

</body>
</html>
