﻿@model Accounting.Web.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    @*<title>Vairams :: FINANCE :: Login</title>*@
    <title>Vairams :: Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Vairams Group">
    <meta name="author" content="Altascio">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
</head>

<body class="theme-cyan">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        <img src="~/assets/images/Vairams_Logo.JPG" alt="altascio"/>
                          @*<img src="~/assets/images/kaspon-logo.png"  alt="altascio"/>*@

                        @*<img src="~/favicon.ico" alt="altascio" />*@
                    </div>
                    <div class="card cardbluebackgroud">
                        <div class="header">
                            <p class="lead">Login to your account</p>
                        </div>
                        <div class="body">
                            @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
                            {
                            <div class="form-group">
                                <label for="UserName" class="control-label sr-only">User Name</label>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", tabindex = 1, @placeholder = "User Name" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "form-error-msg" })
                            </div>
                            <div class="form-group">
                                <label for="Password" class="control-label sr-only">Password</label>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", tabindex = 2, @type = "Password", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-error-msg" })
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</body>
</html>
