﻿@model Accounting.Web.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <title>Vairams :: FINANCE :: Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Vairams Group">
    <meta name="author" content="Altascio">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
</head>

<body class="theme-cyan">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        <img src="~/assets/images/Vairams_Logo.JPG" alt="altascio" />
                        @*<img src="~/assets/images/kaspon-logo.png" alt="altascio" />*@
                        @*<img src="~/favicon.ico" alt="altascio" />*@
                    </div>
                    <div class="card cardbluebackgroud">
                        <div class="header">
                            <p class="lead">Login to your account</p>
                        </div>
                        <div class="body">
                            @*<a href="http://202.65.131.134:81/Account/Login/" class="btn btn-primary" title="LMS">LMS</a>
        <a href="http://202.65.131.134/Account/Login/" class="btn btn-primary" title="Finance">Finance</a>*@

                            <a href="https://lms.vairamsgroup.in:85/" class="btn btn-primary" title="LMS">LMS</a>
                            <a href="https://account.vairamsgroup.in:84/Account/Login/" class="btn btn-primary" title="Finance">Finance</a>

                           

                        </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    <!-- END WRAPPER -->
    

</body>
</html>
