﻿@model Accounting.Web.Models.DBModels.UserModel

<div id="divResult">
    <div class="modal-header">
        <h4 class="title">Add User</h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-lg-4">
                <div class="form-group">
                    <span>First name</span>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", tabindex = 1, placeholder = "First name", maxlength = 50 })
                    <span style="color:red;display:none;" id="spn_FirstName">Please enter First name</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <span>Last name</span>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", tabindex = 2, placeholder = "Last name", maxlength = 50 })
                    <span style="color:red;display:none;" id="spn_LastName">Please enter Last name</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <span>Email</span>
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", tabindex = 3, placeholder = "Email", maxlength = 70 })
                    <span style="color:red;display:none;" id="spn_EmailAddress">Please enter valid Email</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <span>Role</span>
                    <select id="ddl_Role" class="form-control">
                        <option value="0">Select</option>
                        @foreach (var item in @ViewBag.AllRoles)
                        {
                            <option value="@item.RoleID">@item.RoleName</option>
                        }
                    </select>
                    <span style="color:red;display:none;" id="spn_Role">Please select Role</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <span>User name</span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", tabindex = 4, placeholder = "User name", maxlength = 50 })
                    <span style="color:red;display:none;" id="spn_UserName">Please enter User name</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <span>Password</span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", tabindex = 5, placeholder = "Password", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_Password">Please enter Password name</span>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="form-group">
                    <span>Address</span>
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", tabindex = 6, placeholder = "Address", maxlength = 200 })
                    <span style="color:red;display:none;" id="spn_Address">Please enter Address</span>
                </div>

            </div>
            <div style="display:none;">
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Corporate Group</span>
                        <select id="ddl_CorporateGroup" onchange="fnBindBusinessGroupEntityByCorporateGroupID()" class="form-control">
                            <option value="0">Select</option>
                            @foreach (var item in @ViewBag.AllCorporateGroup)
                            {
                                <option value="@item.EntityID">@item.Name</option>
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_CorporateGroup">Please select Corporate Group</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Business Group</span>
                        <select id="ddl_BusinessGroup" onchange="fnBindVerticalGroupByBusinessGroupID()" class="form-control">
                            <option value="0">Select</option>
                            @foreach (var item in @ViewBag.AllBusinessGroup)
                            {
                                <option value="@item.EntityID">@item.Name</option>
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_CorporateGroup">Please select Business Group</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Vertical Group</span>
                        <select id="ddl_VerticalGroup" onchange="fnBindLegalEntityByVerticalGroupID()" class="form-control">
                            <option value="0">Select</option>
                            @foreach (var item in @ViewBag.AllVerticalGroup)
                            {
                                <option value="@item.EntityID">@item.Name</option>
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_VerticalGroup">Please select Vertical Group</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Legal Entity</span>
                        <select id="ddl_LegalEntity" onchange="fnBindLegalEntityProjectMappingByLegalEntityID()" class="form-control">
                            <option value="0">Select</option>
                            @foreach (var item in @ViewBag.AllLegalEntity)
                            {
                                <option value="@item.EntityID">@item.Name</option>
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Profit Centre</span>
                        <select id="ddl_ProfitCentre" onchange="fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreID()" class="form-control">
                            <option value="0">Select</option>

                        </select>
                        <span style="color:red;display:none;" id="spn_ProfitCentre">Please select Profit Centre</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Location</span>
                        <select id="ddl_Location" onchange="fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationID()" class="form-control">
                            <option value="0">Select</option>
                        </select>
                        <span style="color:red;display:none;" id="spn_ProfitCentre">Please select Location</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Unit</span>
                        <select id="ddl_Unit" onchange="fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID()" class="form-control">
                            <option value="0">Select</option>

                        </select>
                        <span style="color:red;display:none;" id="spn_ProfitCentre">Please select Unit</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Project</span>
                        <select id="ddl_Project" class="form-control">
                            <option value="0">Select</option>
                        </select>
                        <span style="color:red;display:none;" id="spn_Project">Please select Project</span>
                    </div>

                </div>
                </div>
            </div>
        </div>
    <div class="modal-footer">
        <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
    </div>
</div>
<script type="text/javascript">
    function fnBindBusinessGroupEntityByCorporateGroupID() {
         $("#ddl_ProfitCentre").html('');
        $("#ddl_ProfitCentre").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Location").html('');
        $("#ddl_Location").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Project").html('');
        $("#ddl_Project").append($('<option></option>').val(0).html("Select"));
         $("#ddl_LegalEntity").html('');
        $("#ddl_LegalEntity").append($('<option></option>').val(0).html("Select"));
          $("#ddl_VerticalGroup").html('');
        $("#ddl_VerticalGroup").append($('<option></option>').val(0).html("Select"));
         $("#ddl_BusinessGroup").html('');
        $("#ddl_BusinessGroup").append($('<option></option>').val(0).html("Select"));
        BindEntityByParentEntityID("ddl_BusinessGroup", $("#ddl_CorporateGroup").val());
    }
    function fnBindVerticalGroupByBusinessGroupID() {
         $("#ddl_ProfitCentre").html('');
        $("#ddl_ProfitCentre").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Location").html('');
        $("#ddl_Location").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Project").html('');
        $("#ddl_Project").append($('<option></option>').val(0).html("Select"));
         $("#ddl_LegalEntity").html('');
        $("#ddl_LegalEntity").append($('<option></option>').val(0).html("Select"));
          $("#ddl_VerticalGroup").html('');
        $("#ddl_VerticalGroup").append($('<option></option>').val(0).html("Select"));
        BindEntityByParentEntityID("ddl_VerticalGroup", $("#ddl_BusinessGroup").val());
    }
    function fnBindLegalEntityByVerticalGroupID() {
         $("#ddl_ProfitCentre").html('');
        $("#ddl_ProfitCentre").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Location").html('');
        $("#ddl_Location").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Project").html('');
        $("#ddl_Project").append($('<option></option>').val(0).html("Select"));
          $("#ddl_LegalEntity").html('');
        $("#ddl_LegalEntity").append($('<option></option>').val(0).html("Select"));
        BindEntityByParentEntityID("ddl_LegalEntity", $("#ddl_VerticalGroup").val());
    }
    function BindEntityByParentEntityID(ddlcontrolid,controlid) {
        //var ddl_LegalEntity = $("#" + controlid);
         if (Number(controlid) != 0) {
             //var LegalEntityid = Number(ddl_LegalEntity.val());
             $.ajax({
                 url: "/User/BindEntityByParentEntityID?ParentEntityID=" + controlid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {
                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#"+ddlcontrolid).append($('<option></option>').val(v.entityID).html(v.name));
                     })
                 },
                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         }
    }
        function fnBindLegalEntityProjectMappingByLegalEntityID() {
        //alert("sdfsdf");
        $("#ddl_ProfitCentre").html('');
        $("#ddl_ProfitCentre").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Location").html('');
        $("#ddl_Location").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Project").html('');
        $("#ddl_Project").append($('<option></option>').val(0).html("Select"));
        var ddl_LegalEntity = $("#ddl_LegalEntity");
         if (Number(ddl_LegalEntity.val()) != 0) {
             var LegalEntityid = Number(ddl_LegalEntity.val());
             $.ajax({
                 url: "/User/BindLegalEntityProfitCentreMappingByLegalEntityID?EntityID=" + LegalEntityid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {
                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#ddl_ProfitCentre").append($('<option></option>').val(v.profitCentreID).html(v.profitCentreName));
                     })
                 },
                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         }
         fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
    }
    function fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreID() {
        //alert("sdfsdf");
          
        $("#ddl_Location").html('');
        $("#ddl_Location").append($('<option></option>').val(0).html("Select"));
         $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
         $("#ddl_Project").html('');
        $("#ddl_Project").append($('<option></option>').val(0).html("Select"));
        var ddl_LegalEntity = $("#ddl_LegalEntity");
        var ddl_ProfitCentre = $("#ddl_ProfitCentre");
         if (Number(ddl_LegalEntity.val()) != 0) {
             var LegalEntityid = Number(ddl_LegalEntity.val());
             var ProfitCentreid = Number(ddl_ProfitCentre.val());
             $.ajax({
                 url: "/User/BindLegalEntityLocationMappingByLegalEntityIDProfitCentreID?EntityID=" + LegalEntityid+"&ProfitCentreID="+ProfitCentreid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {

                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#ddl_Location").append($('<option></option>').val(v.locationID).html(v.locationName));
                     })
                 },

                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         }
         fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
    }
     function fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationID() {
        //alert("sdfsdf");
        $("#ddl_Unit").html('');
         $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
         $("#ddl_Project").html('');
        $("#ddl_Project").append($('<option></option>').val(0).html("Select"));
        var ddl_LegalEntity = $("#ddl_LegalEntity");
         var ddl_ProfitCentre = $("#ddl_ProfitCentre");
         var ddl_Location = $("#ddl_Location");
         if (Number(ddl_LegalEntity.val()) != 0) {
             var LegalEntityid = Number(ddl_LegalEntity.val());
             var ProfitCentreid = Number(ddl_ProfitCentre.val());
             var Locationid = Number(ddl_Location.val());
             $.ajax({
                 url: "/User/BindLegalEntityUnitMappingByLegalEntityIDProfitCentreIDLocationID?EntityID=" + LegalEntityid+"&ProfitCentreID="+ProfitCentreid+"&LocationID="+Locationid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {

                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#ddl_Unit").append($('<option></option>').val(v.unitID).html(v.unitName));
                     })
                 },

                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         }
         fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
    }
    
    function fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID() {
        $("#ddl_Project").html('');
        $("#ddl_Project").append($('<option></option>').val(0).html("Select"));
        var ddl_LegalEntity = $("#ddl_LegalEntity");
        var ddl_ProfitCentre = $("#ddl_ProfitCentre");
        var ddl_Location = $("#ddl_Location");
        var ddl_Unit = $("#ddl_Unit");
        var ddl_Project = $("#ddl_Project");
       // var bindstatus = false;
        if (Number(ddl_LegalEntity.val()) != 0) {
               var LegalEntityid = Number(ddl_LegalEntity.val());
            var ProfitCentreid = Number(ddl_ProfitCentre.val());
            var Locationid = Number(ddl_Location.val());
            var Unitid = Number(ddl_Unit.val());
            //alert(GroupType);
             $.ajax({
                 url: "/User/BindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID?EntityID=" + LegalEntityid+"&ProfitCentreID="+ProfitCentreid+"&LocationID="+Locationid+"&UnitID="+Unitid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {

                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#ddl_Project").append($('<option></option>').val(v.projectID).html(v.projectName));
                     })
                 },

                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         
        }
       
    }
    $("#btn_Submit").click(function () {
        
        if (fnValidate()) {
            var ddl_CorporateGroup = $("#ddl_CorporateGroup"),
                ddl_BusinessGroup = $("#ddl_BusinessGroup"),
                ddl_VerticalGroup = $("#ddl_VerticalGroup"),
                ddl_LegalEntity = $("#ddl_LegalEntity"),
                ddl_ProfitCentre = $("#ddl_ProfitCentre"),
                ddl_Location = $("#ddl_Location"),
                ddl_Unit = $("#ddl_Unit"),
                ddl_Project = $("#ddl_Project"),
                ddl_Role = $("#ddl_Role"),
                FirstName = $("#FirstName"),
                LastName = $("#LastName"),
                EmailAddress = $("#EmailAddress"),
                UserName = $("#UserName"),
                Password = $("#Password"),
                Address = $("#Address"),
                data = {};
            data["CorporateGroupID"] = parseInt(ddl_CorporateGroup.val());
            data["BusinessGroupID"] = parseInt(ddl_BusinessGroup.val());
            data["VerticalGroupID"] = parseInt(ddl_VerticalGroup.val());
            data["LegalEntityID"] = parseInt(ddl_LegalEntity.val());
            data["ProfitCentreID"] = parseInt(ddl_ProfitCentre.val());
            data["LocationID"] = parseInt(ddl_Location.val());
            data["UnitID"] = parseInt(ddl_Unit.val());
            data["ProjectID"] = parseInt(ddl_Project.val());
            data["RoleID"] = parseInt(ddl_Role.val());
            data["FirstName"] = FirstName.val();
            data["LastName"] = LastName.val();
            data["EmailAddress"] = EmailAddress.val();
            data["UserName"] = UserName.val();
            data["Password"] = Password.val();
            data["Address"] = Address.val();
           // alert("sdfsf1");
            $.ajax({
                url: "/User/InsertUser",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    window.location.href = "/User/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
    function fnValidate() {

        event.preventDefault();
        var FirstName = $("#FirstName"),
            LastName = $("#LastName"),
            EmailAddress = $("#EmailAddress"),
            UserName = $("#UserName"),
            Password = $("#Password"),
            Address = $("#Address"),
            ddl_LegalEntity = $("#ddl_LegalEntity"),
            ddl_Role = $("#ddl_Role"),
            isValid = true,
            spn_FirstName = $("#spn_FirstName"),
            spn_LastName = $("#spn_LastName"),
            spn_EmailAddress = $("#spn_EmailAddress"),
            spn_UserName = $("#spn_UserName"),
            spn_Password = $("#spn_Password"),
            spn_Address = $("#spn_Address"),
            spn_LegalEntity = $("#spn_LegalEntity"),
          spn_Role = $("#spn_Role");
        spn_LegalEntity.hide();
        spn_Role.hide();
        spn_FirstName.hide();
        spn_LastName.hide();
        spn_EmailAddress.hide();
        spn_UserName.hide();
        spn_Password.hide();
        spn_Address.hide();
         //alert(isValid);
        if (ddl_Role.val() == 0) {
            spn_Role.show();
            isValid = false;
        }
        // if (ddl_LegalEntity.val() == 0) {
        //    spn_LegalEntity.show();
        //    isValid = false;
        //}
        if (FirstName.val() == "") {
            spn_FirstName.show();
            isValid = false;
        }
        if (LastName.val() == "") {
            spn_LastName.show();
            isValid = false;
        }
        if (EmailAddress.val() == "") {
            spn_EmailAddress.show();
            isValid = false;
        }
        else {
            //alert(validateEmail(EmailAddress.val()));
            if (validateEmail(EmailAddress.val()) == false) {
                spn_EmailAddress.show();
                isValid = false;
                //alert(isValid);
            }
        }
        if (UserName.val() == "") {
            spn_UserName.show();
            isValid = false;
        }
        if (Password.val() == "") {
            spn_Password.show();
            isValid = false;
        }
        if (Address.val() == "") {
            spn_Address.show();
            isValid = false;
        }
       
        return isValid;
    }
</script>



