﻿@model Accounting.Web.Models.DBModels.LegalEntityProfitCentreMappingModel
<style>
    .checkboxlist {
        border: 1px solid #ced4da;
        border-collapse: collapse;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        max-height:150px;
        overflow-y:auto;
    }

        .checkboxlist label:first-child {
            margin-top: 10px;
        }

        .checkboxlist label {
            padding-left: 10px;
        }
</style>

<div id="divResult">
    <div class="modal-header">
        <h4 class="title">Add LegalEntity ProfitCentre Mapping</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <select id="ddl_LegalEntity" onchange="fnBindLegalEntityProfitCentreMappingByLegalEntityID()" class="form-control">
                @*onchange="fnBindLegalEntityProfitCentreMapping()"*@
                <option value="0">Legal Entity</option>
                @foreach (var item in @ViewBag.AllLegalEntity)
                {
                    <option value="@item.EntityID">@item.Name</option>
                }
            </select>
            <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
        </div>
        <div class="form-group clearfix">
            <span>Branch</span>
            <br />
            <div class="checkboxlist">
                @foreach (var item in @ViewBag.AllProfitCentre)
                {
                    <label class="fancy-checkbox element-left">
                        <input id="Profitcentre_@item.ProfitCentreID" value="@item.ProfitCentreID" class="ProfitcentreID" type="checkbox">
                        <span>@item.ProfitCentreName</span>
                    </label><br />
                }
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
    </div>
</div>
<script type="text/javascript">
     function fnBindLegalEntityProfitCentreMappingByLegalEntityID() {
                        $(".ProfitcentreID").each(function (i) {
                         $(this).removeAttr("checked");
                        });
                    var ddl_LegalEntity = $("#ddl_LegalEntity");
                    if (Number(ddl_LegalEntity.val()) != 0) {
                        var LegalEntityid = Number(ddl_LegalEntity.val());
                        //alert(GroupType);
                        
                        $.ajax({
                            url: "/LegalEntityProfitCentreMapping/BindLegalEntityProfitCentreMappingByLegalEntityID?ID="+ LegalEntityid,
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                //alert(msg)
                                $(".ProfitcentreID").each(function (index) {
                                    var ProfitCentreID = $(this).val();
                                    var stas = false;
                                    $.each(msg, function (x, v) {
                                        if (v.profitCentreID == ProfitCentreID) {
                                            stas = true; 
                                        }
                                    });
                                    if (stas == true) {
                                        $(this).attr("checked", true);
                                    }
                                    else {
                                        $(this).removeAttr("checked");
                                    }
                            
               
            });
                               
                            },

                            failure: function (response) {

                            },
                            error: function (response) {

                            }
                        });
                    }
                   

            }
    $("#btn_Submit").click(function () {

        if (fnValidate()) {
            var ddl_LegalEntity = $("#ddl_LegalEntity"),
                //CategoryName = $("#CategoryName"),
                data = {},
                headers = [],
                fields = [];

            data["LegalEntityID"] = parseInt(ddl_LegalEntity.val());
            headers.push("ProfitCentreID");
            $(".ProfitcentreID").each(function (index) {
                if ($(this).is(':checked') == true) {
                   // alert($(this).is(':checked'));
                    //$(this).val();
                    var h2 = {};
                    h2["ProfitCentreID"] = $(this).val();
                    fields.push(h2);
                }
            });
            data["ProfitCentreList"] = fields;
            //alert(data);
            //data["CategoryName"] = CategoryName.val();
            $.ajax({
                url: "/LegalEntityProfitCentreMapping/InsertLegalEntityProfitCentreMapping",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    window.location.href = "/LegalEntityProfitCentreMapping/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });

    
    function fnValidate() {

        event.preventDefault();

        var ddl_LegalEntity = $("#ddl_LegalEntity"),
            isValid = true,
            spn_LegalEntity = $("#spn_LegalEntity");
        spn_LegalEntity.hide();
        //spn_name.hide();
        if (ddl_LegalEntity.val() == 0) {
            spn_LegalEntity.show();
            isValid = false;
        }


        return isValid;
    }
</script>




