﻿@model Accounting.Web.Models.DBModels.LocationModel

<div id="divResult">
    <div class="modal-header">
        <h4 class="title">Add Location</h4>
    </div>
    <div class="modal-body">
        @*<div class="form-group">
            <select id="ddl_LegalEntity" class="form-control">

                <option value="0">Legal Entity</option>
                @foreach (var item in @ViewBag.AllMajorCategory)
                {
                    <option value="@item.MajorLocationID">@item.MajorLocationName</option>
                }
            </select>
            <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
        </div>*@
        <div class="row clearfix">
            <div class="col-lg-4">
                <div class="form-group">
                    <span>Location name</span>
                    @*<span>District name</span><span class="form-error-msg">*</span>*@
                    @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control", tabindex = 2, placeholder = "Location name" })
                    <span style="color:red;display:none;" id="spn_LocationName">Please enter Location name</span>
                    @*<input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />*@
                </div>
            </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Location Code</span>
                        @Html.TextBoxFor(m => m.Locationslcode, new { @class = "form-control", tabindex = 8, placeholder = "Location Code", maxlength = 4 })
                        <span style="color:red;display:none;" id="spn_Locationslcode">Please enter Location Code</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <span>Address</span>
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", tabindex = 4, placeholder = "Address", maxlength = 200 })
                        <span style="color:red;display:none;" id="spn_EntityAddress">Please enter Address</span>
                    </div>
                </div>
            
        </div>
        <div class="row clearfix ">
            <div class="col-lg-12 ">
                <h6>Statutory Info :</h6>
            </div>
        </div>
        <div class="row clearfix ">
            <div class="col-lg-6">
                <div class="form-group">
                    <span>GST IN</span>
                    @Html.TextBoxFor(m => m.GSTNO, new { @class = "form-control", tabindex = 5, placeholder = "GST IN", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_GSTIN">Please enter GST IN</span>
                </div>
            </div>
            @*<div class="col-lg-6">
                <div class="form-group">
                    <span>Statutory Info</span><span class="form-error-msg">*</span>
                    @Html.TextBoxFor(m => m.StatutoryInfo, new { @class = "form-control", tabindex = 3 })
                    @Html.ValidationMessageFor(m => m.StatutoryInfo, "", new { @class = "form-error-msg" })
                </div>
            </div>*@
            <div class="col-lg-6">
                <div class="form-group">
                    <span>CIN NO</span>
                    @Html.TextBoxFor(m => m.CINNO, new { @class = "form-control", tabindex = 6, placeholder = "CIN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_CINNO">Please enter CIN NO</span>
                </div>
            </div>
        </div>
        <div class="row clearfix ">
            <div class="col-lg-6">
                <div class="form-group">
                    <span>PAN NO</span>
                    @Html.TextBoxFor(m => m.PANNO, new { @class = "form-control", tabindex = 7, placeholder = "PAN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_PANNO">Please enter PAN NO</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <span>TAN NO</span>
                    @Html.TextBoxFor(m => m.TANNO, new { @class = "form-control", tabindex = 8, placeholder = "TAN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_TANNO">Please enter TAN NO</span>
                </div>
            </div>


        </div>
    </div>
            <div class="modal-footer">
                <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <script type="text/javascript">
            $("#btn_Submit").click(function () {
                if (fnValidate()) {
                    // var hidLegalEntity = $("#hidLegalEntity"),
                    var LocationName = $("#LocationName"),
                          Address = $("#Address"),
                            GSTNO = $("#GSTNO"),
                            CINNO = $("#CINNO"),
                            PANNO = $("#PANNO"),
                            TANNO = $("#TANNO"),
                            Locationslcode = $("#Locationslcode"),
                        data = {};
                    // data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                    data["LocationName"] = LocationName.val();
                    data["Address"] = Address.val();
                            data["GSTNO"] = GSTNO.val();
                            data["CINNO"] = CINNO.val();
                            data["PANNO"] = PANNO.val();
                            data["TANNO"] = TANNO.val();
                        data["Locationslcode"] = Locationslcode.val();
                    $.ajax({
                        url: "/Location/InsertLocation",
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            window.location.href = "/Location/Index";
                        },
                        error: function (msg) {

                        }
                    });
                }
                else {
                    return false;
                }
            });
            function fnValidate() {

                event.preventDefault();
                var LocationName = $("#LocationName"),
                    // ddl_LegalEntity = $("#ddl_LegalEntity"),
                    isValid = true,
                    spn_LocationName = $("#spn_LocationName");
                //  spn_LegalEntity = $("#spn_LegalEntity");
                //spn_LegalEntity.hide();
                spn_LocationName.hide();
                //if (ddl_LegalEntity.val() == 0) {
                //    spn_LegalEntity.show();
                //    isValid = false;
                //}
                if (LocationName.val() == "") {
                    spn_LocationName.show();
                    isValid = false;
                }

                return isValid;
            }
        </script>



