﻿
<div class="modal-content flip-y">
    <div class="modal-body text-center">
        <p class="py-3 mt-3"><i class="fa fa-remove text-warning fa-3x"></i></p>
        <p>Are you sure to delete your Location?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn white" data-dismiss="modal">No</button>
        <button type="button" class="btn danger" data-dismiss="modal" onclick="fnDeleteLocation(@ViewBag.LocationID)">Yes</button>
    </div>
</div>