﻿@*@model IEnumerable<Accounting.Web.Models.DBModels.LocationModel>*@
@model Accounting.Web.Models.ViewModels.LocationViewModel
@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Location</h2>
                    @*<ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Payments</li>
                        <li class="breadcrumb-item active">Payment Invoice</li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Location List</h2>
                        <ul class="header-dropdown">
                            @*<li><a class="tab_btn" href="javascript:void(0);" title="Weekly">W</a></li>
                                <li><a class="tab_btn" href="javascript:void(0);" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" href="javascript:void(0);" title="Yearly">Y</a></li>*@
                            <li>
                                @*<button class="btn btn-primary float-right" onclick="fnLoadProductAdd()" data-toggle="modal" data-target="#ProductManagementModel"><i class="fa fa-plus-square"></i> <span>New Product</span></button>*@
                                <button class="btn btn-primary" id="btn_addnew" style="float:right;" onclick="fnAddLocation()" data-toggle="modal" data-target="#LocationModule"><i class="fa fa-plus-square"></i> <span>New Location</span></button>
                            </li>
                            <li class="dropdown" style="display:none;">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Add New</a></li>
                                    @*<li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom table-striped" data-plugin="dataTable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Location name</th>
                                        <th>
                                            Code
                                        </th>
                                        <th>
                                            Address
                                        </th>

                                        @*<th>
            TANNO
        </th>
        <th>
            CINNO
        </th>*@
                                        <th>
                                            PANNO
                                        </th>
                                        <th>
                                            GSTNO
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GetAllLocation)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.LocationName)</td>
                                        <td>
                                            @item.Locationslcode
                                        </td>
                                        <td>
                                            @item.Address
                                        </td>
                                        @*<td>
            @item.TANNO
        </td>
        <td>
            @item.CINNO
        </td>*@
                                        <td>
                                            @item.PANNO
                                        </td>
                                        <td>
                                            @item.GSTNO
                                        </td>
                                        <td>
                                            <div class="btn-group-sm">
                                                <button class="btn btn-primary right" onclick="fnLoadLocationEditModel(@item.LocationID)" data-toggle="modal" data-target="#LocationModule"><i class="fa fa-edit"></i></button>
                                                <button class="btn danger m-t" data-toggle="modal" data-target="#LocationdelModule" onclick="fnDeletLocationPopUp(@item.LocationID)"><i class="fa fa-trash"></i> </button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="divProductManagementModel">

            </div>
        </div>
    </div>
    <!-- .modal -->
    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
        <div class="modal-dialog modal-sm">
            <!-- /.modal-content -->
            <div id="DivModelDeleteContent">

            </div>
        </div>
    </div>*@
<div id="LocationModule" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divLocationContent">

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="LocationdelModule" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <!-- /.modal-content -->
        <div id="DivModelDeleteContent">

        </div>
    </div>
</div>


<script type="text/javascript">
    function fnAddLocation() {
        //var ddl_MajorCategory = $("#ddl_MajorCategory");
        //var Id = parseInt(ddl_MajorCategory.val());
        $("#divLocationContent").empty();
        $("#divLocationContent").load("/Location/AddLocation/");
    }
    function fnLoadLocationEditModel(Id) {
        $("#divLocationContent").empty();
        $("#divLocationContent").load("/Location/EditLocation/" + Id);
    }
    function fnDeletLocationPopUp(Id) {
        //  alert($("#DivModelDeleteContent"));
        $("#DivModelDeleteContent").empty();
        $("#DivModelDeleteContent").load("/Location/DeleteLocationmodel/" + Id);
    }
    function fnDeleteLocation(d) {
        $.ajax({
            url: "/Location/DeleteLocation/" + d,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/Location/ShowLocationTableView/" + msg);
                window.location.href = "/Location/Index";
            }
        });
    }

</script>