﻿@model Accounting.Web.Models.DBModels.UnitModel


<div id="divResult">
    <div class="modal-header">
        <h4 class="title">Edit Unit</h4>
    </div>
    <div class="modal-body">
        @*<div class="form-group">
            <select id="hidLegalEntity" class="form-control" disabled="disabled">

                <option value="0">Legal Entity</option>
                @foreach (var item in @ViewBag.AllMajorCategory)
                {
                    if (Convert.ToInt32(Model.LegalEntityID) == item.MajorUnitID)
                    {
                        <option value="@item.MajorUnitID" selected>@item.MajorUnitName</option>
                    }
                    else
                    {
                        <option value="@item.MajorUnitID">@item.MajorUnitName</option>
                    }
                }
            </select>
            <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
        </div>*@
        <div class="row clearfix">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.HiddenFor(m => m.UnitID)
                    @*@Html.HiddenFor(m => m.LegalEntityID)*@
                    @Html.HiddenFor(m => m.CreatedBy)
                    @Html.HiddenFor(m => m.CreatedOn)
                    @Html.HiddenFor(m => m.IsActive)
                    <span>Unit name</span>
                    @Html.TextBoxFor(m => m.UnitName, new { @class = "form-control", tabindex = 1, placeholder = "Unit name" })
                    <span style="color:red;display:none;" id="spn_UnitName">Please enter Unit name</span>
                    @*<input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />*@
                </div>
            </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Unit Code</span>
                        @Html.TextBoxFor(m => m.Unitslcode, new { @class = "form-control", tabindex = 3, placeholder = "Unit Code", maxlength = 4 })
                        <span style="color:red;display:none;" id="spn_Locationslcode">Please enter Unit Code</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <span>Address</span>
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", tabindex = 4, placeholder = "Address", maxlength = 200 })
                        <span style="color:red;display:none;" id="spn_EntityAddress">Please enter Address</span>
                    </div>
                
            </div>
        </div>
        <div class="row clearfix ">
            <div class="col-lg-12 ">
                <h6>Statutory Info :</h6>
            </div>
        </div>
        <div class="row clearfix ">
            <div class="col-lg-6">
                <div class="form-group">
                    <span>GST IN</span>
                    @Html.TextBoxFor(m => m.GSTNO, new { @class = "form-control", tabindex = 5, placeholder = "GST IN", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_GSTIN">Please enter GST IN</span>
                </div>
            </div>
            @*<div class="col-lg-6">
                <div class="form-group">
                    <span>Statutory Info</span><span class="form-error-msg">*</span>
                    @Html.TextBoxFor(m => m.StatutoryInfo, new { @class = "form-control", tabindex = 3 })
                    @Html.ValidationMessageFor(m => m.StatutoryInfo, "", new { @class = "form-error-msg" })
                </div>
            </div>*@
            <div class="col-lg-6">
                <div class="form-group">
                    <span>CIN NO</span>
                    @Html.TextBoxFor(m => m.CINNO, new { @class = "form-control", tabindex = 6, placeholder = "CIN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_CINNO">Please enter CIN NO</span>
                </div>
            </div>
        </div>
        <div class="row clearfix ">
            <div class="col-lg-6">
                <div class="form-group">
                    <span>PAN NO</span>
                    @Html.TextBoxFor(m => m.PANNO, new { @class = "form-control", tabindex = 7, placeholder = "PAN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_PANNO">Please enter PAN NO</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <span>TAN NO</span>
                    @Html.TextBoxFor(m => m.TANNO, new { @class = "form-control", tabindex = 8, placeholder = "TAN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_TANNO">Please enter TAN NO</span>
                </div>
            </div>


        </div>
    </div>
            <div class="modal-footer">
                <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
            </div>
        </div>

        <script type="text/javascript">

            function getdate(str) {
                //alert(str.split(' ')[0]);
                var dat = str.split(' ')[0].split('-');
                return (dat[1] + "/" + dat[0] + "/" + dat[2] + " " + str.split(' ')[1]);
            }

            $("#btn_Submit").click(function () {
                if (fnValidate()) {

                    //var hidLegalEntity = $("#hidLegalEntity"),
                    var UnitID = $("#UnitID"),
                        UnitName = $("#UnitName"),
                         Address = $("#Address"),
                            GSTNO = $("#GSTNO"),
                            CINNO = $("#CINNO"),
                            PANNO = $("#PANNO"),
                            TANNO = $("#TANNO"),
                            Unitslcode = $("#Unitslcode"),
                        CreatedBy = $("#CreatedBy"),
                        CreatedOn = $("#CreatedOn"),
                        IsActive = $("#IsActive"),
                        data = {};
                    //  alert(getdate(CreatedOn.val()));
                    //alert(CreatedOn.val());
                    //var d = new Date(CreatedOn.val());
                    //alert(d);
                    // alert(formatDate(CreatedOn.val()));
                    data["UnitID"] = parseInt(UnitID.val());
                    data["UnitName"] = UnitName.val();
                     data["Address"] = Address.val();
                            data["GSTNO"] = GSTNO.val();
                            data["CINNO"] = CINNO.val();
                            data["PANNO"] = PANNO.val();
                            data["TANNO"] = TANNO.val();
                        data["Unitslcode"] = Unitslcode.val();
                    // data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                    data["CreatedBy"] = parseInt(CreatedBy.val());
                    data["CreatedOn"] = getdate(CreatedOn.val());
                    data["IsActive"] = IsActive.val();
                    $.ajax({
                        url: "/Unit/InsertUnit",
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            window.location.href = "/Unit/Index";
                        },
                        error: function (msg) {

                        }
                    });
                }
                else {
                    return false;
                }
            });
            //$("#btn_Submit").click(function () {
            //    if (fnValidate()) {

            //        var UnitID = $("#UnitID"),
            //            UnitName = $("#UnitName"),
            //            LegalEntityID = $("#LegalEntityID"),
            //            CreatedBy = $("#CreatedBy"),
            //            CreatedOn = $("#CreatedOn"),
            //            IsActive = $("#IsActive"),
            //            data = {};
            //        alert(UnitID.val());
            //        data["UnitID"] = parseInt(UnitID.val());
            //        data["UnitName"] = UnitName.val();
            //        data["LegalEntityID"] = parseInt(LegalEntityID.val());
            //        data["CreatedBy"] = parseInt(CreatedBy.val());
            //        data["CreatedOn"] = CreatedOn.val();
            //        data["IsActive"] = IsActive.val();

            //        $.ajax({
            //            url: "/Unit/InsertUnit",
            //            type: "POST",
            //            data: JSON.stringify(data),
            //            contentType: "application/json; charset=utf-8",
            //            dataType: "json",
            //            success: function (msg) {
            //                //$('#DistrictModule').modal('hide');
            //                //$("#div_tableView").empty();
            //                //$("#div_tableView").load("/District/ShowDistrictTableView/" + StateID.val());
            //                window.Unit.href = "/Unit/Index";
            //            },
            //            error: function (msg) {

            //            }
            //        });
            //    }
            //    else {
            //        return false;
            //    }
            //});
            function fnValidate() {

                event.preventDefault();
                var UnitName = $("#UnitName"),
                    // hidLegalEntity = $("#hidLegalEntity"),
                    isValid = true,
                    spn_UnitName = $("#spn_UnitName");
                //  spn_LegalEntity = $("#spn_LegalEntity");
                // spn_LegalEntity.hide();
                spn_UnitName.hide();
                //if (hidLegalEntity.val() == 0) {
                //    spn_LegalEntity.show();
                //    isValid = false;
                //}
                if (UnitName.val() == "") {
                    spn_UnitName.show();
                    isValid = false;
                }

                return isValid;
            }
        </script>
