﻿@model Accounting.Web.Models.DBModels.AnalyticsModel

    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Add Analytics</h4>
        </div>
        <div class="modal-body">
            @*<div class="form-group">
            <select id="ddl_LegalEntity" class="form-control">

                <option value="0">Legal Entity</option>
                @foreach (var item in @ViewBag.AllMajorCategory)
                {
                    <option value="@item.MajorAnalyticsID">@item.MajorAnalyticsName</option>
                }
            </select>
            <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
        </div>*@
            <div class="form-group">
                @*<span>District name</span><span class="form-error-msg">*</span>*@
                @Html.TextBoxFor(m => m.AnalyticsName, new { @class = "form-control", tabindex = 1, placeholder = "Analytical name" })
                <span style="color:red;display:none;" id="spn_AnalyticsName">Please enter Analytics name</span>
                <input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />
            </div>
            <div class="form-group">
                @*<span>District name</span><span class="form-error-msg">*</span>*@
                @Html.TextBoxFor(m => m.AnalyticsCode, new { @class = "form-control", tabindex = 2, placeholder = "Analytical code" })
                <span style="color:red;display:none;" id="spn_AnalyticsCode">Please enter Analytics code</span>
            </div>
        </div>
            <div class="modal-footer">
                <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    <script type="text/javascript">
    $("#btn_Submit").click(function () {
        if (fnValidate()) {
              var hidLegalEntity = $("#hidLegalEntity"),
                  AnalyticsName = $("#AnalyticsName"),
                AnalyticsCode = $("#AnalyticsCode"),
                data = {};
            data["LegalEntityID"] = parseInt(hidLegalEntity.val());
            data["AnalyticsName"] = AnalyticsName.val();
            data["AnalyticsCode"] = AnalyticsCode.val();
            $.ajax({
                url: "/Analytics/InsertAnalytics",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/Analytics/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
      function fnValidate() {
            
        event.preventDefault();
          var AnalyticsName = $("#AnalyticsName"),
              AnalyticsCode = $("#AnalyticsCode"),
              // ddl_LegalEntity = $("#ddl_LegalEntity"),
              isValid = true,
              spn_AnalyticsName = $("#spn_AnalyticsName");
          spn_AnalyticsCode = $("#spn_AnalyticsCode");
              //  spn_LegalEntity = $("#spn_LegalEntity");
            //spn_LegalEntity.hide();
          spn_AnalyticsName.hide();
          spn_AnalyticsCode.hide();
            //if (ddl_LegalEntity.val() == 0) {
            //    spn_LegalEntity.show();
            //    isvalid = false;
            //}
            if (AnalyticsName.val() == "") {
                spn_AnalyticsName.show();
                isValid = false;
          }
          if (AnalyticsCode.val() == "") {
                spn_AnalyticsCode.show();
                isValid = false;
            }
        
        return isValid;
    }
    </script>



