﻿@model Accounting.Web.Models.DBModels.AnalyticsModel


    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Edit Analytics</h4>
        </div>
        <div class="modal-body">
            @*<div class="form-group">
            <select id="hidLegalEntity" class="form-control" disabled="disabled">

                <option value="0">Legal Entity</option>
                @foreach (var item in @ViewBag.AllMajorCategory)
                {
                    if (Convert.ToInt32(Model.LegalEntityID) == item.MajorAnalyticsID)
                    {
                        <option value="@item.MajorAnalyticsID" selected>@item.MajorAnalyticsName</option>
                    }
                    else
                    {
                        <option value="@item.MajorAnalyticsID">@item.MajorAnalyticsName</option>
                    }
                }
            </select>
            <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
        </div>*@
            <div class="form-group">
                @Html.HiddenFor(m => m.AnalyticsID)
                @Html.HiddenFor(m => m.LegalEntityID)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.CreatedOn)
                @Html.HiddenFor(m => m.IsActive)
                @Html.TextBoxFor(m => m.AnalyticsName, new { @class = "form-control", tabindex = 1, placeholder = "Analytics name" })
                <span style="color:red;display:none;" id="spn_AnalyticsName">Please enter Analytics name</span>
                <input type="hidden" id="hidLegalEntity" value="@ViewBag.LegalEntity" />
            </div>
            <div class="form-group">
                @*<span>District name</span><span class="form-error-msg">*</span>*@
                @Html.TextBoxFor(m => m.AnalyticsCode, new { @class = "form-control", tabindex = 2, placeholder = "Analytical code" })
                <span style="color:red;display:none;" id="spn_AnalyticsCode">Please enter Analytics code</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
        </div>
    </div>

    <script type="text/javascript">

        function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split(' ')[0].split('-');
            return (dat[1] + "/" + dat[0] + "/" + dat[2] + " " + str.split(' ')[1]);
        }

         $("#btn_Submit").click(function () {
             if (fnValidate()) {

                var hidLegalEntity = $("#hidLegalEntity"),
                AnalyticsID = $("#AnalyticsID"),
                    AnalyticsName = $("#AnalyticsName"),
                 AnalyticsCode = $("#AnalyticsCode"),
                CreatedBy = $("#CreatedBy"),
                CreatedOn = $("#CreatedOn"),
                IsActive = $("#IsActive"),
                     data = {};
               //  alert(getdate(CreatedOn.val()));
                 //alert(CreatedOn.val());
                 //var d = new Date(CreatedOn.val());
                 //alert(d);
                // alert(formatDate(CreatedOn.val()));
                 data["AnalyticsID"] = parseInt(AnalyticsID.val());
                 data["AnalyticsName"] = AnalyticsName.val();
                 data["AnalyticsCode"] = AnalyticsCode.val();
                 data["LegalEntityID"] = parseInt(hidLegalEntity.val());
                data["CreatedBy"] = parseInt(CreatedBy.val());
                 data["CreatedOn"] = getdate(CreatedOn.val());
            data["IsActive"] = IsActive.val();
            $.ajax({
                url: "/Analytics/InsertAnalytics",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/Analytics/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
    //$("#btn_Submit").click(function () {
    //    if (fnValidate()) {
            
    //        var AnalyticsID = $("#AnalyticsID"),
    //            AnalyticsName = $("#AnalyticsName"),
    //            LegalEntityID = $("#LegalEntityID"),
    //            CreatedBy = $("#CreatedBy"),
    //            CreatedOn = $("#CreatedOn"),
    //            IsActive = $("#IsActive"),
    //            data = {};
    //        alert(AnalyticsID.val());
    //        data["AnalyticsID"] = parseInt(AnalyticsID.val());
    //        data["AnalyticsName"] = AnalyticsName.val();
    //        data["LegalEntityID"] = parseInt(LegalEntityID.val());
    //        data["CreatedBy"] = parseInt(CreatedBy.val());
    //        data["CreatedOn"] = CreatedOn.val();
    //        data["IsActive"] = IsActive.val();
            
    //        $.ajax({
    //            url: "/Analytics/InsertAnalytics",
    //            type: "POST",
    //            data: JSON.stringify(data),
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: function (msg) {
    //                //$('#DistrictModule').modal('hide');
    //                //$("#div_tableView").empty();
    //                //$("#div_tableView").load("/District/ShowDistrictTableView/" + StateID.val());
    //                window.location.href = "/Analytics/Index";
    //            },
    //            error: function (msg) {

    //            }
    //        });
    //    }
    //    else {
    //        return false;
    //    }
    //});
        function fnValidate() {
            
        event.preventDefault();
            var AnalyticsName = $("#AnalyticsName"),
                AnalyticsCode = $("#AnalyticsCode"),
            hidLegalEntity = $("#hidLegalEntity"),
            isValid = true,
                spn_AnalyticsName = $("#spn_AnalyticsName"),
             spn_AnalyticsCode = $("#spn_AnalyticsCode");
                spn_LegalEntity = $("#spn_LegalEntity");
           // spn_LegalEntity.hide();
            spn_AnalyticsName.hide();
            spn_AnalyticsCode.hide();
            //if (hidLegalEntity.val() == 0) {
            //    spn_LegalEntity.show();
            //    isvalid = false;
            //}
            if (AnalyticsName.val() == "") {
                spn_AnalyticsName.show();
                isValid = false;
            }
         if (AnalyticsCode.val() == "") {
                spn_AnalyticsCode.show();
                isValid = false;
            }
        return isValid;
    }
    </script>