﻿@model Accounting.Web.Models.DBModels.CategoryMasterModel

    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Add Account Category</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <select id="ddl_MajorCategory" class="form-control">
                    @*onchange="fnBindCategoryMaster()"*@
                    <option value="0">Category type</option>
                    @foreach (var item in @ViewBag.AllMajorCategory)
                    {
                        <option value="@item.MajorCategoryID">@item.MajorCategoryName</option>
                    }
                </select>
                <span style="color:red;display:none;" id="spn_Categorytype">Please enter category type</span>
            </div>
                <div class="form-group">
                    @*<span>District name</span><span class="form-error-msg">*</span>*@
                    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", tabindex = 2, @rows = "6", placeholder = "Category name" })
                    <span style="color:red;display:none;" id="spn_name">Please enter category name</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    <script type="text/javascript">
    $("#btn_Submit").click(function () {
        if (fnValidate()) {
              var ddl_MajorCategory = $("#ddl_MajorCategory"),
                CategoryName = $("#CategoryName"),
                data = {};
            data["ParentCategoryID"] = parseInt(ddl_MajorCategory.val());
            data["CategoryName"] = CategoryName.val();
            $.ajax({
                url: "/CategoryMaster/InsertCategoryMaster",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/CategoryMaster/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
      function fnValidate() {
            
        event.preventDefault();
            var CategoryName = $("#CategoryName"),
            ddl_MajorCategory = $("#ddl_MajorCategory"),
            isValid = true,
            spn_name = $("#spn_name"),
                spn_Categorytype = $("#spn_Categorytype");
            spn_Categorytype.hide();
            spn_name.hide();
            if (ddl_MajorCategory.val() == 0) {
                spn_Categorytype.show();
                isValid = false;
            }
            if (CategoryName.val() == "") {
                spn_name.show();
                isValid = false;
            }
        
        return isValid;
    }
    </script>



