﻿@model Accounting.Web.Models.DBModels.CategoryMasterModel


    <div id="divResult">
        <div class="modal-header">
            <h4 class="title">Edit Account Category</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <select id="ddl_MajorCategory" class="form-control" disabled="disabled">
                    @*onchange="fnBindCategoryMaster()"*@
                    <option value="0">Category type</option>
                    @foreach (var item in @ViewBag.AllMajorCategory)
                    {
                        if (Convert.ToInt32(Model.ParentCategoryID) == item.MajorCategoryID)
                        {
                            <option value="@item.MajorCategoryID" selected>@item.MajorCategoryName</option>
                        }
                        else
                        {
                            <option value="@item.MajorCategoryID">@item.MajorCategoryName</option>
                        }
                    }
                </select>
                <span style="color:red;display:none;" id="spn_Categorytype">Please enter category type</span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.CategoryID)
                @Html.HiddenFor(m => m.ParentCategoryID)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.CreatedOn)
                @Html.HiddenFor(m => m.IsActive)
                @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", tabindex = 1, @rows = "6", placeholder = "Category name" })
                <span style="color:red;display:none;" id="spn_name">Please enter category name</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
        </div>
    </div>

    <script type="text/javascript">

        function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split(' ')[0].split('-');
            return (dat[1] + "/" + dat[0] + "/" + dat[2] + " " + str.split(' ')[1]);
        }

         $("#btn_Submit").click(function () {
             if (fnValidate()) {

                var ddl_MajorCategory = $("#ddl_MajorCategory"),
                CategoryID = $("#CategoryID"),
                CategoryName = $("#CategoryName"),
                CreatedBy = $("#CreatedBy"),
                CreatedOn = $("#CreatedOn"),
                IsActive = $("#IsActive"),
                     data = {};
               //  alert(getdate(CreatedOn.val()));
                 //alert(CreatedOn.val());
                 //var d = new Date(CreatedOn.val());
                 //alert(d);
                // alert(formatDate(CreatedOn.val()));
                 data["CategoryID"] = parseInt(CategoryID.val());
                 data["CategoryName"] = CategoryName.val();
                 data["ParentCategoryID"] = parseInt(ddl_MajorCategory.val());
                data["CreatedBy"] = parseInt(CreatedBy.val());
                 data["CreatedOn"] = getdate(CreatedOn.val());
            data["IsActive"] = IsActive.val();
            $.ajax({
                url: "/CategoryMaster/InsertCategoryMaster",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                   window.location.href = "/CategoryMaster/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
    //$("#btn_Submit").click(function () {
    //    if (fnValidate()) {
            
    //        var CategoryID = $("#CategoryID"),
    //            CategoryName = $("#CategoryName"),
    //            ParentCategoryID = $("#ParentCategoryID"),
    //            CreatedBy = $("#CreatedBy"),
    //            CreatedOn = $("#CreatedOn"),
    //            IsActive = $("#IsActive"),
    //            data = {};
    //        alert(CategoryID.val());
    //        data["CategoryID"] = parseInt(CategoryID.val());
    //        data["CategoryName"] = CategoryName.val();
    //        data["ParentCategoryID"] = parseInt(ParentCategoryID.val());
    //        data["CreatedBy"] = parseInt(CreatedBy.val());
    //        data["CreatedOn"] = CreatedOn.val();
    //        data["IsActive"] = IsActive.val();
            
    //        $.ajax({
    //            url: "/CategoryMaster/InsertCategoryMaster",
    //            type: "POST",
    //            data: JSON.stringify(data),
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: function (msg) {
    //                //$('#DistrictModule').modal('hide');
    //                //$("#div_tableView").empty();
    //                //$("#div_tableView").load("/District/ShowDistrictTableView/" + StateID.val());
    //                window.location.href = "/CategoryMaster/Index";
    //            },
    //            error: function (msg) {

    //            }
    //        });
    //    }
    //    else {
    //        return false;
    //    }
    //});
        function fnValidate() {
            
        event.preventDefault();
            var CategoryName = $("#CategoryName"),
            ddl_MajorCategory = $("#ddl_MajorCategory"),
            isValid = true,
            spn_name = $("#spn_name"),
                spn_Categorytype = $("#spn_Categorytype");
            spn_Categorytype.hide();
            spn_name.hide();
            if (ddl_MajorCategory.val() == 0) {
                spn_Categorytype.show();
                isValid = false;
            }
            if (CategoryName.val() == "") {
                spn_name.show();
                isValid = false;
            }
        
        return isValid;
    }
    </script>