﻿@model Accounting.Web.Models.DBModels.EntityMasterModel


<form asp-action="InsertEntity" asp-controller="EntityMaster" method="POST" data-ajax="true" data-ajax-update="divResult">
    <div id="divResult">
        @Html.AntiForgeryToken()

        <div class="modal-header">
            <h4 class="title">Edit Entity</h4>
        </div>

        <div class="modal-body">
            <div id="DivnewUser">
                <div class="row clearfix">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <span>Entity Level</span>
                            <select id="EntityLevel" name="EntityLevel" onchange="fnGetEntityByLevelID()" class="form-control">
                                <option value="0">Select Level</option>
                                @foreach (var objEntityLevel in ViewBag.AllEntityLevel)
                                {
                                    if (Convert.ToInt32(Model.EntityLevel) == objEntityLevel.EntityLevelID)
                                    {
                                        <option value="@objEntityLevel.EntityLevelID" selected>@objEntityLevel.EntityLevelName</option>
                                    }
                                    else
                                    {
                                        <option value="@objEntityLevel.EntityLevelID">@objEntityLevel.EntityLevelName</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <span>Parent Entity</span>
                            <select id="ParentEntityID" name="ParentEntityID" class="form-control">
                                <option value="0">Select</option>
                                @foreach (var item in ViewBag.GetEntityByLevelID)
                                {
                                    if (Convert.ToInt32(Model.ParentEntityID) == item.EntityID)
                                    {
                                        <option value="@item.EntityID" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.EntityID">@item.Name</option>
                                    }
                                }
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <span>Entity Name</span>
                            @Html.HiddenFor(m => m.EntityID)
                            @Html.HiddenFor(m => m.IsActive)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", tabindex = 1 })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "form-error-msg" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span>Address</span>
                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", tabindex = 2 })
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "form-error-msg" })
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 ">
                    <h6>Statutory Info :</h6>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6">
                    <div class="form-group">
                        <span>GST IN</span><span class="form-error-msg">*</span>
                        @Html.TextBoxFor(m => m.GSTNO, new { @class = "form-control", tabindex = 3 })
                        @Html.ValidationMessageFor(m => m.GSTNO, "", new { @class = "form-error-msg" })
                    </div>
                </div>
                @*<div class="col-lg-6">
                    <div class="form-group">
                        <span>Statutory Info</span><span class="form-error-msg">*</span>
                        @Html.TextBoxFor(m => m.StatutoryInfo, new { @class = "form-control", tabindex = 3 })
                        @Html.ValidationMessageFor(m => m.StatutoryInfo, "", new { @class = "form-error-msg" })
                    </div>
                </div>*@
                <div class="col-lg-6">
                    <div class="form-group">
                        <span>CIN NO</span><span class="form-error-msg">*</span>
                        @Html.TextBoxFor(m => m.CINNO, new { @class = "form-control", tabindex = 4 })
                        @Html.ValidationMessageFor(m => m.CINNO, "", new { @class = "form-error-msg" })
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6">
                    <div class="form-group">
                        <span>PAN NO</span><span class="form-error-msg">*</span>
                        @Html.TextBoxFor(m => m.PANNO, new { @class = "form-control", tabindex = 3 })
                        @Html.ValidationMessageFor(m => m.PANNO, "", new { @class = "form-error-msg" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <span>TAN NO</span><span class="form-error-msg">*</span>
                        @Html.TextBoxFor(m => m.TANNO, new { @class = "form-control", tabindex = 4 })
                        @Html.ValidationMessageFor(m => m.TANNO, "", new { @class = "form-error-msg" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>