﻿@model Accounting.Web.Models.DBModels.EntityMasterModel

@*<form asp-action="InsertEntity" asp-controller="EntityMaster" method="POST" data-ajax="true" data-ajax-update="divResult" >*@
<div id="divResult">
    @*@Html.AntiForgeryToken()*@

    <div class="modal-header">
        <h4 class="title">Edit Entity</h4>
    </div>

    <div class="modal-body">
        <div id="DivnewUser">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Entity Level</span>
                        @Html.HiddenFor(m => m.EntityID)
                        @Html.HiddenFor(m => m.CreatedBy)
                        @Html.HiddenFor(m => m.CreatedOn)
                        @Html.HiddenFor(m => m.IsActive)
                        <select id="EntityLevel" name="EntityLevel" onchange="fnGetEntityByLevelID()" tabindex="1" class="form-control" disabled="disabled">
                            <option value="0">Select Level</option>
                            @foreach (var objEntityLevel in ViewBag.AllEntityLevel)
                            {
                                if (objEntityLevel.EntityLevelID <= 5)
                                {
                                    if (Convert.ToInt32(Model.EntityLevel) == objEntityLevel.EntityLevelID)
                                    {
                                    <option value="@objEntityLevel.EntityLevelID" selected>@objEntityLevel.EntityLevelName</option>
                                    }
                                    else
                                    {
                                    <option value="@objEntityLevel.EntityLevelID">@objEntityLevel.EntityLevelName</option>
                                    }
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_EntityLevel">Please enter entity level</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Parent Entity</span>
                        <select id="ParentEntityID" tabindex="2" name="ParentEntityID" class="form-control">
                            <option value="0">Select</option>
                            @foreach (var item in ViewBag.GetEntityByLevelID)
                            {
                                if (Convert.ToInt32(Model.ParentEntityID) == item.EntityID)
                                {
                                    <option value="@item.EntityID" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.EntityID">@item.Name</option>
                                }
                            }
                        </select>
                        <span style="color:red;display:none;" id="spn_ParentEntity">Please select parent entity</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <span>Entity Name</span>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", tabindex = 3, placeholder = "Entity Name",maxlength=50 })
                        <span style="color:red;display:none;" id="spn_EntityName">Please enter entity name</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group clsLegalEntity @(Model.EntityLevel==5 ? "active" : "")">
                        <span>Address</span>
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", tabindex = 4, placeholder = "Entity Address",maxlength=200 })
                        <span style="color:red;display:none;" id="spn_EntityAddress">Please enter entity Address</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row clearfix  clsLegalEntity @(Model.EntityLevel==5 ? "active" : "")">
            <div class="col-lg-12 ">
                <h6>Statutory Info :</h6>
            </div>
        </div>
        <div class="row clearfix  clsLegalEntity @(Model.EntityLevel==5 ? "active" : "")">
            <div class="col-lg-6">
                <div class="form-group">
                    <span>GST IN</span>
                    @Html.TextBoxFor(m => m.GSTNO, new { @class = "form-control", tabindex = 5, placeholder = "GST IN",maxlength=25 })
                    <span style="color:red;display:none;" id="spn_GSTIN">Please enter GST IN</span>
                </div>
            </div>
            @*<div class="col-lg-6">
                    <div class="form-group">
                        <span>Statutory Info</span><span class="form-error-msg">*</span>
                        @Html.TextBoxFor(m => m.StatutoryInfo, new { @class = "form-control", tabindex = 3 })
                        @Html.ValidationMessageFor(m => m.StatutoryInfo, "", new { @class = "form-error-msg" })
                    </div>
                </div>*@
            <div class="col-lg-6">
                <div class="form-group">
                    <span>CIN NO</span>
                    @Html.TextBoxFor(m => m.CINNO, new { @class = "form-control", tabindex = 6, placeholder = "CIN NO",maxlength=25 })
                    <span style="color:red;display:none;" id="spn_CINNO">Please enter CIN NO</span>
                </div>
            </div>
        </div>
        <div class="row clearfix  clsLegalEntity @(Model.EntityLevel==5 ? "active" : "")">
            <div class="col-lg-6">
                <div class="form-group">
                    <span>PAN NO</span>
                    @Html.TextBoxFor(m => m.PANNO, new { @class = "form-control", tabindex = 7, placeholder = "PAN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_PANNO">Please enter PAN NO</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <span>TAN NO</span>
                    @Html.TextBoxFor(m => m.TANNO, new { @class = "form-control", tabindex = 8, placeholder = "TAN NO", maxlength = 25 })
                    <span style="color:red;display:none;" id="spn_TANNO">Please enter TAN NO</span>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <span>Entity Code</span>
                    @Html.TextBoxFor(m => m.LegalEntityslcode, new { @class = "form-control", tabindex = 8, placeholder = "Entity Code", maxlength = 4 })
                    <span style="color:red;display:none;" id="spn_LegalEntityslcode">Please enter Entity Code</span>
                </div>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="btn_Submit">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</div>
<script>
     function getdate(str) {
            //alert(str.split(' ')[0]);
            var dat = str.split(' ')[0].split('-');
            return (dat[1] + "/" + dat[0] + "/" + dat[2] + " " + str.split(' ')[1]);
        }
    $("#btn_Submit").click(function () {
       // alert("dfsfd");
        if (fnValidate()) {
            var EntityLevel = $("#EntityLevel"),
                ParentEntityID = $("#ParentEntityID"),
                Name = $("#Name"),
                Address = $("#Address"),
                GSTNO = $("#GSTNO"),
                CINNO = $("#CINNO"),
                PANNO = $("#PANNO"),
                TANNO = $("#TANNO"),
                LegalEntityslcode = $("#LegalEntityslcode"),
                 EntityID = $("#EntityID"),
                 CreatedBy = $("#CreatedBy"),
                 CreatedOn = $("#CreatedOn"),
                 IsActive = $("#IsActive"),
                data = {};
                        data["EntityID"] = EntityID.val();
                        data["CreatedBy"] = CreatedBy.val();
                        data["CreatedOn"] = getdate(CreatedOn.val());
                        data["IsActive"] = IsActive.val();
            //alert(ddl_GroupType.val());
            //alert(LedgerGroupName.val());
            data["EntityLevel"] = parseInt(EntityLevel.val());
            data["ParentEntityID"] = parseInt(ParentEntityID.val());
            data["Name"] = Name.val();
            data["Address"] = Address.val();
            data["GSTNO"] = GSTNO.val();
            data["CINNO"] = CINNO.val();
            data["PANNO"] = PANNO.val();
            data["TANNO"] = TANNO.val();
            data["LegalEntityslcode"] = LegalEntityslcode.val();
           // alert("dfsfd1");
            $.ajax({
                url: "/EntityMaster/InsertEntity",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    window.location.href = "/EntityMaster/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });
   function fnValidate() {
        event.preventDefault();
        var EntityLevel = $("#EntityLevel"),
                ParentEntityID = $("#ParentEntityID"),
                Name = $("#Name"),
                Address = $("#Address"),
                GSTNO = $("#GSTNO"),
                CINNO = $("#CINNO"),
                PANNO = $("#PANNO"),
            TANNO = $("#TANNO"),
                LegalEntityslcode = $("#LegalEntityslcode"),
            isValid = true,
            spn_EntityLevel = $("#spn_EntityLevel"),
            spn_ParentEntity = $("#spn_ParentEntity"),
            spn_EntityName = $("#spn_EntityName"),
            spn_EntityAddress = $("#spn_EntityAddress"),
            spn_GSTIN = $("#spn_GSTIN"),
            spn_CINNO = $("#spn_CINNO"),
            spn_PANNO = $("#spn_PANNO"),
           spn_TANNO = $("#spn_TANNO"),
       spn_LegalEntityslcode = $("#spn_LegalEntityslcode");
        spn_EntityLevel.hide();
        spn_ParentEntity.hide();
        spn_EntityName.hide();
        spn_EntityAddress.hide();
        spn_GSTIN.hide();
        spn_CINNO.hide();
        spn_PANNO.hide();
       spn_TANNO.hide();
        spn_LegalEntityslcode.hide();
         if (EntityLevel.val() == 0) {
            spn_EntityLevel.show();
            isValid = false;
        }
        //if (ParentEntityID.val() == 0) {
        //    spn_ParentEntity.show();
        //    isValid = false;
        //}
        if (Name.val() == "") {
            spn_EntityName.show();
            isValid = false;
        }
        if (EntityLevel.val() == "5") {
            if (Address.val() == "") {
                spn_EntityAddress.show();
                isValid = false;
            }
            if (GSTNO.val() == "") {
                spn_GSTIN.show();
                isValid = false;
            }
            if (CINNO.val() == "") {
                spn_CINNO.show();
                isValid = false;
            }
            if (PANNO.val() == "") {
                spn_PANNO.show();
                isValid = false;
            }
            if (TANNO.val() == "") {
                spn_TANNO.show();
                isValid = false;
            }
            if (LegalEntityslcode.val() == "") {
                spn_LegalEntityslcode.show();
                isValid = false;
            }
        }
        return isValid;
    }
</script>
@*</form>*@
