﻿@*@model IEnumerable<Accounting.Web.Models.DBModels.EntityMasterModel>*@
@*@model Accounting.Web.Models.DBModels.EntityMasterModel*@
@model IEnumerable<Accounting.Web.Models.DBModels.EntityMasterModel>
@{
    ViewData["Title"] = "Major Category";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<style>
    .clsLegalEntity{
        display:none;
    }
    .clsLegalEntity.active
    {
        display:block;
    }
</style>
<div id="main-content" data-plugin="ProductScript">
    <div class="container">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Entity</h2>
                    @*<ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Payments</li>
                        <li class="breadcrumb-item active">Payment Invoice</li>
                    </ul>*@
                </div>

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Entity List</h2>
                        <ul class="header-dropdown">
                            @*<li><a class="tab_btn" href="javascript:void(0);" title="Weekly">W</a></li>
                                <li><a class="tab_btn" href="javascript:void(0);" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" href="javascript:void(0);" title="Yearly">Y</a></li>*@
                            <li>
                                @*<button class="btn btn-primary float-right" onclick="fnLoadProductAdd()" data-toggle="modal" data-target="#ProductManagementModel"><i class="fa fa-plus-square"></i> <span>New Product</span></button>*@
                                <button class="btn btn-primary" id="btn_addnew" style="float:right;" onclick="fnAddEntityMaster()" data-toggle="modal" data-target="#EntityMasterModule"><i class="fa fa-plus-square"></i> <span>New Entity</span></button>
                            </li>
                            <li class="dropdown" style="display:none;">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Add New</a></li>
                                    @*<li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom table-striped" data-plugin="dataTable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                           Code
                                        </th>
                                        
                                        <th>
                                            Parent Entity
                                        </th>
                                        <th style="display:none;" >
            EntityLevel
        </th>
                                        <th>
                                            Level Name
                                        </th>
                                        <th style="display:none;">
                                            Address
                                        </th>

                                        @*<th>
            TANNO
        </th>
        <th>
            CINNO
        </th>*@
                                        <th>
                                            PANNO
                                        </th>
                                        <th>
                                            GSTNO
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.GetAllEntity)
                                    {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.LegalEntityslcode
                                        </td>
                                        <td>
                                            @item.ParentEntityName
                                        </td>
                                        <td style="display:none;">
            @item.EntityLevel
        </td>
                                        <td>
                                            @item.EntityLevelName
                                        </td>
                                        <td style="display:none;">
                                            @item.Address
                                        </td>
                                        @*<td>
            @item.TANNO
        </td>
        <td>
            @item.CINNO
        </td>*@
                                        <td>
                                            @item.PANNO
                                        </td>
                                        <td>
                                            @item.GSTNO
                                        </td>
                                        <td>
                                            <div class="btn-group-sm">
                                                <button class="btn btn-primary right" onclick="fnLoadEntityMasterEditModel(@item.EntityID)" data-toggle="modal" data-target="#EntityMasterModule"><i class="fa fa-edit"></i></button>
                                                <button class="btn danger m-t" data-toggle="modal" data-target="#EntityMasterdelModule" onclick="fnDeletEntityMasterPopUp(@item.EntityID)"><i class="fa fa-trash"></i> </button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="ProductManagementModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="divProductManagementModel">

            </div>
        </div>
    </div>
    <!-- .modal -->
    <div id="modalProduct" class="modal fade animate black-overlay" data-backdrop="false">
        <div class="modal-dialog modal-sm">
            <!-- /.modal-content -->
            <div id="DivModelDeleteContent">

            </div>
        </div>
    </div>*@
<div id="EntityMasterModule" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content" id="divEntityMasterContent">

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div id="EntityMasterdelModule" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <!-- /.modal-content -->
        <div id="DivModelDeleteContent">

        </div>
    </div>
</div>


<script type="text/javascript">
    function fnGetEntityByLevelID() {
        //alert("sdfsdf");
        var EntityLevel = $("#EntityLevel");
        var EntityLevelID = Number(EntityLevel.val()) - 1;
        // alert(ddl_EntityLevelID.val());
        $(".clsLegalEntity").removeClass("active");
        if (EntityLevel.val() == "5") {
            $(".clsLegalEntity").addClass("active");
        }
        $.ajax({
            url: "/EntityMaster/BindEntityByLevelID/" + EntityLevelID,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $("#ParentEntityID").html('');
                $("#ParentEntityID").append($('<option></option>').val(0).html("Select"));
                //alert(msg);
                $.each(msg, function (x, v) {
                    $("#ParentEntityID").append($('<option></option>').val(v.entityID).html(v.name));
                })
            },

            failure: function (response) {
                //alert(response);
            },
            error: function (response) {
                //  alert(response);
            }
        });
    }

    function fnAddEntityMaster() {
        //var ddl_MajorCategory = $("#ddl_MajorCategory");
        //var Id = parseInt(ddl_MajorCategory.val());
        $("#divEntityMasterContent").empty();
        $("#divEntityMasterContent").load("/EntityMaster/AddEntityMaster");
    }
    function fnLoadEntityMasterEditModel(Id) {
        $("#divEntityMasterContent").empty();
        $("#divEntityMasterContent").load("/EntityMaster/EditEntityMaster/" + Id);
    }
    function fnDeletEntityMasterPopUp(Id) {
        //  alert($("#DivModelDeleteContent"));
        $("#DivModelDeleteContent").empty();
        $("#DivModelDeleteContent").load("/EntityMaster/DeleteEntityMastermodel/" + Id);
    }
    function fnDeleteEntityMaster(d) {
        $.ajax({
            url: "/EntityMaster/DeleteEntityMaster/" + d,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#DivModelDeleteContent').modal('hide');
                //$("#div_tableView").empty();
                //$("#div_tableView").load("/EntityMaster/ShowEntityMasterTableView/" + msg);
                window.location.href = "/EntityMaster/Index";
            }
        });
    }
  $(document).ready(function() {
    $('.dataTable').DataTable( {
        order: [[ 3, 'asc' ],[ 2, 'asc' ], [ 0, 'asc' ]]
    } );
} );
</script>