﻿@using Microsoft.AspNetCore.Http;
@{
    var UsrName_Var = Context.Session.GetString("UsrName");
    var BranchName_Var = Context.Session.GetString("BranchName");
}
<!doctype html>
<html lang="en">
<head>
    <title>:: Accounting :: Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4.1.1 Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/assets/vendor/toastr/toastr.min.css">
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <link href="~/assets/css/app.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
    <style>
        #VoucherModule {
            background-color: transparent;
            z-index: 10000;
            opacity: 1;
            -moz-opacity: 1;
        }
        .main_menu {
            top: 131px;
        }

        #main-content {
            background-color: white;
            margin-top: 135px;
        }

        .card {
            box-shadow: unset;
        }

        .block-header {
            padding-top: 10px;
        }

        .card .header {
            padding-left: 0px;
        }

        .card .body {
            padding-left: 0px;
        }

        .tdnumber {
            text-align: right;
        }

        /*.navbar-fixed-top .navbar-brand img {
            width: 171px;
            vertical-align: top;
            margin-top: 2px;
        }*/
    </style>
</head>
<body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
            <img src="~/assets/images/Vairams_Logo.JPG" width="48" height="48" alt="Lucid">
            @*<img src="/assets/images/kaspon-logo.png" width="178" height="48" alt="Lucid">*@
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div>
        @*http://localhost:59395/assets/images/logo.svg*@
        <div id="wrapper">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-brand">
                         <a href="index.html"><img src="/assets/images/Vairams_Logo.JPG" alt="Vairams"  class="img-responsive logo"></a>
                    </div>
                    <div class="navbar-right">
                        @*<form id="navbar-search" class="navbar-form search-form">
                                <input value="" class="form-control" placeholder="Search here..." type="text">
                                <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                            </form>*@
                        <div id="navbar-menu">
                            <table>
                                <tr>
                                    <td><span>User Name: </span><span id="HdnMainusername" style="color:green; padding-right: 10px;">@UsrName_Var</span></td>

                                    <td><span>Company Name: </span><span id="MainHeaderCmpny" style="color:green; padding-right: 10px;">@BranchName_Var</span></td>
                                    <td>
                                        <ul class="nav navbar-nav">
                                            @*<li class="d-none d-sm-inline-block d-md-none d-lg-inline-block">
                                                    <a href="doctor-events.html" class="icon-menu"><i class="icon-calendar"></i></a>
                                                </li>
                                                <li class="d-none d-sm-none d-md-none d-lg-inline-block">
                                                    <a href="app-chat.html" class="icon-menu"><i class="icon-bubbles"></i></a>
                                                </li>
                                                <li class="d-none d-sm-none d-md-none d-lg-inline-block">
                                                    <a href="app-inbox.html" class="icon-menu d-none d-sm-block"><i class="icon-envelope"></i><span class="notification-dot"></span></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                                        <i class="icon-bell"></i>
                                                        <span class="notification-dot"></span>
                                                    </a>
                                                    <ul class="dropdown-menu notifications">
                                                        <li class="header"><strong>You have 4 new Notifications</strong></li>
                                                        <li>
                                                            <a href="javascript:void(0);">
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <i class="icon-info text-warning"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach budget limit.</p>
                                                                        <span class="timestamp">10:00 AM Today</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <i class="icon-like text-success"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <p class="text">Your New Campaign <strong>Holiday Sale</strong> is approved.</p>
                                                                        <span class="timestamp">11:30 AM Today</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <i class="icon-pie-chart text-info"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <p class="text">Website visits from Twitter is 27% higher than last week.</p>
                                                                        <span class="timestamp">04:00 PM Today</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <i class="icon-info text-danger"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <p class="text">Error on website analytics configurations</p>
                                                                        <span class="timestamp">Yesterday</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="footer"><a href="javascript:void(0);" class="more">See all notifications</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="icon-equalizer"></i></a>
                                                    <ul class="dropdown-menu user-menu menu-icon">
                                                        <li class="menu-heading">ACCOUNT SETTINGS</li>
                                                        <li><a href="javascript:void(0);"><i class="icon-note"></i> <span>Basic</span></a></li>
                                                        <li><a href="javascript:void(0);"><i class="icon-equalizer"></i> <span>Preferences</span></a></li>
                                                        <li><a href="javascript:void(0);"><i class="icon-lock"></i> <span>Privacy</span></a></li>
                                                        <li><a href="javascript:void(0);"><i class="icon-bell"></i> <span>Notifications</span></a></li>
                                                        <li class="menu-heading">BILLING</li>
                                                        <li><a href="javascript:void(0);"><i class="icon-credit-card"></i> <span>Payments</span></a></li>
                                                        <li><a href="javascript:void(0);"><i class="icon-printer"></i> <span>Invoices</span></a></li>
                                                        <li><a href="javascript:void(0);"><i class="icon-refresh"></i> <span>Renewals</span></a></li>
                                                    </ul>
                                                </li>*@
                                            @*<li class="d-none d-sm-inline-block">
                                                    <a href="#" class="icon-menu rightbar_btn"><i class="icon-settings"></i></a>
                                                </li>*@
                                            <li>
                                                <a href="@Url.Action("Signout", "Account")" class="icon-menu"><i class="icon-login"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="navbar-btn">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <i class="lnr lnr-menu fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </nav>
            <div id="rightbar" class="rightbar">
                <div class="sidebar-scroll">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs-new">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Chat"><i class="icon-book-open"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting"><i class="icon-settings"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#question"><i class="icon-question"></i></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane animated fadeIn active" id="Chat">
                            <form>
                                <div class="input-group m-b-20">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                            </form>
                            <ul class="right_chat list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Chris Fox</span>
                                                <span class="message">Designer, Blogger</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar5.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Joge Lucky</span>
                                                <span class="message">Java Developer</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar2.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella</span>
                                                <span class="message">CEO, Thememakker</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar1.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Folisise Chosielie</span>
                                                <span class="message">Art director, Movie Cut</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="../assets/images/xs/avatar3.jpg" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander</span>
                                                <span class="message">Writter, Mag Editor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane animated fadeIn" id="setting">
                            <h6>Choose Skin</h6>
                            <ul class="choose-skin list-unstyled">
                                <li data-theme="purple">
                                    <div class="purple"></div>
                                    <span>Purple</span>
                                </li>
                                <li data-theme="blue">
                                    <div class="blue"></div>
                                    <span>Blue</span>
                                </li>
                                <li data-theme="cyan" class="active">
                                    <div class="cyan"></div>
                                    <span>Cyan</span>
                                </li>
                                <li data-theme="green">
                                    <div class="green"></div>
                                    <span>Green</span>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange"></div>
                                    <span>Orange</span>
                                </li>
                                <li data-theme="blush">
                                    <div class="blush"></div>
                                    <span>Blush</span>
                                </li>
                            </ul>
                            <hr>
                            <h6>General Settings</h6>
                            <ul class="setting-list list-unstyled">
                                <li>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" name="checkbox">
                                        <span>Report Panel Usag</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" name="checkbox" checked>
                                        <span>Email Redirect</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" name="checkbox" checked>
                                        <span>Notifications</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" name="checkbox">
                                        <span>Auto Updates</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" name="checkbox">
                                        <span>Offline</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" name="checkbox">
                                        <span>Location Permission</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane animated fadeIn" id="question">
                            <form>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                            </form>
                            <ul class="list-unstyled question">
                                <li class="menu-heading">HOW-TO</li>
                                <li><a href="javascript:void(0);">How to Create Campaign</a></li>
                                <li><a href="javascript:void(0);">Boost Your Sales</a></li>
                                <li><a href="javascript:void(0);">Website Analytics</a></li>
                                <li class="menu-heading">ACCOUNT</li>
                                <li><a href="javascript:void(0);">Cearet New Account</a></li>
                                <li><a href="javascript:void(0);">Change Password?</a></li>
                                <li><a href="javascript:void(0);">Privacy &amp; Policy</a></li>
                                <li class="menu-heading">BILLING</li>
                                <li><a href="javascript:void(0);">Payment info</a></li>
                                <li><a href="javascript:void(0);">Auto-Renewal</a></li>
                                <li class="menu-button m-t-30">
                                    <a href="javascript:void(0);" class="btn btn-primary"><i class="icon-question"></i> Need Help?</a>
                                </li>
                            </ul>
                        </div>
                    </div>pro
                </div>
            </div>
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <div class="navbar-collapse align-items-center collapse" id="navbar">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown active"><a href="index.html" class="nav-link"><i class="icon-home"></i>Dashboard</a></li>
                                @if (User.IsInRole("Admin") == true || User.IsInRole("lmsauditor") == true)
                                {

                                    <li class="nav-item dropdown">

                                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-grid"></i> <span>Masters</span></a>
                                        <ul class="dropdown-menu animated bounceIn">
                                            <li><a href="~/FinancialYear/Index">Financial Year</a></li>
                                            <li><a href="~/EntityMaster/Index">Entity Master</a></li>
                                            <li><a href="~/ProfitCentre/Index">Branch </a></li>
                                            @*<li><a href="~/Location/Index">Location</a></li>
                    <li><a href="~/Unit/Index">Unit</a></li>
                    <li><a href="~/Project/Index">Project</a></li>*@
                                            <li><a href="~/User/Index">User</a></li>
                                            <li><a href="~/LedgerGroupMaster/Index">Account Group</a></li>
                                            <li><a href="~/CategoryMaster/Index">Account Category</a></li>
                                            @*<li><a href="~/Analytics/Index">Analytics Master</a></li>
                                         <li><a href="~/CostCentre/Index">Cost Centre</a></li>
                    <li><a href="#">Party Master</a></li>
                             <li><a href="#">Statutory Rate Master</a></li>*@
                                        </ul>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-grid"></i> <span>Entity Mapping</span></a>
                                        <ul class="dropdown-menu animated bounceIn">
                                            <li><a href="~/LegalEntityProfitCentreMapping/Index">LegalEntity Branch  Mapping</a></li>
                                            <li>@*<a href="~/LegalEntityLocationMapping/Index">LegalEntity Location Mapping</a>*@</li>
                                            @*<li><a href="~/LegalEntityUnitMapping/Index">LegalEntity Unit Mapping</a></li>
                    <li><a href="~/LegalEntityProjectMapping/Index">LegalEntity Project Mapping</a></li>*@
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="~/ChartofAccounts/Index" class="nav-link"><i class="icon-grid"></i> <span>Chart of Accounts</span></a>
                                        @*<ul class="dropdown-menu animated bounceIn">
                    <li><a href="~/ChartofAccounts/Index"> Chart of Accounts</a></li>
                </ul>*@
                                    </li>
                                }
                                @*@if (User.IsInRole("User") == true)
        {*@
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i> <span>Transaction</span></a>
                                    <ul class="dropdown-menu animated bounceIn">
                                        <li><a href="~/TransactionEntry/TransactionSuccess/1"> Cash receipts</a></li>
                                        <li><a href="~/TransactionEntry/TransactionSuccess/2"> Cash payments</a></li>
                                        <li><a href="~/TransactionEntry/TransactionSuccess/3"> Bank receipts</a></li>
                                        <li><a href="~/TransactionEntry/TransactionSuccess/4"> Bank Payments</a></li>
                                        <li><a href="~/TransactionEntry/TransactionSuccess/5"> Journal entries</a></li>
                                        <li><a href="~/TransactionEntry/TransactionSuccess/10"> Closing entries</a></li>
                                       

                                        @*<li><a href="#">Purchase accounting</a></li>
                <li><a href="#">Sales accounting</a></li>*@
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-grid"></i> <span>Reports</span></a>
                                    <ul class="dropdown-menu animated bounceIn">
                                        <li><a href="~/TransactionEntry/GLAccountReport/"> GL Account</a></li>
                                        <li><a href="~/TransactionEntry/CashRegister/"> Cash Register</a></li>
                                        <li><a href="~/TransactionEntry/BankRegister/"> Bank Register</a></li>
                                        <li><a href="~/TransactionEntry/AccountTrialBalance/"> Trial Balance</a></li>
                                        <li><a href="~/TransactionEntry/AccountProfitandLoss/"> Profit and Loss</a></li>
                                        <li><a href="~/TransactionEntry/BalanceSheetReport/"> Balance Sheet</a></li>
                                        <li><a href="~/TransactionEntry/MonthlyProfitandLoss/"> Monthly Profit and Loss</a></li>
                                        <li><a href="~/TransactionEntry/GroupComparisonReport/"> Group Comparison Report</a></li>
                                        @if (User.IsInRole("Admin") == true)
                                        {
                                            <li><a href="~/TransactionEntry/CancelledVouchers/"> Cancelled Vouchers Report</a></li>
                                        
                                        }
                                    </ul>
                                </li>

                              
                                @*}*@
                                @*<li class="nav-item dropdown mega-menu">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-user-follow"></i> <span> Hospital</span></a>
            <div class="dropdown-menu mega-main padding-0 animated fadeIn">
                <div class="row">
                    <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Doctors</label></li>
                                <li><a href="doctors-all.html">All Doctors</a></li>
                                <li><a href="doctor-add.html">Add Doctor</a></li>
                                <li><a href="doctor-profile.html">Doctor Profile</a></li>
                                <li><a href="doctor-events.html">Doctor Schedule</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Patients</label></li>
                                <li><a href="patients-all.html">All Patients</a></li>
                                <li><a href="patient-add.html">Add Patient</a></li>
                                <li><a href="patient-profile.html">Patient Profile</a></li>
                                <li><a href="patient-invoice.html">Invoice</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Departments</label></li>
                                <li><a href="depa-add.html">Add</a></li>
                                <li><a href="depa-all.html">All Departments</a></li>
                                <li><a href="javascript:void(0);">Cardiology</a></li>
                                <li><a href="javascript:void(0);">Pulmonology</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 hidden-sm">
                        <div class="img-box" style="background-image: url(../assets/images/menu-img/1.jpg)"></div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown mega-menu">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-grid"></i> <span>Application</span></a>
            <div class="dropdown-menu mega-main padding-0 animated fadeIn">
                <div class="row">
                    <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><a href="app-appointment.html">Appointment</a></li>
                                <li><a href="app-taskboard.html">Taskboard</a></li>
                                <li><a href="app-inbox.html">Inbox App</a></li>
                                <li><a href="app-chat.html">Chat App</a></li>
                                <li><a href="our-centres.html">WorldWide Centres</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><label>Payments</label></li>
                                <li><a href="payments.html">Payments</a></li>
                                <li><a href="payments-add.html">Add Payment</a></li>
                                <li><a href="payments-invoice.html">Invoice</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Widgets</label></li>
                                <li><a href="widgets-statistics.html">Statistics</a></li>
                                <li><a href="widgets-data.html">Data</a></li>
                                <li><a href="widgets-chart.html">Chart</a></li>
                                <li><a href="widgets-weather.html">Weather</a></li>
                                <li><a href="widgets-social.html">Social</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><label>Map</label></li>
                                <li><a href="map-google.html">Google Map</a></li>
                                <li><a href="map-yandex.html">Yandex Map</a></li>
                                <li><a href="map-jvectormap.html">jVector Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Chart</label></li>
                                <li><a href="chart-morris.html">Morris</a> </li>
                                <li><a href="chart-flot.html">Flot</a> </li>
                                <li><a href="chart-chartjs.html">ChartJS</a> </li>
                                <li><a href="chart-jquery-knob.html">Jquery Knob</a> </li>
                                <li><a href="chart-sparkline.html">Sparkline Chart</a></li>
                                <li><a href="chart-peity.html">Peity</a></li>
                                <li><a href="chart-c3.html">C3 Charts</a></li>
                                <li><a href="chart-gauges.html">Gauges</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 hidden-sm">
                        <div class="img-box" style="background-image: url(../assets/images/menu-img/1.jpg)"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown mega-menu">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-docs"></i> <span>Pages</span></a>
            <div class="dropdown-menu mega-main padding-0 animated fadeIn">
                <div class="row">
                    <div class="col-lg-6 col-md-4 hidden-sm">
                        <div class="img-box" style="background-image: url(../assets/images/menu-img/7.jpg)"></div>
                    </div>
                    <div class="col-lg-2 col-lg-auto col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Pages</label></li>
                                <li><a href="page-blank.html">Blank Page</a> </li>
                                <li><a href="doctor-profile.html">Profile</a></li>
                                <li><a href="page-gallery.html">Image Gallery</a> </li>
                                <li><a href="page-gallery2.html">Image Gallery</a> </li>
                                <li><a href="page-timeline.html">Timeline</a></li>
                                <li><a href="page-timeline-h.html">Horizontal Timeline</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Pages</label></li>
                                <li><a href="page-pricing.html">Pricing</a></li>
                                <li><a href="page-search-results.html">Search Results</a></li>
                                <li><a href="page-helper-class.html">Helper Classes</a></li>
                                <li><a href="page-maintenance.html">Maintenance</a></li>
                                <li><a href="page-testimonials.html">Testimonials</a></li>
                                <li><a href="page-faq.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="mega-list">
                            <ul class="list-unstyled">
                                <li><label>Tables</label></li>
                                <li><a href="table-basic.html">Tables Example</a></li>
                                <li><a href="table-normal.html">Normal Tables</a></li>
                                <li><a href="table-jquery-datatable.html">Jquery Datatables</a></li>
                                <li><a href="table-editable.html">Editable Tables</a></li>
                                <li><a href="table-color.html">Tables Color</a></li>
                                <li><a href="table-filter.html">Table Filter</a></li>
                                <li><a href="table-dragger.html">Table dragger</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-lock"></i> <span>Authentication</span></a>
            <ul class="dropdown-menu animated bounceIn">
                <li><a href="page-login.html">Login</a></li>
                <li><a href="page-register.html">Register</a></li>
                <li><a href="page-lockscreen.html">Lockscreen</a></li>
                <li><a href="page-forgot-password.html">Forgot Password</a></li>
                <li><a href="page-404.html">Page 404</a></li>
                <li><a href="page-403.html">Page 403</a></li>
                <li><a href="page-500.html">Page 500</a></li>
                <li><a href="page-503.html">Page 503</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i> <span>Forms</span></a>
            <ul class="dropdown-menu animated bounceIn right-side">
                <li><a href="forms-validation.html">Form Validation</a></li>
                <li><a href="forms-advanced.html">Advanced Elements</a></li>
                <li><a href="forms-basic.html">Basic Elements</a></li>
                <li><a href="forms-wizard.html">Form Wizard</a></li>
                <li><a href="forms-dragdropupload.html">Drag &amp; Drop Upload</a></li>
                <li><a href="forms-cropping.html">Image Cropping</a></li>
                <li><a href="forms-summernote.html">Summernote</a></li>
                <li><a href="forms-editors.html">CKEditor</a></li>
                <li><a href="forms-markdown.html">Markdown</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-diamond"></i> <span>UI Elements</span></a>
            <div class="dropdown-menu animated bounceIn right-side colmun2-menu">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="list-unstyled">
                            <li><a href="ui-typography.html">Typography</a></li>
                            <li><a href="ui-tabs.html">Tabs</a></li>
                            <li><a href="ui-buttons.html">Buttons</a></li>
                            <li><a href="ui-bootstrap.html">Bootstrap UI</a></li>
                            <li><a href="ui-icons.html">Icons</a></li>
                            <li><a href="ui-notifications.html">Notifications</a></li>
                            <li><a href="ui-colors.html">Colors</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="list-unstyled">
                            <li><a href="ui-dialogs.html">Dialogs</a></li>
                            <li><a href="ui-list-group.html">List Group</a></li>
                            <li><a href="ui-media-object.html">Media Object</a></li>
                            <li><a href="ui-modals.html">Modals</a></li>
                            <li><a href="ui-nestable.html">Nestable</a></li>
                            <li><a href="ui-progressbars.html">Progress Bars</a></li>
                            <li><a href="ui-range-sliders.html">Range Sliders</a></li>
                            <li><a href="ui-treeview.html">Treeview</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>*@
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            @RenderBody()
        </div>
    </div>
    @*Common Data Loading Symbol*@
    <div id="divLoader" class="loading" align="center" style="display:none;">
        <img src="~/assets/images/loading (1).gif" alt="" width="160" height="80" />
    </div>
    <div id="VoucherModule" class="modal" data-backdrop="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content" id="divVoucherdetails">
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

    @*For Edit Modals*@
    <div id="EditVoucherModule" class="modal" data-backdrop="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content" id="divEditVoucherdetails">
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!-- Javascript -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="~/assets/bundles/chartist.bundle.js"></script>
    <script src="~/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/assets/bundles/flotscripts.bundle.js"></script> <!-- flot charts Plugin Js -->
    <script src="~/assets/vendor/toastr/toastr.js"></script>
    <script src="~/assets/vendor/flot-charts/jquery.flot.selection.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/assets/js/index.js"></script>

    <script src="~/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable2/jszip.min.js"></script>
    <script src="~/assets/vendor/jquery-datatable2/pdfmake.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/vendor/jquery-datatable2/vfs_fonts.js"></script>
</body>
</html>
