﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>:: FINANCE :: @ViewBag.Title </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="SpearTech">
    @*<meta name="author" content="WrapTheme, design by: ThemeMakker.com">*@

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/lib/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/lib/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/lib/c3/c3.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/color_skins.css">
    <link rel="stylesheet" href="~/css/site.css">
    @RenderSection("Style", required: false)
</head>
<body class="theme-cyan ">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/images/logo-icon.svg" width="48" height="48" alt="Lucid"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->

    <div id="wrapper">

        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a href="index.html"><img src="~/images/mainlogo1.png" alt="Smart EMR Logo" class="img-responsive logo"></a>
                </div>

                <div class="navbar-right">
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="icon-equalizer"></i></a>
                                <div class="dropdown-menu animated bounceIn left-side colmun2-menu">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="/Configuration/Company">Company</a></li>
                                                <li><a href="/Configuration/Locations">Locations</a></li>
                                                <li><a href="/Configuration/UserModule">Users</a></li>
                                                <li><a href="/UDO/UDOExtender">UDO Extender</a></li>
                                                <li><a href="/Configuration/State">State</a></li>
                                                <li><a href="/Configuration/GST">GST</a></li>
                                                <li><a href="/Configuration/Target">Target</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="/Masters/VehicleModel">Vehicles</a></li>
                                                <li><a href="/Masters/AgentModel">Agents</a></li>
                                                <li><a href="/Masters/DealerModel">Dealers</a></li>
                                                <li><a href="/Masters/InsuranceModel">Insurance</a></li>
                                                <li><a href="/Masters/BankModel">Bank</a></li>
                                                <li><a href="/Masters/ChequeModel">Cheque</a></li>
                                                <li><a href="/Masters/CollectionAreaModel">Collection Area</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            <li>
                                <a href="@Url.Action("Signout", "Account")" class="icon-menu"><i class="icon-login"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-btn">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <i class="lnr lnr-menu fa fa-bars"></i>
                    </button>
                </div>
            </div>
        </nav>
        <div id="rightbar" class="rightbar">
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="navbar-collapse align-items-center collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown@(ViewBag.Menu == "Dashboard" ? " active" : "")">
                                <a href="/Home/Index" class="nav-link"><i class="icon-home"></i>Dashboard</a>
                            </li>
                            <li class="nav-item dropdown@(ViewBag.Menu == "Businesses" ? " active" : "")">
                                <a href="/Operations/Index" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-map"></i>Businesses</a>
                                <div class="dropdown-menu animated bounceIn left-side colmun2-menu">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="javascript:void(0)">Enquiry</a></li>
                                                <li><a href="javascript:void(0)">Contract</a></li>
                                                <li><a href="javascript:void(0)">Disbursement</a></li>
                                                <li><a href="javascript:void(0)">Post Disbursement Document</a></li>
                                                <li><a href="javascript:void(0)">Receipt Details</a></li>
                                                <li><a href="javascript:void(0)">Cheque Return Advice</a></li>
                                                <li><a href="javascript:void(0)">Closure Request</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="javascript:void(0)">Repossession Request</a></li>
                                                <li><a href="javascript:void(0)">PDC Pick List</a></li>
                                                <li><a href="javascript:void(0)">Deposit Receipt</a></li>
                                                <li><a href="javascript:void(0)">Deposit Interest Payment</a></li>
                                                <li><a href="javascript:void(0)">Release Request</a></li>
                                                <li><a href="javascript:void(0)">Reversal Receipt Details</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown@(ViewBag.Menu == "Finance" ? " active" : "")">
                                <a href="/FormDesigner/Index" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i>Finance</a>
                                <div class="dropdown-menu animated bounceIn left-side colmun2-menu">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="javascript:void(0)">Supplier Bill Registration</a></li>
                                                <li><a href="javascript:void(0)">Bank Reconciliation</a></li>
                                                <li><a href="javascript:void(0)">Raise Bill Passing Voucher</a></li>
                                                <li><a href="javascript:void(0)">Cash/Bank Voucher Entries</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="javascript:void(0)">Adjustment Voucher Entry</a></li>
                                                <li><a href="javascript:void(0)">Debits / Credit Notes</a></li>
                                                <li><a href="javascript:void(0)">Knock Off</a></li>
                                                <li><a href="javascript:void(0)">Bill/Invoice</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown@(ViewBag.Menu == "Reports" ? " active" : "")">
                                <a href="/FormDesigner/FormModule" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i>Reports</a>
                                <div class="dropdown-menu animated bounceIn left-side colmun2-menu">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="javascript:void(0)">Arrears List</a></li>
                                                <li><a href="javascript:void(0)">Document Reports</a></li>
                                                <li><a href="javascript:void(0)">Disbursment Register</a></li>
                                                <li><a href="javascript:void(0)">Collection Register</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="javascript:void(0)">Annexure</a></li>
                                                <li><a href="javascript:void(0)">To Verify Migration Data</a></li>
                                                <li><a href="javascript:void(0)">Other</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="main-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="~/js/libscripts.bundle.js"></script>
    <script src="~/js/vendorscripts.bundle.js"></script>
    <script src="~/js/chartist.bundle.js"></script>
    <script src="~/js/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/js/flotscripts.bundle.js"></script> <!-- flot charts Plugin Js -->
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="~/lib/flot-charts/jquery.flot.selection.js"></script>


    <script src="~/js/mainscripts.bundle.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
