﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="~/assets/images/logo.svg">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="~/assets/images/logo.svg">

    <!-- style -->
    <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css" />
    <!-- build:css ../assets/css/app.min.css -->
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/app.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" />
    <!-- endbuild -->
    <style type="text/css">
        .form-error-msg {
            color: red;
        }
    </style>
    @RenderSection("Style", required: false)
</head>
<body>

    <div class="app" id="app">
        <!-- ############ LAYOUT START-->
        <!-- ############ Aside START-->
        <div id="aside" class="app-aside fade box-shadow-x nav-expand white" aria-hidden="true">
            <div class="sidenav modal-dialog dk white">
                <!-- sidenav top -->
                <div class="navbar lt">
                    <!-- brand -->
                    <a href="/Home/Index" class="navbar-brand">
                        <svg viewBox="0 0 24 24" height="28" width="28" xmlns="http://www.w3.org/2000/svg">
                            @*<path d="M0 0h24v24H0z" fill="none" />
                                <path d="M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z" fill="#fff" class="fill-theme" />*@
                        </svg>
                        <img src="../assets/images/logo.png" alt="." class="hide">
                        @*<span class="hidden-folded d-inline">certa</span>*@
                        <img src="~/assets/images/certalogo1.jpg" />
                    </a>
                    <!-- / brand -->
                </div>


                <!-- Flex nav content -->
                @*<div class="flex hide-scroll">
                    <div class="scroll">*@
                <div>
                    <div>
                        <div class="nav-border b-primary" data-nav>
                            <ul class="nav bg">

                                @*<li class="nav-header">
                                        <div class="py-3">
                                            <a href="javascript:void(0);" class="btn btn-sm success theme-accent btn-block">
                                                <i class="fa fa-fw fa-plus"></i>
                                                <span class="hidden-folded d-inline">New Project</span>
                                            </a>
                                        </div>
                                        <span class="text-xs hidden-folded">Main</span>
                                    </li>*@
                                <li>
                                    <a href="/Home/Index">
                                        <span class="nav-icon">
                                            <i class="fa fa-dashboard"></i>
                                        </span>
                                        <span class="nav-text">Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/CertaCaseManagement/Index">
                                        @*<span class="nav-caret">
                                                <i class="fa fa-caret-down"></i>
                                            </span>*@
                                        <span class="nav-icon no-fade">
                                            <i class="fa fa-tasks"></i>
                                        </span>
                                        <span class="nav-text">Case Management</span>
                                    </a>
                                    @*<ul class="nav-sub">
                                            <li>
                                                <a href="form.layout.html">
                                                    <span class="nav-text">Cases</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="form.element.html">
                                                    <span class="nav-text">Assign</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="form.validation.html">
                                                    <span class="nav-text">Track</span>
                                                </a>
                                            </li>

                                        </ul>*@
                                </li>
                                <li>
                                    <a href="/GeoLocator/Index">
                                        @*<span class="nav-caret">
                                                <i class="fa fa-caret-down"></i>
                                            </span>*@
                                        <span class="nav-icon no-fade">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                        <span class="nav-text">Geo Locator</span>
                                    </a>
                                    @*<ul class="nav-sub">
                                            <li>
                                                <a href="form.layout.html">
                                                    <span class="nav-text">Cases</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="form.element.html">
                                                    <span class="nav-text">Assign</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="form.validation.html">
                                                    <span class="nav-text">Track</span>
                                                </a>
                                            </li>

                                        </ul>*@
                                </li>
                                <li>
                                    <a>
                                        <span class="nav-caret">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                        <span class="nav-icon">
                                            <i class="fa fa-money"></i>
                                        </span>
                                        <span class="nav-text">Finance</span>
                                    </a>
                                    <ul class="nav-sub">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Unbilled</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Billed</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Paid</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Reconciliation</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Rebilling</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a>
                                        <span class="nav-caret">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                        <span class="nav-icon">
                                            <i class="fa fa-bar-chart"></i>
                                        </span>
                                        <span class="nav-text">Reports</span>
                                    </a>
                                    <ul class="nav-sub">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Case Mangement</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Operations</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text"> Employees Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Leave Report</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Workday Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Salary Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Billed Status</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Payment Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Payout Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">Accout Receivable</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <span class="nav-text">GST Report</span>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="chart.peity.html">
                                                    <span class="nav-text">Peity</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="chartjs.html">
                                                    <span class="nav-text">Chartjs</span>
                                                </a>
                                            </li>*@
                                    </ul>
                                </li>
                                @*<li>
                                        <a>
                                            <span class="nav-caret">
                                                <i class="fa fa-caret-down"></i>
                                            </span>
                                            <span class="nav-icon">
                                                <i class="fa fa-sitemap"></i>
                                            </span>
                                            <span class="nav-text">Organization</span>
                                        </a>
                                        @*<ul class="nav-sub">
                                            <li>
                                                <a href="/OrgCompany/OrgCompanyModule">
                                                    <span class="nav-text">Company</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/OrgDepartment/OrgDepartmentModel">
                                                    <span class="nav-text">Department</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>*@
                                <!-- <li class="pb-2 hidden-folded"></li> -->
                                <!-- <li class="pb-2 hidden-folded"></li> -->
                            </ul>
                            <ul class="nav ">




                                @*<li>
                                    <a>
                                        <span class="nav-caret">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                        <span class="nav-icon no-fade">
                                            <i class="fa fa-address-book-o"></i>
                                        </span>
                                        <span class="nav-text">Workforce</span>
                                    </a>
                                    <ul class="nav-sub nav-mega">

                                        @*<li>
                                                <a href="ui.scroll.html">
                                                    <span class="nav-text">Directory</span>
                                                </a>
                                            </li>*@
                                @*<li>
                                        <a href="ui.sortable.html">
                                            <span class="nav-text">Geo Locator</span>
                                        </a>
                                    </li>*@
                                @*<li>
                                                    <a href="ui.scrollreveal.html">
                                                        <span class="nav-text">Scroll Reveal</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="ui.map.html">
                                                        <span class="nav-text">Vector map</span>
                                                    </a>
                                                </li>
                                        </ul>
                                    </li>*@





                                <li>
                                    <a>
                                        <span class="nav-caret">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                        <span class="nav-icon">
                                            <i class="fa fa-gear"></i>
                                        </span>
                                        <span class="nav-text">Configuration</span>
                                    </a>
                                    <ul class="nav-sub">
                                        <li>
                                            <a href="/OrgCompany/OrgCompanyModule">
                                                <span class="nav-text"><i class="fa fa-building"></i>&nbsp; &nbsp;Company</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/OrgDepartment/OrgDepartmentModule">
                                                <span class="nav-text"><i class="fa fa-sitemap"></i>&nbsp; &nbsp;Department</span>
                                            </a>
                                        </li>
                                        <li>

                                            <a href="/WorkForceEmployee/WorkForceEmployeeModule">
                                                <span class="nav-text"><i class="fa fa-address-book-o"></i>&nbsp; &nbsp;Workforce</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Configuration/UserModule">
                                                <span class="nav-text"> <i class="fa fa-user"></i>&nbsp; &nbsp;User</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Client/OrgClientModule">

                                                <span class="nav-text"><i class="fa fa-address-card"></i>&nbsp; &nbsp; Customer</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ProductManagement/Index">
                                                <span class="nav-text"> <i class="fa fa-file-code-o"></i>&nbsp; &nbsp;Product</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/CaseManagement/Index">
                                                <span class="nav-text"><i class="fa fa-briefcase"></i>&nbsp; &nbsp;Cases</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Evidentiary/Index">
                                                <span class="nav-text"><i class="fa fa-database"></i>&nbsp; &nbsp;Evidentiary</span>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="javascript:void(0);">
                                                    <span class="nav-text"><i class="fa fa-question-circle"></i>&nbsp; &nbsp;Query Builder</span>
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="/Templates/TemplatesModel">
                                                <span class="nav-text"><i class="fa fa-desktop"></i>&nbsp; &nbsp;Templates</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ServiceArea/ServiceareaModule">
                                                <span class="nav-text"><i class="fa fa-map-pin"></i>&nbsp; &nbsp;Service Area</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- sidenav bottom -->
                @*<div class="no-shrink lt">
                        <div class="nav-fold">
                            <a class="d-flex p-2-3" data-toggle="dropdown">
                                <span class="avatar w-28 grey hide">J</span>
                                <img src="../assets/images/a0.jpg" alt="..." class="w-28 circle">
                            </a>
                            <div class="dropdown-menu  w pt-0 mt-2 animate fadeIn">
                                <div class="row no-gutters b-b mb-2">
                                    <div class="col-4 b-r">
                                        <a href="app.user.html" class="py-2 pt-3 d-block text-center">
                                            <i class="fa text-md fa-phone-square text-muted"></i>
                                            <small class="d-block">Call</small>
                                        </a>
                                    </div>
                                    <div class="col-4 b-r">
                                        <a href="app.message.html" class="py-2 pt-3 d-block text-center">
                                            <i class="fa text-md fa-comment text-muted"></i>
                                            <small class="d-block">Chat</small>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="app.inbox.html" class="py-2 pt-3 d-block text-center">
                                            <i class="fa text-md fa-envelope text-muted"></i>
                                            <small class="d-block">Email</small>
                                        </a>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="profile.html">
                                    <span>Profile</span>
                                </a>
                                <a class="dropdown-item" href="setting.html">
                                    <span>Settings</span>
                                </a>
                                <a class="dropdown-item" href="app.inbox.html">
                                    <span class="float-right"><span class="badge info">6</span></span>
                                    <span>Inbox</span>
                                </a>
                                <a class="dropdown-item" href="app.message.html">
                                    <span>Message</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="docs.html">
                                    Need help?
                                </a>
                                <a class="dropdown-item" href="signin.html">Sign out</a>
                            </div>
                            <div class="hidden-folded flex p-2-3 bg">
                                <div class="d-flex p-1">
                                    <a href="app.inbox.html" class="flex text-nowrap">
                                        <i class="fa fa-bell text-muted mr-1"></i>
                                        <span class="badge badge-pill theme">20</span>
                                    </a>
                                    <a href="lockme.html" class="px-2" data-toggle="tooltip" title="Logout">
                                        <i class="fa fa-power-off text-muted"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
        <!-- ############ Aside END-->
        <!-- ############ Content START-->
        <div id="content" class="app-content box-shadow-0" role="main">
            <!-- Header -->
            <div class="content-header white  box-shadow-0" id="content-header">
                <div class="navbar navbar-expand-lg">
                    <!-- btn to toggle sidenav on small screen -->
                    <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" /></svg>
                    </a>
                    <!-- Page title -->
                    <div class="navbar-text nav-title flex" id="pageTitle">@ViewBag.Title</div>

                    <ul class="nav flex-row order-lg-2">
                        <!-- Notification -->
                        @*<li class="nav-item dropdown">
                                <a class="nav-link px-3" data-toggle="dropdown">
                                    <i class="fa fa-bell text-muted"></i>
                                    <span class="badge badge-pill up danger">12</span>
                                </a>
                                <!-- dropdown -->

                                <!-- / dropdown -->
                            </li>*@

                        <!-- User dropdown menu -->
                        @*<li class="dropdown d-flex align-items-center">
                            <a class="nav-link px-3" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn">
                                <a class="dropdown-header">
                                    <span><b>Configuration</b></span>
                                </a>
                                <a class="dropdown-item" href="/Configuration/UserModule">
                                    <i class="fa fa-users"></i><span>User Management</span>
                                </a>
                                <a class="dropdown-item" href="setting.html">
                                    <i class="fa fa-database"></i><span>Product Management</span>
                                </a>
                                <a class="dropdown-item" href="setting.html">
                                    <i class="fa fa-commenting"></i><span>Query Builder</span>
                                </a>*@
                        @*<a class="dropdown-item" href="signin.html">Sign out</a>*@
                        <a href="@Url.Action("Signout", "Account")" class="dropdown-item"><i class="fa fa-sign-out"></i>Sign out</a>

                        @*</div>
                            </li>*@
                        @*<li class="dropdown d-flex align-items-center">
                                <a href="javascript:void(0);" data-toggle="dropdown" class="d-flex align-items-center">
                                    <span class="avatar w-32">
                                        <img src="../assets/images/a7.jpg" alt="...">
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn">
                                    <div class="row no-gutters b-b mb-2">
                                        <div class="col-4 b-r">
                                            <a href="app.user.html" class="py-2 pt-3 d-block text-center">
                                                <i class="fa text-md fa-phone-square text-muted"></i>
                                                <small class="d-block">Call</small>
                                            </a>
                                        </div>
                                        <div class="col-4 b-r">
                                            <a href="app.message.html" class="py-2 pt-3 d-block text-center">
                                                <i class="fa text-md fa-comment text-muted"></i>
                                                <small class="d-block">Chat</small>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="app.inbox.html" class="py-2 pt-3 d-block text-center">
                                                <i class="fa text-md fa-envelope text-muted"></i>
                                                <small class="d-block">Email</small>
                                            </a>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="profile.html">
                                        <span>Profile</span>
                                    </a>
                                    <a class="dropdown-item" href="setting.html">
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="app.inbox.html">
                                        <span class="float-right"><span class="badge info">6</span></span>
                                        <span>Inbox</span>
                                    </a>
                                    <a class="dropdown-item" href="app.message.html">
                                        <span>Message</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="docs.html">
                                        Need help?
                                    </a>
                                    <a class="dropdown-item" href="signin.html">Sign out</a>
                                </div>
                            </li>*@
                        <!-- Navarbar toggle btn -->
                        <li class="d-lg-none d-flex align-items-center">
                            <a href="javascript:void(0);" class="mx-2" data-toggle="collapse" data-target="#navbarToggler">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512"><path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z" /></svg>
                            </a>
                        </li>
                    </ul>
                    <!-- Navbar collapse -->
                    <div class="collapse navbar-collapse no-grow order-lg-1" id="navbarToggler">
                        <form class="input-group m-2 my-lg-0">
                            <span class="input-group-btn">
                                <button type="button" class="btn no-border no-bg no-shadow"><i class="fa fa-search"></i></button>
                            </span>
                            <input type="text" class="form-control no-border no-bg no-shadow" placeholder="Claim Search ...">
                        </form>
                    </div>

                </div>
            </div>
            <!-- Main -->
            <div class="content-main " id="content-main">
                <!-- ############ Main START-->

                <div>
                    @RenderBody()
                </div>

                <!-- ############ Main END-->
            </div>
            <!-- Footer -->
            @*<div class="content-footer white " id="content-footer">
                    <div class="d-flex p-3">
                        <span class="text-sm text-muted flex">&copy; Copyright. Flatfull</span>
                        <div class="text-sm text-muted">Version 1.1.3</div>
                    </div>
                </div>*@
        </div>
        <!-- ############ Content END-->
        <!-- ############ LAYOUT END-->
    </div>


    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- core -->
    <script src="~/libs/pace-progress/pace.min.js"></script>
    <script src="~/libs/pjax/pjax.js"></script>
    <script src="~/scripts/lazyload.config.js"></script>
    <script src="~/scripts/lazyload.js"></script>
    <script src="~/scripts/plugin.js"></script>
    <script src="~/scripts/nav.js"></script>
    <script src="~/scripts/scrollto.js"></script>
    <script src="~/scripts/toggleclass.js"></script>
    <script src="~/scripts/theme.js"></script>
    <script src="~/scripts/ajax.js"></script>
    <script src="~/scripts/app.js"></script>
    <!-- endbuild -->


    @RenderSection("Scripts", required: false)
</body>
</html>
