﻿@model Accounting.Web.Models.DBModels.LegalEntityProjectMappingModel
<style>
    .checkboxlist {
        border: 1px solid #ced4da;
        border-collapse: collapse;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        max-height:150px;
        overflow-y:auto;
    }

        .checkboxlist label:first-child {
            margin-top: 10px;
        }

        .checkboxlist label {
            padding-left: 10px;
        }
</style>

<div id="divResult">
    <div class="modal-header">
        <h4 class="title">Add Legal Entity Project Mapping</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <select id="ddl_LegalEntity" onchange="fnBindLegalEntityProjectMappingByLegalEntityID()" class="form-control">
                @*onchange="fnBindLegalEntityProjectMapping()"*@
                <option value="0">Legal Entity</option>
                @foreach (var item in @ViewBag.AllLegalEntity)
                {
                    <option value="@item.EntityID">@item.Name</option>
                }
            </select>
            <span style="color:red;display:none;" id="spn_LegalEntity">Please select Legal Entity</span>
        </div>
        <div class="form-group">
            <select id="ddl_ProfitCentre" onchange="fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreID()" class="form-control">
                @*onchange="fnBindLegalEntityLocationMapping()"*@
                <option value="0">Profit Centre</option>
                @*@foreach (var item in @ViewBag.AllProfitCentreByEntity)
                {
                  <option value="@item.ProfitCentreID">@item.ProfitCentreName</option>
                }*@
            </select>
            <span style="color:red;display:none;" id="spn_ProfitCentre">Please select Profit Centre</span>
        </div>
        <div class="form-group">
            <select id="ddl_Location" onchange="fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationID()" class="form-control">
                @*onchange="fnBindLegalEntityLocationMapping()"*@
                <option value="0">Location</option>
                @*@foreach (var item in @ViewBag.AllProfitCentreByEntity)
                {
                  <option value="@item.ProfitCentreID">@item.ProfitCentreName</option>
                }*@
            </select>
            <span style="color:red;display:none;" id="spn_ProfitCentre">Please select Location</span>
        </div>
        <div class="form-group">
            <select id="ddl_Unit" onchange="fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID()" class="form-control">
                @*onchange="fnBindLegalEntityLocationMapping()"*@
                <option value="0">Unit</option>
                @*@foreach (var item in @ViewBag.AllProfitCentreByEntity)
                {
                  <option value="@item.ProfitCentreID">@item.ProfitCentreName</option>
                }*@
            </select>
            <span style="color:red;display:none;" id="spn_ProfitCentre">Please select Unit</span>
        </div>
        <div class="form-group clearfix">
            <span>Project</span>
            <br />
            <div class="checkboxlist">
                @foreach (var item in @ViewBag.AllProject)
                {
                    <label class="fancy-checkbox element-left">
                        <input id="Project_@item.ProjectID" value="@item.ProjectID" class="ProjectID" type="checkbox">
                        <span>@item.ProjectName</span>
                    </label><br />
                }
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" id="btn_Submit" title="Save!" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" title="Close!" data-dismiss="modal">Cancel</button>
    </div>
</div>
<script type="text/javascript">
    function fnBindLegalEntityProjectMappingByLegalEntityID() {
        //alert("sdfsdf");
          $("#ddl_ProfitCentre").html('');
        $("#ddl_ProfitCentre").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Location").html('');
        $("#ddl_Location").append($('<option></option>').val(0).html("Select"));
        $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
        var ddl_LegalEntity = $("#ddl_LegalEntity");
         if (Number(ddl_LegalEntity.val()) != 0) {
             var LegalEntityid = Number(ddl_LegalEntity.val());
             $.ajax({
                 url: "/LegalEntityProjectMapping/BindLegalEntityProfitCentreMappingByLegalEntityID?EntityID=" + LegalEntityid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {

                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#ddl_ProfitCentre").append($('<option></option>').val(v.profitCentreID).html(v.profitCentreName));
                     })
                 },

                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         }
         fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
    }
    function fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreID() {
        //alert("sdfsdf");
          
        $("#ddl_Location").html('');
        $("#ddl_Location").append($('<option></option>').val(0).html("Select"));
         $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
        var ddl_LegalEntity = $("#ddl_LegalEntity");
        var ddl_ProfitCentre = $("#ddl_ProfitCentre");
         if (Number(ddl_LegalEntity.val()) != 0) {
             var LegalEntityid = Number(ddl_LegalEntity.val());
             var ProfitCentreid = Number(ddl_ProfitCentre.val());
             $.ajax({
                 url: "/LegalEntityProjectMapping/BindLegalEntityLocationMappingByLegalEntityIDProfitCentreID?EntityID=" + LegalEntityid+"&ProfitCentreID="+ProfitCentreid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {

                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#ddl_Location").append($('<option></option>').val(v.locationID).html(v.locationName));
                     })
                 },

                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         }
         fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
    }
     function fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationID() {
        //alert("sdfsdf");
        $("#ddl_Unit").html('');
        $("#ddl_Unit").append($('<option></option>').val(0).html("Select"));
        var ddl_LegalEntity = $("#ddl_LegalEntity");
         var ddl_ProfitCentre = $("#ddl_ProfitCentre");
         var ddl_Location = $("#ddl_Location");
         if (Number(ddl_LegalEntity.val()) != 0) {
             var LegalEntityid = Number(ddl_LegalEntity.val());
             var ProfitCentreid = Number(ddl_ProfitCentre.val());
             var Locationid = Number(ddl_Location.val());
             $.ajax({
                 url: "/LegalEntityProjectMapping/BindLegalEntityUnitMappingByLegalEntityIDProfitCentreIDLocationID?EntityID=" + LegalEntityid+"&ProfitCentreID="+ProfitCentreid+"&LocationID="+Locationid,
                 type: "GET",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (msg) {

                     //alert(msg);
                     $.each(msg, function (x, v) {
                         $("#ddl_Unit").append($('<option></option>').val(v.unitID).html(v.unitName));
                     })
                 },

                 failure: function (response) {
                     //alert(response);
                 },
                 error: function (response) {
                     //  alert(response);
                 }
             });
         }
         fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID();
    }
    
    function fnBindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID() {
        $(".ProjectID").each(function (i) {
             $(this).removeAttr("checked");
            });
        //alert("sdfsdf");
        var ddl_LegalEntity = $("#ddl_LegalEntity");
        var ddl_ProfitCentre = $("#ddl_ProfitCentre");
        var ddl_Location = $("#ddl_Location");
        var ddl_Unit = $("#ddl_Unit");
       // var bindstatus = false;
        if (Number(ddl_LegalEntity.val()) != 0) {
               var LegalEntityid = Number(ddl_LegalEntity.val());
            var ProfitCentreid = Number(ddl_ProfitCentre.val());
            var Locationid = Number(ddl_Location.val());
            var Unitid = Number(ddl_Unit.val());
            //alert(GroupType);

            $.ajax({
                url: "/LegalEntityProjectMapping/BindLegalEntityProjectMappingByLegalEntityIDProfitCentreIDLocationIDUnitID?EntityID=" + LegalEntityid+"&ProfitCentreID="+ProfitCentreid+"&LocationID="+Locationid+"&UnitID="+Unitid,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                  
                        $(".ProjectID").each(function (index) {
                            var ProjectID = $(this).val();
                            var stas = false;
                            $.each(msg, function (x, v) {
                                if (v.projectID == ProjectID) {
                                    stas = true;
                                }
                            });
                            if (stas == true) {
                                $(this).attr("checked", true);
                            }
                            else {
                                $(this).removeAttr("checked");
                            }


                        });
                  
                },

                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }
       
       

    }
    $("#btn_Submit").click(function () {

        if (fnValidate()) {
            var ddl_LegalEntity = $("#ddl_LegalEntity"),
                 ddl_ProfitCentre = $("#ddl_ProfitCentre"),
                ddl_Location = $("#ddl_Location"),
                 ddl_Unit = $("#ddl_Unit"),
                //CategoryName = $("#CategoryName"),
                data = {},
                headers = [],
                fields = [];

            data["LegalEntityID"] = parseInt(ddl_LegalEntity.val());
            data["ProfitCentreID"] = parseInt(ddl_ProfitCentre.val());
            data["LocationID"] = parseInt(ddl_Location.val());
            data["UnitID"] = parseInt(ddl_Unit.val());
            headers.push("ProjectID");
            $(".ProjectID").each(function (index) {
                if ($(this).is(':checked') == true) {
                   // alert($(this).is(':checked'));
                    //$(this).val();
                    var h2 = {};
                    h2["ProjectID"] = $(this).val();
                    fields.push(h2);
                }
            });
            data["ProjectList"] = fields;
            //alert(data);
            //data["CategoryName"] = CategoryName.val();
            $.ajax({
                url: "/LegalEntityProjectMapping/InsertLegalEntityProjectMapping",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    window.location.href = "/LegalEntityProjectMapping/Index";
                },
                error: function (msg) {

                }
            });
        }
        else {
            return false;
        }
    });

   
    function fnValidate() {

        event.preventDefault();

        var ddl_LegalEntity = $("#ddl_LegalEntity"),
            isValid = true,
            spn_LegalEntity = $("#spn_LegalEntity");
        spn_LegalEntity.hide();
        //spn_name.hide();
        if (ddl_LegalEntity.val() == 0) {
            spn_LegalEntity.show();
            isValid = false;
        }


        return isValid;
    }
</script>




